Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

initial basic github action ci workflow debugging
  .github/workflows/ci_test-full.yml
  pyproject.toml
  requirements/base.txt
  requirements/examples.txt
  requirements/test.txt
Labels: area: docs, area: ci, area: build, dependencies, config

add hook to regenerate ci_reqs.txt using pip-compile using local dev environmental cache
  .github/workflows/ci_test-full.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/ci_reqs.in
  requirements/ci_reqs.txt
Labels: area: docs, area: ci, area: build, dependencies, config

add ci constraints file until some other dependencies can be updated
  .github/workflows/ci_test-full.yml
  requirements/ci_constraints.txt
  requirements/ci_reqs.in
  requirements/ci_reqs.txt
Labels: area: docs, area: ci, area: build, dependencies, config

refactor initial test workflow to address macos dep issue
  .github/workflows/ci_test-full.yml
  requirements/ci_constraints.txt
Labels: area: docs, area: ci, area: build, dependencies, config

move tests causing GHA runner problems to self-hosted runner
  .github/workflows/ci_test-full.yml
  tests/core/test_analysis_ops_definitions.py
Labels: area: tests, area: ci, config

bypass another test causing GHA runner issues
  tests/core/test_sae_lens.py
Labels: area: tests

remove another test causing gha runner resource exhaustion and script monitoring default runner workflow for improved diagnostics
  .github/workflows/ci_test-full.yml
  scripts/ci_resource_monitor.sh
  tests/core/test_fts_ext.py
  tests/parity_acceptance/test_it_fts.py
Labels: area: tests, area: ci, area: scripts, config

update workflow to only run ci resource debugging for non-windows runner, force_prepare_data for a dataset cache dependent test, make test_sae_lens device sync test handle mac os MPS case
  .github/workflows/ci_test-full.yml
  tests/core/cfg_aliases.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_fts_ext.py
  tests/core/test_sae_lens.py
Labels: area: tests, area: ci, config

open yaml files with explicit utf-8 encoding
  scripts/generate_op_stubs.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/registry.py
  tests/results.py
Labels: module: analysis, module: registry, area: tests, area: scripts

address non-linux runner os failures for hub integration tests and update coverage config
  .github/workflows/ci_test-full.yml
  tests/core/test_hub_integration.py
Labels: area: tests, area: ci, config

coverage config update, address hugging face env pollution with new fixture
  .github/workflows/ci_test-full.yml
  pyproject.toml
  tests/conftest.py
  tests/core/test_base_config.py
  tests/core/test_fts_ext.py
  tests/parity_acceptance/test_it_sl.py
  tests/utils.py
Labels: module: utils, area: tests, area: ci, area: build, dependencies, config

add skeleton/placeholder readme
  README.md
Labels: area: docs

normalize analysis op names to ensure cross-platform consistency
  src/interpretune/analysis/ops/dispatcher.py
Labels: module: analysis

address cross-platform path and str parsing test consistency, upgrade to datasets 4.0 with associated deprecation of trust_remote_code (in the context of datasets)
  .github/workflows/ci_test-full.yml
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/base/datamodules.py
  src/interpretune/config/datamodule.py
  src/interpretune/protocol.py
  src/interpretune/runners/analysis.py
  src/it_examples/example_module_registry.yaml
  src/it_examples/experiments/rte_boolq.py
  src/it_examples/notebooks/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/core/cfg_aliases.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_base_config.py
  tests/core/test_contract.py
  tests/core/test_dynamic_module_utils.py
  tests/core/test_fts_ext.py
  tests/core/test_hub_integration.py
  tests/modules.py
  tests/orchestration.py
  tests/parity_acceptance/test_it_sl.py
  tests/utils.py
Labels: module: analysis, module: base, module: config, module: runners, module: utils, module: protocol, area: examples, area: experiments, area: notebooks, area: tests, area: ci, config

turn down logging level for default ci workflow and document new env switches for enhanced CI logging
  .github/workflows/ci_test-full.yml
  tests/README.md
Labels: area: tests, area: docs, area: ci, config

add PYTEST_FILTER_PATTERN option for CI flow
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

install huggingface_hub with hf_xet extra when testing
  pyproject.toml
Labels: area: build, dependencies, config

add bugfix branch category for easier ci flow control
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

update copilot instructions, ci_test-full workflow, add initial copilot setup workflow, update build_it_env
  .github/instructions/copilot-instructions.md
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  scripts/build_it_env.sh
Labels: area: docs, area: ci, area: scripts, config

pin torch CI until we have a chance to test locally
  pyproject.toml
  requirements/base.txt
Labels: area: docs, area: build, dependencies, config

test with enhanced debugging for windows but minimized repreparation
  .github/workflows/ci_test-full.yml
  tests/core/test_fts_ext.py
Labels: area: tests, area: ci, config

cleanup and enhanced debugging
  .github/workflows/ci_test-full.yml
  tests/conftest.py
  tests/core/test_fts_ext.py
  tests/modules.py
  tests/parity_acceptance/test_it_fts.py
Labels: area: tests, area: ci, config

add wtrace os-level tracing
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

add wtrace os-level tracing
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
  scripts/ci_resource_monitor.sh
  tests/core/cfg_aliases.py
  tests/core/test_fts_ext.py
Labels: area: tests, area: ci, area: scripts, config

test fix with non-windows OS types enabled
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

initial grafana cloud integration config test
  .github/actions/run-grafana-alloy-exporter/action.yml
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
  src/interpretune/base/datamodules.py
  src/interpretune/config/datamodule.py
  src/interpretune/protocol.py
  tests/modules.py
  tests/parity_acceptance/test_it_fts.py
Labels: module: base, module: config, module: protocol, area: tests, area: ci, config

Apply suggestion from @Copilot
  tests/core/cfg_aliases.py
Labels: area: tests

Apply suggestion from @Copilot
  src/interpretune/config/datamodule.py
Labels: module: config

fix incomplete copilot suggestions and adjust/test explicit error reporting step
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
  src/interpretune/config/datamodule.py
  tests/core/cfg_aliases.py
Labels: module: config, area: tests, area: ci, config

improve composite action error handling
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

make analysis op serialization tests more platform and cache independent, add conditional analysis debug dump artifact upload
  .github/workflows/ci_test-full.yml
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/utils/exceptions.py
  tests/core/cfg_aliases.py
  tests/core/test_utils.py
Labels: module: analysis, module: utils, area: tests, area: ci, config

update upload-artifact config wrt analysis debug dump artifact step
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

regenerate initial resource exhaustion metrics before enhancing/refactoring test infra
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_sae_lens.py
Labels: area: tests

regenerate initial resource exhaustion metrics before enhancing/refactoring test infra
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_sae_lens.py
Labels: area: tests

re-enable temporarily disabled tests for GHA standard runner
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_sae_lens.py
Labels: area: tests

initial customizable ci pin installation flow PR commit
  .github/instructions/copilot-instructions.md
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
  pyproject.toml
  requirements/regen_reqfiles.py
  scripts/build_it_env.sh
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

test local CI stabilization refactor changes
  .github/workflows/ci_test-full.yml
  pyproject.toml
  requirements/post_upgrades.txt
  requirements/regen_reqfiles.py
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

ensure new regen req tests avoid manipulating actual requirement files
  requirements/post_upgrades.txt
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: build, dependencies

ci: move regen-check to scheduled workflow that opens auto-PRs
  .github/workflows/ci_test-full.yml
  .github/workflows/regen-check.yml
Labels: area: ci, config

ci: add report-only regen-check workflow (non-blocking)
  .github/workflows/regen-report.yml
Labels: area: ci, config
