Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Add the three ride strengths to the verification guidance (#530)
  AGENTS.md
Labels: area: docs

Make the bundled set's entry gate a test, pin the additive-change rule, and document leaving
  docs/activation_point_vocabulary.md
  tests/core/test_component_map_schema2.py
Labels: area: tests, area: docs

Gate entry to the bundled component-map set with a test and state the evolution policy (#531)
  docs/activation_point_vocabulary.md
  tests/core/test_component_map_schema2.py
Labels: area: tests, area: docs

Ground the norm-folding derivation page with the investigation (#473)
  docs/jlens_norm_folding.md
  docs/source/index.md
  docs/source/usage/jlens_norm_folding.md
Labels: area: docs

Add the latent, gradient and mixed-scope conformance cases; fix four silent-empty paths on the TransformerLens targets
  docs/activation_point_vocabulary.md
  docs/adapter_conformance_contract.md
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/points/component_map.py
  src/interpretune/config/analysis.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/reference.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_activation_points.py
  tests/core/test_backend_conformance.py
  tests/core/test_component_map_schema2.py
  tests/core/test_conformance_harness.py
  tests/core/test_multi_backend_parity.py
Labels: module: adapters, module: analysis, module: config, area: tests, area: docs

Record interp-engine in the environment provenance
  requirements/utils/collect_env_details.py
Labels: area: build, dependencies

Type the callable hook selector and the analysis batch for pyright; make the backend unit tests' mocks expose the hooks they name
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/testing/conformance/cases.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_ops_definitions.py
Labels: module: adapters, area: tests

Compare batched and sequential hook runs at the padded tolerance, with the macOS measurement beside it
  src/interpretune/testing/conformance/cases.py
Labels: none

Add the latent, gradient and mixed-scope conformance cases; fix four silent-empty paths on the TransformerLens targets (#533)
  docs/activation_point_vocabulary.md
  docs/adapter_conformance_contract.md
  requirements/utils/collect_env_details.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/points/component_map.py
  src/interpretune/config/analysis.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/reference.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_activation_points.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_backend_conformance.py
  tests/core/test_component_map_schema2.py
  tests/core/test_conformance_harness.py
  tests/core/test_multi_backend_parity.py
Labels: module: adapters, module: analysis, module: config, area: tests, area: docs, area: build, dependencies

Declare what a backend can capture, check the declaration both ways, add the analysis-backend cases
  AGENTS.md
  docs/adapter_conformance_contract.md
  docs/adapter_development_guide.md
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/points/inventory.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/config/analysis.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/ops.py
  src/interpretune/testing/conformance/plugin.py
  src/interpretune/testing/conformance/session.py
  tests/conftest.py
  tests/core/test_analysis_backends.py
  tests/core/test_backend_conformance.py
  tests/core/test_capture_support.py
  tests/core/test_conformance_harness.py
Labels: module: adapters, module: analysis, module: config, area: tests, area: docs

State that a capture declaration is valid for one model instance as it stands, and re-queried after attaching a latent model
  docs/adapter_conformance_contract.md
  docs/adapter_development_guide.md
  src/interpretune/analysis/backends/capabilities.py
Labels: module: analysis, area: docs

Refuse a capture declaration that leaves any inventory point undecided
  src/interpretune/analysis/backends/capabilities.py
  tests/core/test_capture_support.py
Labels: module: analysis, area: tests

Rank the sandwich norms in the nnsight trace order; constrain every layer in the feature-edge case
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/testing/conformance/cases.py
Labels: module: adapters

Sort a contribution with the norm it resolves to, and rank a sublayer's children distinctly in execution order
  src/interpretune/adapters/nnsight/backends.py
Labels: module: adapters

Type the re-key map as every accepted spelling on both filter paths, and cast the absent batch the graph ops take
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/testing/conformance/cases.py
  tests/core/test_analysis_backends.py
Labels: module: adapters, area: tests

Report the attention binding, mode and source-node set when the attribution graph op fails
  src/interpretune/testing/conformance/cases.py
Labels: none

Report the bound attention function's identity beside a failing graph op
  src/interpretune/testing/conformance/cases.py
Labels: none

Compare the registry's eager attention function by identity against the module it is defined in
  src/interpretune/testing/conformance/cases.py
Labels: none

Name the attention function the selector returns, with its identity and its source's dropout count
  src/interpretune/testing/conformance/cases.py
Labels: none

Print the attention function's provenance first when a graph op fails, and keep each probe independent
  src/interpretune/testing/conformance/cases.py
Labels: none

Give the circuit-tracer target transformers' own gemma eager attention, whatever bridge ran before it
  tests/conftest.py
  tests/core/test_backend_conformance.py
  tests/core/test_gemma_eager_attention_restore.py
  tests/utils.py
Labels: module: utils, area: tests

Refuse a point the architecture does not define as the resolver's fact, not as a gap in the capture declaration
  src/interpretune/analysis/backends/capabilities.py
  tests/core/test_capture_support.py
Labels: module: analysis, area: tests

Declare what a backend can capture, add the analysis-backend conformance cases, and give the circuit-tracer target transformers' own gemma attention (#534)
  AGENTS.md
  docs/adapter_conformance_contract.md
  docs/adapter_development_guide.md
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/points/inventory.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/config/analysis.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/ops.py
  src/interpretune/testing/conformance/plugin.py
  src/interpretune/testing/conformance/session.py
  tests/conftest.py
  tests/core/test_analysis_backends.py
  tests/core/test_backend_conformance.py
  tests/core/test_capture_support.py
  tests/core/test_conformance_harness.py
  tests/core/test_gemma_eager_attention_restore.py
  tests/utils.py
Labels: module: adapters, module: analysis, module: config, module: utils, area: tests, area: docs

Test modules for identity, never for truth, in the nnsight layer lookup and the bridge MLP component lookup
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/adapter.py
Labels: module: adapters

Restore the grad state in a finally around the analysis loop, so a failing op leaves the process as it found it
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_runners.py
Labels: module: runners, area: tests

One flag decides the SAE wrapper: the sae_lens adapter reads tl_cfg.use_bridge and its own use_bridge is retired
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/sae_lens/config.py
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_br_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_ht_zs_test.yaml
  tests/configuration.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_backend_conformance.py
  tests/parity_acceptance/cfg_aliases.py
Labels: module: adapters, module: config, area: examples, area: experiments, area: tests, config

Drop the retired module-level use_bridge from the three sae_lens baseline specs
  tests/core/fixtures/cli_session_baseline_specs.json
Labels: area: tests, config

Teach the one-flag wrapper selection in the adapter guide, not the retired field
  docs/adapter_development_guide.md
Labels: area: docs

Unify the J-lens basis construction, and require the basis to be stated
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.yaml
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests, config

Refuse by name in three places that produced plausible behaviour: module truth-tests, a leaked grad state, and two flags for one wrapper (#542)
  docs/adapter_development_guide.md
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/sae_lens/config.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/runners/analysis.py
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_br_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_ht_zs_test.yaml
  tests/configuration.py
  tests/core/cfg_aliases.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_adapters_sae_lens.py
  tests/core/test_analysis_runners.py
  tests/core/test_backend_conformance.py
  tests/parity_acceptance/cfg_aliases.py
Labels: module: adapters, module: config, module: runners, area: examples, area: experiments, area: tests, area: docs, config

Unify the J-lens basis construction, and require the basis to be stated (#544)
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.yaml
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests, config

Name the capability enum by level and its intervention member by the object it acts on, and refuse the old spellings
  docs/adapter_conformance_contract.md
  docs/adapter_development_guide.md
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/collections.py
  src/interpretune/testing/conformance/gates.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_capture_support.py
  tests/core/test_conformance_harness.py
  tests/core/test_model_backend_protocols.py
Labels: module: adapters, module: analysis, area: tests, area: docs, config

Rewrite the two intervention docs around the two levels, and make the overview's table the definition the enums cite
  docs/interpretune_intervention_apis.md
  src/interpretune/analysis/backends/capabilities.py
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
Labels: module: analysis, area: examples, area: experiments, area: docs

Split the analysis-backend protocol into a core and two gated groups, each with its support record
  src/interpretune/adapters/circuit_tracer/backends.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  tests/core/test_analysis_backend_protocols.py
  tests/core/test_analysis_level_ops_discovery.py
Labels: module: adapters, module: analysis, area: tests

Mirror the analysis level in the coherence case: each declared group satisfies its protocol and carries its record
  src/interpretune/testing/conformance/cases.py
Labels: none

Add the Jacobian-lens alignment page: the paper's method against interpretune's implementation, kept true by a scheduled check
  .github/workflows/docs-linkcheck.yml
  docs/jlens_paper_alignment.md
  docs/source/index.md
  docs/source/usage/jlens_paper_alignment.md
  scripts/check_doc_issue_rows.py
Labels: area: docs, area: ci, area: scripts, config

Add the Jacobian-lens alignment page, kept true by a scheduled issue-state check (#547)
  .github/workflows/docs-linkcheck.yml
  docs/jlens_paper_alignment.md
  docs/source/index.md
  docs/source/usage/jlens_paper_alignment.md
  scripts/check_doc_issue_rows.py
Labels: area: docs, area: ci, area: scripts, config

Mint the round-trip test's revisions per run and isolate its module cache, so no earlier run's copy is executed
  tests/core/test_op_collection_publish_roundtrip.py
Labels: area: tests

Resolve the execution handle before checking attention provenance, and never truth-test a model
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
Labels: module: analysis

One capability rule on both levels: rename the model enum and its intervention member, split the analysis protocol into gated groups with support records (#546)
  docs/adapter_conformance_contract.md
  docs/adapter_development_guide.md
  docs/interpretune_intervention_apis.md
  src/interpretune/adapters/circuit_tracer/backends.py
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/collections.py
  src/interpretune/testing/conformance/gates.py
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
  tests/core/test_analysis_backend_protocols.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_capture_support.py
  tests/core/test_conformance_harness.py
  tests/core/test_model_backend_protocols.py
  tests/core/test_op_collection_publish_roundtrip.py
Labels: module: adapters, module: analysis, area: examples, area: experiments, area: tests, area: docs, config
