Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Fix docs CI/RTD: legacy 'docs/source/*.md' gitignore rule was excluding the new top-level pages
  .gitignore
  docs/source/concepts.md
  docs/source/configuration.md
  docs/source/design_rationale.md
  docs/source/index.md
  docs/source/roadmap.md
Labels: area: docs

Docs polish wave: global sidebar nav, Interpretune logos, adapter-levels intro, priority roadmap with upstream-ownership framing
  CONTRIBUTING.md
  README.md
  docs/source/_static/custom.css
  docs/source/_static/images/logos/icon_interpretune.svg
  docs/source/_static/images/logos/logo_interpretune.svg
  docs/source/_templates/sidebar-nav-global.html
  docs/source/conf.py
  docs/source/index.md
  docs/source/roadmap.md
Labels: area: docs

Branding + messaging refinement: handled/tilted fork logos, generalized AI world-model framing, contributor welcome, protocol rationale
  CONTRIBUTING.md
  README.md
  docs/source/_static/images/logos/icon_interpretune.svg
  docs/source/_static/images/logos/logo_interpretune.svg
  docs/source/concepts.md
  docs/source/design_rationale.md
  docs/source/index.md
  docs/source/roadmap.md
Labels: area: docs

Logo handle fix + kerning; messaging refinements; docs coherence pass (7 stale-ref fixes)
  CONTRIBUTING.md
  README.md
  docs/adapter_development_guide.md
  docs/analysis_injection_usage.md
  docs/analysis_runner_usage.md
  docs/custom_ops_composition_guide.md
  docs/source/_static/images/logos/icon_interpretune.svg
  docs/source/_static/images/logos/logo_interpretune.svg
  docs/source/concepts.md
  docs/source/index.md
  docs/tl_style_naming_implementation.md
Labels: area: docs

Close out interpretune#201: latent-model handle lifecycle test + Backend Compatibility Matrix
  docs/adapter_development_guide.md
  docs/circuit_tracer_backend_support.md
  tests/conftest.py
  tests/core/test_adapters_sae_lens.py
Labels: area: tests, area: docs

Out-of-tree venv install docs; uv version-spec default; docs warning triage 55->11
  README.md
  docs/interpretune_intervention_apis.md
  docs/source/api.rst
  docs/source/conf.py
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
  src/interpretune/analysis/core.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/extensions/debug_generation.py
Labels: module: analysis, module: config, module: extensions, extension: debug_generation, adapter: transformer_lens, area: docs, area: scripts

Pin wordmark text advance widths so kerning survives platform font fallback
  docs/source/_static/images/logos/logo_interpretune.svg
Labels: area: docs

Docs landing: break up the dense intro into short sentences and bullets
  docs/source/index.md
Labels: area: docs

Flip nnsight pin 0.6.3 -> 0.7.0 (pre-wave upstream re-check)
  pyproject.toml
  requirements/ci/overrides.txt
Labels: area: docs, area: build, dependencies, config

Route multimodal-registered repos through VisionLanguageModel on nnsight 0.7+
  src/interpretune/adapters/nnsight.py
Labels: module: adapters

Make bridge processed-weight caches follow device moves (gated-MLP fix)
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
Labels: module: adapters, adapter: sae_lens, adapter: transformer_lens

Refresh benchmark registry at the pre-wave gate (nnsight 0.7.0 lineage)
  tests/benchmarks/benchmark_registry.yaml
Labels: area: tests, config

Skip NDIF remote-consistency test on service-side model unavailability
  tests/core/test_adapters_nnsight.py
Labels: area: tests

Regenerate profile memory footprints at the current lineage
  tests/parity_acceptance/profile_memory_footprints.yaml
Labels: area: tests, config

Document NDIF pinned-model constraint on the remote consistency test
  tests/core/test_adapters_nnsight.py
Labels: area: tests

Classify runtime skips correctly in special-test result parsing
  tests/test_utils.sh
Labels: area: tests, area: scripts

Add watcher rules for background test runs to CLAUDE.md
  CLAUDE.md
Labels: area: docs

Add optional NDIF remote smoke test against a pinned model
  tests/core/test_adapters_nnsight.py
Labels: area: tests

Honor registry cli_mode in test_benchmarks (core-CLI entries)
  tests/benchmarks/test_benchmarks.py
Labels: area: tests

Benchmark artifact fidelity fixes: run-scoped pretok record + tick overlap
  scripts/dashboard_benchmark_artifacts.py
  scripts/run_dashboard_benchmark_suite.py
  scripts/templates/dashboard_profiling_notebook_template.ipynb
Labels: area: notebooks, area: scripts

Reviewer notebook presentation: legend clearance, Wave-2 DB-bottleneck banner, parameterized coordination-PR ref, data-first exports
  scripts/dashboard_benchmark_artifacts.py
  scripts/run_dashboard_benchmark_suite.py
  scripts/templates/dashboard_profiling_notebook_template.ipynb
Labels: area: notebooks, area: scripts

Guided benchmark environment setup: setup_dashboard_benchmark_env.py + vendored baseline patches
  .pre-commit-config.yaml
  scripts/benchmark_baseline_patches/README.md
  scripts/benchmark_baseline_patches/saedashboard-7886eaa-activation-significance-floor.patch
  scripts/benchmark_baseline_patches/saedashboard-7886eaa-no-shuffle-tokens.patch
  scripts/benchmark_baseline_patches/saedashboard-7886eaa-profiling.patch
  scripts/benchmark_baseline_patches/saedashboard-7886eaa-shared-tokens-file.patch
  scripts/dashboard_benchmark_suite_usage.md
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: ci, area: scripts, config

Benchmark setup: 4-repo minimal flow, HF-access preflight, NP .env defaults, dataset auto-build, GPU report
  scripts/dashboard_benchmark_suite_usage.md
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: scripts

Env-build integrity + reviewer-artifact polish: pyright pin, no-deps neuronpedia-utils, value-bearing parity, fully-collapsed notebooks
  CLAUDE.md
  docs/developer_multi_repo_setup.md
  pyproject.toml
  requirements/ci/excludes.txt
  requirements/ci/nodeps_git_requirements.txt
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  requirements/utils/collect_env_details.py
  scripts/build_it_env.sh
  scripts/dashboard_benchmark_artifacts.py
  scripts/dashboard_benchmark_suite_usage.md
  scripts/preserve_neuronpedia_reference_artifacts.py
  scripts/run_dashboard_benchmark_suite.py
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: build, area: scripts, dependencies, config

Setup UX polish: built-in run logging, SD provenance in the build summary, sweep-config script retirement
  CLAUDE.md
  requirements/utils/collect_env_details.py
  scripts/setup_dashboard_benchmark_env.py
  scripts/sweep_neuronpedia_dashboard_configs.py
  tests/core/test_sweep_neuronpedia_dashboard_configs.py
Labels: area: tests, area: docs, area: build, area: scripts, dependencies

Setup flow refinements: full-mode-first guidance, one-shot dataset build, benign-warning filters, np-utils constraint relax follow-through
  CLAUDE.md
  README.md
  docs/developer_multi_repo_setup.md
  requirements/ci/nodeps_git_requirements.txt
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: build, area: scripts, dependencies

add optional shared GPU-lease serialization to the standalone and coverage suites
  scripts/gen_it_coverage.sh
  scripts/gpu_lease_wrap.sh
  scripts/infra_utils.sh
  tests/special_tests.sh
  tests/test_utils.sh
Labels: area: tests, area: scripts

wire the GPU lease into the Azure GPU pipeline; harden the consumer guard
  .azure-pipelines/gpu-tests.yml
  .github/skills/az-pipelines-debug/SKILL.md
  scripts/gpu_lease_wrap.sh
Labels: area: docs, area: ci, area: scripts, config

skill: never reset a CI-held GPU lease (either project)
  .github/skills/az-pipelines-debug/SKILL.md
Labels: area: docs, area: ci

fix: CI lease silently failed open under rootless docker (permission trap)
  scripts/gpu_lease_wrap.sh
Labels: area: scripts

document GPU-lease serialization so every session plans for queuing
  .gitignore
  CLAUDE.md
Labels: area: docs

add gpu-lease skill; handle lease-unaware notebook/interactive GPU work
  .github/skills/gpu-lease/SKILL.md
  CLAUDE.local.md.example
  CLAUDE.md
Labels: area: docs, area: ci

skill: make az-pipelines-debug host-independent; drop CLAUDE.local.md.example
  .github/skills/az-pipelines-debug/SKILL.md
  CLAUDE.local.md.example
Labels: area: docs, area: ci

Serialize GPU work across local sessions and the self-hosted Azure agent (opt-in GPU lease) (#233)
  .azure-pipelines/gpu-tests.yml
  .github/skills/az-pipelines-debug/SKILL.md
  .github/skills/gpu-lease/SKILL.md
  .gitignore
  CLAUDE.md
  scripts/gen_it_coverage.sh
  scripts/gpu_lease_wrap.sh
  scripts/infra_utils.sh
  tests/special_tests.sh
  tests/test_utils.sh
Labels: area: tests, area: docs, area: ci, area: scripts, config

Refresh the pinned dependency baseline: torch 2.13 / CUDA 13, datasets 5, transformers 5.14
  .azure-pipelines/gpu-tests.yml
  .github/LABELS.md
  .github/actions/install-ci-dependencies/action.yml
  .github/actions/regen-ci-reqs/action.yml
  .github/skills/debug-remote-ci-failures/SKILL.md
  .github/workflows/env-build-smoke.yml
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
  CLAUDE.md
  dockers/base-cuda/Dockerfile
  dockers/docker_images_main.sh
  dockers/docker_images_release.sh
  dockers/it-az-base/Dockerfile
  docs/developer_multi_repo_setup.md
  pyproject.toml
  requirements/ci/excludes.txt
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  requirements/ci/sl_uv_requirements.txt
  requirements/ci/torch-override.txt
  requirements/utils/collect_env_details.py
  requirements/utils/lock_ci_requirements.sh
  scripts/build_it_env.sh
  scripts/update_profiling_memory_stats.sh
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/extensions/debug_generation.py
  tests/core/test_analysis_backend_parity.py
  tests/parity_acceptance/profile_memory_footprints.yaml
Labels: module: adapters, module: analysis, module: extensions, extension: debug_generation, adapter: transformer_lens, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Refresh benchmark registry provenance for the torch 2.13 stack
  tests/benchmarks/benchmark_registry.yaml
Labels: area: tests, config

Correct the finetuning-scheduler pin description in the dev docs
  CLAUDE.md
  docs/developer_multi_repo_setup.md
Labels: area: docs

Refresh the pinned dependency baseline: torch 2.13 / CUDA 13, datasets 5, transformers 5.14 (#234)
  .azure-pipelines/gpu-tests.yml
  .github/LABELS.md
  .github/actions/install-ci-dependencies/action.yml
  .github/actions/regen-ci-reqs/action.yml
  .github/skills/debug-remote-ci-failures/SKILL.md
  .github/workflows/env-build-smoke.yml
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
  CLAUDE.md
  dockers/base-cuda/Dockerfile
  dockers/docker_images_main.sh
  dockers/docker_images_release.sh
  dockers/it-az-base/Dockerfile
  docs/developer_multi_repo_setup.md
  pyproject.toml
  requirements/ci/excludes.txt
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  requirements/ci/sl_uv_requirements.txt
  requirements/ci/torch-override.txt
  requirements/utils/collect_env_details.py
  requirements/utils/lock_ci_requirements.sh
  scripts/build_it_env.sh
  scripts/update_profiling_memory_stats.sh
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/extensions/debug_generation.py
  tests/benchmarks/benchmark_registry.yaml
  tests/core/test_analysis_backend_parity.py
  tests/parity_acceptance/profile_memory_footprints.yaml
Labels: module: adapters, module: analysis, module: extensions, extension: debug_generation, adapter: transformer_lens, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Execute three more example notebooks; fix a broken env check and a hook loop
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  scripts/publish_notebooks.py
  scripts/render_notebook_docs_artifacts.py
  src/it_examples/notebooks/dev/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
Labels: area: examples, area: notebooks, area: docs, area: scripts, config

Chat-format the neuronpedia example prompt; all 8 notebooks now render output
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/dev/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
Labels: area: examples, area: notebooks, area: docs, config
