Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Registration keys drop phase: composition identity is (model_src, task, adapter_ctx) (#52)
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  src/interpretune/registry.py
  tests/core/test_module_registration.py
Labels: module: registry, area: tests, area: docs, area: ci

Make the BaseITModule contract explicit and document its limitations (#27)
  docs/module_contract_and_limitations.md
  docs/source/index.md
  docs/source/usage/module_contract_and_limitations.md
  src/interpretune/base/hooks.py
  src/interpretune/base/modules.py
Labels: module: base, area: docs

Ratchet public-API docstrings with ruff D101/D102/D103 + a generated baseline (#340) (#347)
  pyproject.toml
Labels: area: build, dependencies, config

Docstring slice D: utils/ + residue, emptying its baseline block (#344)
  pyproject.toml
  src/interpretune/hub/manager.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/logging.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_explanations.py
  src/interpretune/utils/neuronpedia_source_conflicts.py
  src/interpretune/utils/repr_helpers.py
  src/interpretune/utils/schema_validation.py
  src/interpretune/utils/tokenization.py
Labels: extension: neuronpedia, module: utils, area: build, dependencies, config

Docstring slice D: utils/ + residue, emptying its baseline block (#344) (#348)
  pyproject.toml
  src/interpretune/hub/manager.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/logging.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_explanations.py
  src/interpretune/utils/neuronpedia_source_conflicts.py
  src/interpretune/utils/repr_helpers.py
  src/interpretune/utils/schema_validation.py
  src/interpretune/utils/tokenization.py
Labels: extension: neuronpedia, module: utils, area: build, dependencies, config

Docstring slice B, analysis/ half: 64 across 9 files (#342 partial)
  pyproject.toml
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/feature_selection.py
  src/interpretune/analysis/backends/impls/circuit_tracer.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/inputs.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/dispatcher.py
Labels: module: analysis, adapter: circuit_tracer, area: build, dependencies, config

Docstring slice B, analysis/ half: 64 across 9 files (#342 partial) (#349)
  pyproject.toml
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/feature_selection.py
  src/interpretune/analysis/backends/impls/circuit_tracer.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/inputs.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/dispatcher.py
Labels: module: analysis, adapter: circuit_tracer, area: build, dependencies, config

Docstring slice C: adapters/ + extensions/, emptying its baseline block (#343)
  pyproject.toml
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/adapters/core.py
  src/interpretune/adapters/lightning.py
  src/interpretune/adapters/registration.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/extensions/debug_generation.py
  src/interpretune/extensions/memprofiler.py
Labels: module: adapters, module: extensions, extension: debug_generation, extension: memprofiler, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, area: build, dependencies, config

Registration keys drop phase: composition identity is (model_src, task, adapter_ctx) (#52) (#352)
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  src/interpretune/registry.py
  tests/core/test_module_registration.py
Labels: module: registry, area: tests, area: docs, area: ci

Make the BaseITModule contract explicit and document its limitations (#27) (#353)
  docs/module_contract_and_limitations.md
  docs/source/index.md
  docs/source/usage/module_contract_and_limitations.md
  src/interpretune/base/hooks.py
  src/interpretune/base/modules.py
Labels: module: base, area: docs

Docstring slice C: adapters/ + extensions/, emptying its baseline block (#343) (#350)
  pyproject.toml
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/adapters/core.py
  src/interpretune/adapters/lightning.py
  src/interpretune/adapters/registration.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/extensions/debug_generation.py
  src/interpretune/extensions/memprofiler.py
Labels: module: adapters, module: extensions, extension: debug_generation, extension: memprofiler, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, area: build, dependencies, config

Docstring slice A part 1: protocol.py, session.py, runners/, adapter_registry.py (#341 partial)
  pyproject.toml
  src/interpretune/adapter_registry.py
  src/interpretune/protocol.py
  src/interpretune/runners/analysis.py
  src/interpretune/runners/core.py
  src/interpretune/session.py
Labels: module: adapters, module: runners, module: protocol, module: registry, module: session, area: build, dependencies, config

Docstring slice A part 1: protocol.py, session.py, runners/, adapter_registry.py (#341 partial) (#351)
  pyproject.toml
  src/interpretune/adapter_registry.py
  src/interpretune/protocol.py
  src/interpretune/runners/analysis.py
  src/interpretune/runners/core.py
  src/interpretune/session.py
Labels: module: adapters, module: runners, module: protocol, module: registry, module: session, area: build, dependencies, config

Docstring slice B, config/ half: 45 across 9 files (#342 completes)
  pyproject.toml
  src/interpretune/config/analysis.py
  src/interpretune/config/datamodule.py
  src/interpretune/config/extensions.py
  src/interpretune/config/mixins.py
  src/interpretune/config/module.py
  src/interpretune/config/runner.py
  src/interpretune/config/sae_lens.py
  src/interpretune/config/shared.py
  src/interpretune/config/transformer_lens.py
Labels: module: config, adapter: sae_lens, adapter: transformer_lens, module: runners, area: build, dependencies, config

Docstring slice B, config/ half: 45 across 9 files (#342 completes) (#355)
  pyproject.toml
  src/interpretune/config/analysis.py
  src/interpretune/config/datamodule.py
  src/interpretune/config/extensions.py
  src/interpretune/config/mixins.py
  src/interpretune/config/module.py
  src/interpretune/config/runner.py
  src/interpretune/config/sae_lens.py
  src/interpretune/config/shared.py
  src/interpretune/config/transformer_lens.py
Labels: module: config, adapter: sae_lens, adapter: transformer_lens, module: runners, area: build, dependencies, config

Docstring slice A part 2: base/ + registry.py, completing #341
  pyproject.toml
  src/interpretune/base/call.py
  src/interpretune/base/components/cli.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/base/datamodules.py
  src/interpretune/base/hooks.py
  src/interpretune/registry.py
Labels: module: base, module: registry, area: build, dependencies, config

Weekly tokenless core slice + override-pin assertion in the README-flow lane (#270)
  .github/workflows/readme-flow-smoke.yml
Labels: area: ci, config

Docstring slice A part 2: base/ + registry.py, completing #341 (#356)
  pyproject.toml
  src/interpretune/base/call.py
  src/interpretune/base/components/cli.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/base/datamodules.py
  src/interpretune/base/hooks.py
  src/interpretune/registry.py
Labels: module: base, module: registry, area: build, dependencies, config

Gated-credential tests skip instead of failing; env auth resolves instead of raising (#354)
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/mixins.py
  src/interpretune/base/datamodules.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/import_utils.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_debug_generation.py
  tests/runif.py
Labels: module: adapters, module: base, adapter: transformer_lens, module: utils, area: tests

Give ruff (and every other hook) a remote gate; stop configuring a service that never ran (#359)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Labels: area: ci, config

Give ruff (and every other hook) a remote gate; stop configuring a service that never ran (#359) (#360)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Labels: area: ci, config

Gated-credential tests skip instead of failing; env auth resolves instead of raising (#354) (#357)
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/mixins.py
  src/interpretune/base/datamodules.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/import_utils.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_debug_generation.py
  tests/runif.py
Labels: module: adapters, module: base, adapter: transformer_lens, module: utils, area: tests

Weekly tokenless core slice + override-pin assertion in the README-flow lane (#270) (#358)
  .github/workflows/readme-flow-smoke.yml
Labels: area: ci, config

Make `.[examples]` a notebook install rather than a contributor install (#287, in-tree half)
  .github/copilot-instructions.md
  README.md
  docs/developer_multi_repo_setup.md
  docs/source/examples.md
  docs/source/index.md
  pyproject.toml
  requirements/ci/requirements.txt
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: ci, area: build, area: scripts, dependencies, config

Teach the README-flow lane about the two documented installs (#287)
  .github/workflows/readme-flow-smoke.yml
Labels: area: ci, config

Make `.[examples]` a notebook install rather than a contributor install (#287, in-tree half) (#361)
  .github/copilot-instructions.md
  .github/workflows/readme-flow-smoke.yml
  README.md
  docs/developer_multi_repo_setup.md
  docs/source/examples.md
  docs/source/index.md
  pyproject.toml
  requirements/ci/requirements.txt
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: ci, area: build, area: scripts, dependencies, config

Honor VCS-pinned installs over a configured version string (#363)
  src/it_examples/tests/test_version_manager.py
  src/it_examples/utils/analysis_injection/version_manager.py
Labels: area: examples, area: tests

Honor VCS-pinned installs over a configured version string (#363) (#364)
  src/it_examples/tests/test_version_manager.py
  src/it_examples/utils/analysis_injection/version_manager.py
Labels: area: examples, area: tests

Rebase circuit-tracer #79 onto upstream v0.5.2 and adapt to the Graph.scan rename
  pyproject.toml
  src/interpretune/analysis/backends/impls/circuit_tracer.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_cross_backend_compat.py
Labels: module: analysis, adapter: circuit_tracer, area: tests, area: build, dependencies, config

Give the fork honest version tags and stop keying the notebook config on them
  pyproject.toml
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
Labels: area: examples, area: notebooks, area: build, dependencies, config

Rebase circuit-tracer #79 onto upstream v0.5.2; adapt to the Graph.scan rename (#287, #231) (#362)
  pyproject.toml
  src/interpretune/analysis/backends/impls/circuit_tracer.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_cross_backend_compat.py
Labels: module: analysis, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: build, dependencies, config

Let gen_it_coverage.sh run against any env, and fail where someone can see it (#365)
  scripts/gen_it_coverage.sh
Labels: area: scripts

Let gen_it_coverage.sh run against any env, and fail where someone can see it (#365) (#366)
  scripts/gen_it_coverage.sh
Labels: area: scripts

Stop building sae_lens from source in the env build smoke test
  .github/workflows/env-build-smoke.yml
Labels: area: ci, config

Stop building sae_lens from source in the env build smoke test (#367)
  .github/workflows/env-build-smoke.yml
Labels: area: ci, config

Re-point neuronpedia-utils at the rebased head and bound the neuronpedia client
  pyproject.toml
  requirements/ci/nodeps_git_requirements.txt
Labels: area: docs, area: build, dependencies, config

Re-point neuronpedia-utils at the rebased head and bound the neuronpedia client (#369)
  pyproject.toml
  requirements/ci/nodeps_git_requirements.txt
Labels: area: docs, area: build, dependencies, config

Correct the 262k RTE run-namespace guidance and record where run roots actually live
  docs/neuronpedia_dashboard_pipeline.md
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu1.yaml
Labels: area: examples, area: docs, config

Drop the -maxdepth bound from the run-root search; it truncated the result
  docs/neuronpedia_dashboard_pipeline.md
Labels: area: docs

Correct the 262k RTE run-namespace guidance and record where run roots actually live (#370)
  docs/neuronpedia_dashboard_pipeline.md
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu1.yaml
Labels: area: examples, area: docs, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
