Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Stop SAE columns being stored as None on a TransformerBridge (#613)
  src/interpretune/analysis/core.py
  src/interpretune/config/analysis.py
  tests/base_defaults.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_base_config.py
  tests/orchestration.py
Labels: module: analysis, module: config, area: tests

Apply or refuse hook-exposing flags on config-only bridge models (#608)
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_fts_ext.py
Labels: module: adapters, area: tests

Pin the republished speediedan/rte revision without use_bridge (#609)
  src/interpretune/testing/conformance/inputs.py
  tests/hf_warm_manifest.yaml
Labels: area: tests, config

Run the circuit-tracer notebooks on the nnsight backend (#610)
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Fix interp-engine notebook gallery row describing a J-space path it does not run
  docs/source/examples.md
Labels: area: docs

Fix interp-engine notebook gallery row describing a J-space path it does not run
  docs/source/examples.md
Labels: area: docs

Place config-only bridges on the configured device; retire the HT FTS variant
  docs/fts_transformerlens_integration.md
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_circuit_tracer.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/test_it_fts.py
Labels: module: adapters, area: tests, area: docs

Name the run_cfg cache key fingerprint= so it binds downstream (#618)
  src/interpretune/config/runner.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_analysis_runners.py
  tests/core/test_conformance_harness.py
Labels: module: config, module: runners, area: tests

Return conformance to per-run generation and fix the generator-cache key hop (#618)
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_analysis_runners.py
  tests/core/test_conformance_harness.py
Labels: module: config, module: runners, area: tests

Return conformance to per-run generation and fix the generator-cache key hop (#622)
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_analysis_runners.py
  tests/core/test_conformance_harness.py
Labels: module: config, module: runners, area: tests

Restore concept-direction snapshot-rewrite machinery for #498 slice 1
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: area: tests

Port the notebook template to snapshot execution (#498 slice 1)
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: area: tests

Make the template port conditional on the template being staged
  src/interpretune/hub/publish.py
Labels: none

Add Hub-runnable model-spec resolution to interpretune.harness (#498 slice 1)
  src/interpretune/harness/configs/model_specs.yaml
  src/interpretune/harness/sessions.py
  tests/core/test_harness_sessions.py
Labels: area: tests, config

Say which circuit-tracer backend the local-Neuronpedia steering demo validates (#610)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Re-render the local-Neuronpedia steering demo's docs artifact (#610)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Re-render the attribution-analysis artifact against the pinned rte revision
  docs/notebook_artifacts/attribution_analysis/analysis_points.py
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
Labels: area: notebooks, area: docs

Promote analysis_injection and latent_state_projection into the core package (#577)
  .agents/skills/analysis-injection/SKILL.md
  .claude/skills/analysis-injection/SKILL.md
  docs/analysis_injection_usage.md
  src/interpretune/analysis/injection/__init__.py
  src/interpretune/analysis/injection/analysis_hook_patcher.py
  src/interpretune/analysis/injection/config_parser.py
  src/interpretune/analysis/injection/orchestrator.py
  src/interpretune/analysis/injection/version_manager.py
  src/interpretune/utils/latent_state_projection.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/utils/example_helpers.py
  src/it_examples/utils/nb_ui_utils.py
  tests/core/test_adapters_import_time.py
  tests/core/test_analysis_injection.py
  tests/core/test_config_parser_overrides.py
  tests/core/test_version_manager.py
Labels: module: analysis, module: config, module: utils, area: examples, area: notebooks, area: tests, area: docs, config

Repair submodule-attribute installation for lazily-imported target packages
  src/interpretune/analysis/injection/analysis_hook_patcher.py
  tests/core/test_analysis_injection.py
Labels: module: analysis, area: tests

Register every adapter's config one way; stop config imports loading adapter frameworks
  docs/activation_point_vocabulary.md
  docs/custom_ops_composition_guide.md
  docs/hub_trust_posture.md
  docs/intervention_hook_pattern_support.md
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/nnsight/adapter.py
  src/interpretune/adapters/registration.py
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/config/__init__.py
  src/interpretune/config/shared.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/requirements.py
  tests/core/test_activation_points.py
  tests/core/test_adapters_import_time.py
  tests/core/test_adapters_registration.py
  tests/core/test_base_config.py
  tests/core/test_requires_prerelease_floor.py
Labels: module: adapters, module: analysis, module: config, adapter: registration, module: utils, area: tests, area: docs

Add ExperimentDataModule for Hub experiment sessions (#498 slice 1)
  src/interpretune/harness/sessions.py
  tests/core/test_harness_sessions.py
Labels: area: tests

ExperimentDataModule skips dataset loading in setup (#498 slice 1)
  src/interpretune/harness/sessions.py
Labels: none

Route pipeline session shims through harness.sessions (#498 slice 1)
  src/interpretune/harness/sessions.py
  src/interpretune/hub/publish.py
  tests/core/test_harness_sessions.py
  tests/core/test_hub_components.py
Labels: area: tests

Derive config-covering adapters from the spec composition
  src/interpretune/harness/sessions.py
Labels: none

NeutralSessionMixin is a plain marker class, not a frozen dataclass
  src/interpretune/harness/sessions.py
Labels: none

Declare module_cls per model spec; build it into session bodies
  src/interpretune/harness/configs/model_specs.yaml
  src/interpretune/harness/sessions.py
  tests/core/test_harness_sessions.py
Labels: area: tests, config

Correct the local-Neuronpedia steering demo's backend note and re-render it (#626)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Swap pipeline session shims; refuse nested test-tree imports in snapshots
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: area: tests

Stage experiment hooks; cover pipeline shim swap in tests
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: area: tests

Promote analysis_injection and latent_state_projection into core (#577)
  .agents/skills/analysis-injection/SKILL.md
  .claude/skills/analysis-injection/SKILL.md
  docs/analysis_injection_usage.md
  docs/notebook_artifacts/attribution_analysis/analysis_points.py
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  src/interpretune/analysis/injection/__init__.py
  src/interpretune/analysis/injection/analysis_hook_patcher.py
  src/interpretune/analysis/injection/config_parser.py
  src/interpretune/analysis/injection/orchestrator.py
  src/interpretune/analysis/injection/version_manager.py
  src/interpretune/utils/latent_state_projection.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/utils/example_helpers.py
  src/it_examples/utils/nb_ui_utils.py
  tests/core/test_adapters_import_time.py
  tests/core/test_analysis_injection.py
  tests/core/test_config_parser_overrides.py
  tests/core/test_version_manager.py
Labels: module: analysis, module: config, module: utils, area: examples, area: notebooks, area: tests, area: docs, config

One config-registration seam for bundled and hub adapters; config imports stop loading adapter frameworks (#625)
  docs/activation_point_vocabulary.md
  docs/custom_ops_composition_guide.md
  docs/hub_trust_posture.md
  docs/intervention_hook_pattern_support.md
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/nnsight/adapter.py
  src/interpretune/adapters/registration.py
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/config/__init__.py
  src/interpretune/config/shared.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/requirements.py
  tests/core/test_activation_points.py
  tests/core/test_adapters_import_time.py
  tests/core/test_adapters_registration.py
  tests/core/test_base_config.py
  tests/core/test_requires_prerelease_floor.py
Labels: module: adapters, module: analysis, module: config, adapter: registration, module: utils, area: tests, area: docs

Move the attribution notebook's analysis injection onto circuit-tracer's nnsight backend
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
Labels: area: examples, area: notebooks, config

Re-render the attribution-analysis artifact on circuit-tracer's nnsight backend
  docs/notebook_artifacts/attribution_analysis/analysis_injection_config.yaml
  docs/notebook_artifacts/attribution_analysis/analysis_points.py
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
Labels: area: notebooks, area: docs, config

Rewrite the attribution walkthrough around circuit-tracer's nnsight backend
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
Labels: area: examples, area: notebooks, config

Re-enable the attribution-analysis notebook test and point its docs at the nnsight backend
  .agents/skills/analysis-injection/SKILL.md
  .claude/skills/analysis-injection/SKILL.md
  docs/analysis_injection_usage.md
  docs/source/examples.md
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: tests, area: docs

Narrow session/module/datamodule before yielding tokenizer
  src/interpretune/harness/sessions.py
Labels: none

Re-render the attribution-analysis artifact against the speediedan/rte revision main pins
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
Labels: area: notebooks, area: docs

Read tokenizer via getattr with presence assert
  src/interpretune/harness/sessions.py
Labels: none

Add hosted-model fallback for explanation generation (#628)
  docs/neuronpedia_dashboard_pipeline.md
  src/interpretune/utils/__init__.py
  src/interpretune/utils/model_fallback.py
  src/interpretune/utils/neuronpedia_explanations.py
  tests/core/test_explanation_cli_opencode.py
  tests/core/test_explanation_fallback_wiring.py
  tests/core/test_model_fallback.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs

Make the opencode CLI route and its tests Windows-compatible
  src/interpretune/utils/neuronpedia_explanations.py
  tests/core/test_explanation_cli_opencode.py
Labels: extension: neuronpedia, module: utils, area: tests

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
