Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Classify Hub load failures by typed error, never by message text
  src/interpretune/utils/hf_auth_errors.py
  tests/core/test_failure_messages.py
Labels: module: utils, area: tests

Carry coverage flags forward; refuse trailing-pad generate batches (#746)
  .codecov.yml
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_debug_generation.py
Labels: module: adapters, area: tests, config

Carry use_error_term through the SAE config constructors (#749)
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/sae_lens/config.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_adapters_sae_lens.py
Labels: module: adapters, module: config, area: tests, config

Add the adapter-selection guide, pinned to the registry (#752)
  docs/source/index.md
  docs/source/usage/adapter_selection_guide.md
  tests/core/test_docs_adapter_guide.py
Labels: area: tests, area: docs

Move resource snapshot helpers into the main package (#753)
  src/interpretune/utils/resource_mgmt.py
  tests/analysis_resource_utils.py
  tests/conftest.py
  tests/core/conftest.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_analysis_resource_utils.py
Labels: module: utils, area: tests

Name absent backends in composition misses; interpret Hub auth failures at load (#750)
  src/interpretune/adapters/registration.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/utils/hf_auth_errors.py
  tests/core/test_bundled_composition_requires.py
  tests/core/test_failure_messages.py
Labels: module: adapters, adapter: registration, module: utils, area: tests

Place GPU tests on the smallest device that fits, in two leased stages, with strict mode on
  .azure-pipelines/gpu-tests.yml
  .azure-pipelines/scripts/check_gpu_phases.sh
  .azure-pipelines/scripts/gpu_phase.sh
  .azure-pipelines/scripts/gpu_stage_lease.sh
  tests/README.md
  tests/conftest.py
  tests/gpu_ci/test_gpu_mem_class.py
  tests/gpu_ci/test_gpu_stage_lease.py
Labels: area: tests, area: docs, area: scripts, config

Place GPU tests on the smallest device that fits, in two leased stages, with strict mode on (#754)
  .azure-pipelines/gpu-tests.yml
  .azure-pipelines/scripts/check_gpu_phases.sh
  .azure-pipelines/scripts/gpu_phase.sh
  .azure-pipelines/scripts/gpu_stage_lease.sh
  tests/README.md
  tests/conftest.py
  tests/gpu_ci/test_gpu_mem_class.py
  tests/gpu_ci/test_gpu_stage_lease.py
Labels: area: tests, area: docs, area: scripts, config

Add the troubleshooting page, synced to the failure-message tests (#253)
  docs/source/index.md
  docs/source/usage/when_things_go_wrong.md
  tests/core/test_failure_messages.py
Labels: area: tests, area: docs

Attach profiler_cfg to ITConfig with core CLI surface (#11)
  src/interpretune/base/components/cli.py
  src/interpretune/config/__init__.py
  src/interpretune/config/module.py
  src/interpretune/config/profiling.py
  tests/core/test_components_cli.py
Labels: module: base, module: config, area: tests

Add ProfilerCfg with exactly-one-active invariant (#11)
  src/interpretune/config/profiling.py
  tests/core/test_profiler_config.py
Labels: module: config, area: tests

Verify Lightning trainer.profiler passthrough; document example (#11)
  tests/core/test_components_cli.py
Labels: area: tests

Refuse unwired profiler selections; validate over runtime config (#11)
  src/interpretune/base/components/cli.py
  src/interpretune/config/module.py
  src/interpretune/config/profiling.py
  tests/core/test_profiler_config.py
Labels: module: base, module: config, area: tests

Document profiler_cfg with example; Lightning uses native trainer.profiler (#11)
  src/interpretune/config/profiling.py
Labels: module: config

Regenerate loader baselines with default-off profiler_cfg (#11)
  tests/core/fixtures/cli_session_baseline_specs.json
Labels: area: tests, config

Classify the new profiler config for GPU test selection (#11)
  tests/gpu_ci/areas.yaml
Labels: area: tests, config

Wire the PyTorch profiler selection into the core runners (#11)
  src/interpretune/adapters/lightning.py
  src/interpretune/config/module.py
  src/interpretune/config/profiling.py
  src/interpretune/runners/analysis.py
  src/interpretune/runners/core.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_profiler_config.py
Labels: module: adapters, module: config, adapter: lightning, module: runners, area: tests, config

Correct the troubleshooting page and bind its quotes to real messages
  docs/source/usage/when_things_go_wrong.md
  tests/core/test_failure_messages.py
Labels: area: tests, area: docs

Wire the PyTorch profiler selection into the core runners (#745)
  src/interpretune/adapters/lightning.py
  src/interpretune/base/components/cli.py
  src/interpretune/config/__init__.py
  src/interpretune/config/module.py
  src/interpretune/config/profiling.py
  src/interpretune/runners/analysis.py
  src/interpretune/runners/core.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_components_cli.py
  tests/core/test_profiler_config.py
  tests/gpu_ci/areas.yaml
Labels: module: adapters, module: base, module: config, adapter: lightning, module: runners, area: tests, config

Add the troubleshooting page, synced to the failure-message tests (#755)
  docs/source/index.md
  docs/source/usage/when_things_go_wrong.md
  tests/core/test_failure_messages.py
Labels: area: tests, area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
