Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Equivalence fixture pinned machine-independently (env-path normalization in the capture)
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/loader_equivalence.py
Labels: area: tests, config

Fixture normalization is separator-insensitive (Windows twin of build 728)
  tests/core/loader_equivalence.py
  tests/core/test_loader_equivalence.py
Labels: area: tests

Derive fixture lookup keys via as_posix (Windows key-side machine independence)
  tests/core/loader_equivalence.py
  tests/core/test_loader_equivalence.py
Labels: area: tests

Canonical-compare env-path tokenization; live-side machine-independence pin
  tests/core/loader_equivalence.py
  tests/core/test_loader_equivalence.py
Labels: area: tests

CI: enable Python UTF-8 mode so Windows logging survives non-latin-1 chars
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

Type-exempt the relocated research/notebook trees (they were tests/-exempt before the moves)
  CLAUDE.md
  pyproject.toml
Labels: area: docs, area: build, dependencies, config

4c machinery: cache-only resolution, the local-publish bridge, and hydration centralized into core
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/registry.py
  src/it_examples/example_module_registry.py
  tests/core/loader_equivalence.py
  tests/core/test_example_module_registry.py
  tests/core/test_hub_components.py
  tests/core/test_module_registration.py
  tests/module_registry.py
Labels: module: registry, area: examples, area: tests

4e follow-through: the harness-coupled cluster moves to the tests root; research importers go lazy
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/pipeline_patterns.py
  src/it_examples/tests/notebook/_harness/__init__.py
  src/it_examples/tests/notebook/_harness/oqi_debug_session_ablation.py
  src/it_examples/tests/notebook/_harness/session.py
  src/it_examples/tests/notebook/concept_direction/analysis/test_oqi_debug_session_ablation.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_backend_parity.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
Labels: area: examples, area: experiments, area: tests

Retarget the one remaining session-harness importer missed by the _harness move
  tests/core/test_cross_backend_compat.py
Labels: area: tests

The it.hub verb surface (pull/load/push, ITSession.from_hub) + requires enforcement
  src/interpretune/__init__.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  src/interpretune/session.py
  src/it_examples/examples/rte/it_component.yaml
  src/it_examples/seeds.py
  tests/core/test_hub_components.py
Labels: module: session, area: examples, area: tests, config

4c FLIP: delete example_module_registry; the loader reads only the cache
  src/it_examples/example_module_registry.py
  src/it_examples/experiments/notebook/concept_direction/analysis/pole_overlap_probe.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/loader_equivalence.py
  tests/core/test_adapters_nnsight.py
  tests/core/test_hub_components.py
  tests/core/test_lazy_registry.py
  tests/core/test_loader_equivalence.py
  tests/core/test_module_registration.py
  tests/module_registry.py
Labels: area: examples, area: experiments, area: tests

Notebooks resolve via hub-first resolution (it.hub.load over the seeded cache)
  src/interpretune/hub/components.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: examples, area: notebooks, config

Type-clean the hub verb surface (installed-version helper; loader-resolved cls casts)
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
Labels: none

Re-execute docs notebook artifacts against hub-first resolution
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: notebooks, area: docs

4d re-point: chat-template-first for gemma; llama composes its published definition
  src/interpretune/__init__.py
  src/interpretune/config/__init__.py
  src/interpretune/config/datamodule.py
  src/it_examples/example_prompt_configs.py
  src/it_examples/examples/rte/configs/rte_demo.gemma3.circuit_tracer.neuronpedia.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_qlora_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_br_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_ht_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_lightning_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_lightning_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/4b_262k_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/4b_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/llama3_2/lightning_rte_3b_qlora_zero_shot_test_only.yaml
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/nb_harness_utils.py
  src/it_examples/experiments/rte_boolq.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  tests/benchmarks/debug_utils/rte_boolq/debug_it_pipeline.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_hub_promptconfigs.py
  tests/core/test_loader_equivalence.py
  tests/core/test_pretokenize_neuronpedia_rte_prompts.py
  tests/module_registry.py
  tests/test_module_registry.yaml
Labels: module: config, area: examples, area: experiments, area: notebooks, area: tests, config

4d mechanism: promptconfigs kind, compose_ref resolution, ChatTemplatePromptConfig
  src/interpretune/config/datamodule.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/hub/publish.py
  src/interpretune/registry.py
  src/it_examples/examples/prompt_configs/it_component.yaml
  src/it_examples/examples/prompt_configs/prompt_configs.py
  src/it_examples/seeds.py
  tests/core/test_hub_promptconfigs.py
Labels: module: config, module: registry, area: examples, area: tests, config

Pin the pretokenizer default prompt class by reference, not string literal
  tests/core/test_pretokenize_neuronpedia_rte_prompts.py
Labels: area: tests

Living prompt-provenance guard: per-family chat-template byte-equivalence
  tests/core/test_prompt_template_equivalence.py
Labels: area: tests

Re-execute docs notebook artifacts for the 4d prompt re-point
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: notebooks, area: docs

Docs URLs: interpretune.org canonical; fix broken /en/stable/ Documentation link
  README.md
  pyproject.toml
Labels: area: docs, area: build, dependencies, config

Fix infinite recursion resolving it.hub in a fresh process
  src/interpretune/__init__.py
  tests/core/test_adapters_import_time.py
Labels: area: tests

Fix infinite recursion resolving it.hub in a fresh process (#249)
  src/interpretune/__init__.py
  tests/core/test_adapters_import_time.py
Labels: area: tests

Docs URLs: interpretune.org canonical; fix broken /en/stable/ Documentation link (#248)
  README.md
  pyproject.toml
Labels: area: docs, area: build, dependencies, config

AnalysisStore artifact repos: it_artifact.json envelope + push/pull/describe
  src/interpretune/analysis/ops/base.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/artifacts.py
  src/interpretune/hub/cards.py
  tests/core/test_hub_artifacts.py
Labels: module: analysis, area: tests

Graph hydration round-trips through hub artifacts via named analysis backends
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/circuit_tracer.py
  src/interpretune/hub/artifacts.py
  tests/core/test_hub_artifacts.py
Labels: module: analysis, adapter: circuit_tracer, area: tests

analysis_store_from_batches: in-memory results become a pushable store
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/core.py
  tests/core/test_hub_artifacts.py
Labels: module: analysis, area: tests

The shared-analysis round-trip notebook (the #124 acceptance criterion)
  src/interpretune/analysis/core.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/shared_analysis/shared_analysis_roundtrip.ipynb
Labels: module: analysis, area: examples, area: notebooks, config

Docs notebook artifacts: shared-analysis round-trip joins the executed surface
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
Labels: area: notebooks, area: docs

az-pipelines skill: approving a gate dispatches a RAM-heavy job -- serialize with local suites
  .github/skills/az-pipelines-debug/SKILL.md
Labels: area: docs, area: ci

Type-clean analysis_store_from_batches (the op union resolves at the capability check)
  src/interpretune/analysis/core.py
Labels: module: analysis

AnalysisStore hub sharing: it_artifact.json envelope, push/pull/describe, graph hydration round-trip (#124 MVP) (#250)
  .github/skills/az-pipelines-debug/SKILL.md
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/circuit_tracer.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/artifacts.py
  src/interpretune/hub/cards.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/shared_analysis/shared_analysis_roundtrip.ipynb
  tests/core/test_hub_artifacts.py
Labels: module: analysis, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: docs, area: ci, config

Shared-analysis round-trip: rename artifact repo; steered features link to public dashboards
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/dev/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/shared_analysis/shared_analysis_roundtrip.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Flatten the it_examples config tree
  .github/copilot-instructions.md
  .github/skills/register-new-benchmark/SKILL.md
  docs/neuronpedia_dashboard_pipeline.md
  docs/source/configuration.md
  src/interpretune/utils/neuronpedia_hub_fetch.py
  src/it_examples/config/global/defaults/default.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-rte-base.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-rte-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-multigpu-validation.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu0-benchmark-template.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu01.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu1.yaml
  tests/adding_new_example_modules.md
  tests/benchmarks/README.md
Labels: extension: neuronpedia, module: utils, area: examples, area: tests, area: docs, area: ci, config

Allowlist IT_GH_RW_PROJECT_CLASSIC in the env-leak guard
  tests/conftest.py
Labels: area: tests

Shared-analysis polish: artifact repo rename, dashboard links, config-tree flatten (#251)
  .github/copilot-instructions.md
  .github/skills/register-new-benchmark/SKILL.md
  docs/neuronpedia_dashboard_pipeline.md
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  docs/source/configuration.md
  src/interpretune/utils/neuronpedia_hub_fetch.py
  src/it_examples/config/global/defaults/default.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-rte-base.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-rte-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-multigpu-validation.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu0-benchmark-template.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu01.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu1.yaml
  src/it_examples/notebooks/dev/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/shared_analysis/shared_analysis_roundtrip.ipynb
  tests/adding_new_example_modules.md
  tests/benchmarks/README.md
  tests/conftest.py
Labels: extension: neuronpedia, module: utils, area: examples, area: notebooks, area: tests, area: docs, area: ci, config

Regenerate the reviewer benchmark at IT-dfee9e8; stop re-stamps rewriting provenance
  docs/benchmark_artifacts/full_20260812/README.md
  docs/benchmark_artifacts/full_20260812/benchmark_summary.md
  docs/benchmark_artifacts/full_20260812/dashboard_benchmark_diagram.mmd
  docs/benchmark_artifacts/full_20260812/dashboard_profiling_20260813_051303.html
  docs/benchmark_artifacts/full_20260812/extracted_data.json
  docs/benchmark_artifacts/full_20260812/manifest.json
  docs/benchmark_artifacts/full_20260812/tables/import_monology.md
  docs/benchmark_artifacts/full_20260812/tables/import_rte.md
  docs/benchmark_artifacts/full_20260812/tables/parity_monology.md
  docs/benchmark_artifacts/full_20260812/tables/parity_rte.md
  docs/benchmark_artifacts/full_20260812/tables/primary_monology.md
  docs/benchmark_artifacts/full_20260812/tables/primary_rte.md
  docs/benchmark_artifacts/full_20260812/tables/resource_monology.md
  docs/benchmark_artifacts/full_20260812/tables/resource_rte.md
  docs/benchmark_artifacts/full_20260812/tables/substage_monology.md
  docs/benchmark_artifacts/full_20260812/tables/substage_rte.md
  scripts/run_dashboard_benchmark_suite.py
  tests/core/test_dashboard_benchmark_artifacts.py
Labels: area: tests, area: docs, area: scripts, config

Refresh the inlined scaling chart from the full_20260812 run
  docs/source/_static/images/dashboard_scaling_monology_legacy_vs_columnar.png
Labels: area: docs

Document what a re-stamp does and does not rewrite
  docs/verifying_dashboard_generation.md
  scripts/dashboard_benchmark_suite_usage.md
Labels: area: docs, area: scripts

Reference the suite guide as a path, not a docs link
  docs/verifying_dashboard_generation.md
Labels: area: docs

Regenerate the reviewer benchmark at IT-dfee9e8; stop re-stamps rewriting provenance (#252)
  docs/benchmark_artifacts/full_20260812/README.md
  docs/benchmark_artifacts/full_20260812/benchmark_summary.md
  docs/benchmark_artifacts/full_20260812/dashboard_benchmark_diagram.mmd
  docs/benchmark_artifacts/full_20260812/dashboard_profiling_20260813_051303.html
  docs/benchmark_artifacts/full_20260812/extracted_data.json
  docs/benchmark_artifacts/full_20260812/manifest.json
  docs/benchmark_artifacts/full_20260812/tables/import_monology.md
  docs/benchmark_artifacts/full_20260812/tables/import_rte.md
  docs/benchmark_artifacts/full_20260812/tables/parity_monology.md
  docs/benchmark_artifacts/full_20260812/tables/parity_rte.md
  docs/benchmark_artifacts/full_20260812/tables/primary_monology.md
  docs/benchmark_artifacts/full_20260812/tables/primary_rte.md
  docs/benchmark_artifacts/full_20260812/tables/resource_monology.md
  docs/benchmark_artifacts/full_20260812/tables/resource_rte.md
  docs/benchmark_artifacts/full_20260812/tables/substage_monology.md
  docs/benchmark_artifacts/full_20260812/tables/substage_rte.md
  docs/source/_static/images/dashboard_scaling_monology_legacy_vs_columnar.png
  docs/verifying_dashboard_generation.md
  scripts/dashboard_benchmark_suite_usage.md
  scripts/run_dashboard_benchmark_suite.py
  tests/core/test_dashboard_benchmark_artifacts.py
Labels: area: tests, area: docs, area: scripts, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
