Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Restore concept-direction snapshot staging and Hub session construction (#498 slice 1)
  src/interpretune/harness/configs/model_specs.yaml
  src/interpretune/harness/sessions.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_harness_sessions.py
  tests/core/test_hub_components.py
Labels: area: tests, config

Point benchmark docs at the relocated configs (#495)
  tests/benchmarks/README.md
Labels: area: tests, area: docs

Probe optional frameworks without importing them; guard interpretune.config (#401)
  src/interpretune/utils/import_utils.py
  tests/core/test_adapters_import_time.py
Labels: module: utils, area: tests

Point benchmark docs at the relocated configs (#495)
  tests/benchmarks/README.md
Labels: area: tests, area: docs

Attribution-analysis notebook on circuit-tracer's nnsight backend: injection, handlers and walkthrough (#627)
  .agents/skills/analysis-injection/SKILL.md
  .claude/skills/analysis-injection/SKILL.md
  docs/analysis_injection_usage.md
  docs/notebook_artifacts/attribution_analysis/analysis_injection_config.yaml
  docs/notebook_artifacts/attribution_analysis/analysis_points.py
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/source/examples.md
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Delete CLI sessions via the resolved executable path
  src/interpretune/utils/neuronpedia_explanations.py
Labels: extension: neuronpedia, module: utils

Add Hub op-collection authoring walkthrough (#273)
  docs/hub_op_collection_authoring.md
  docs/source/index.md
  docs/source/usage/hub_op_collection_authoring.md
Labels: area: docs

Re-pin local_np steering demo onto the seam-migrated collection
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Document the settled J-space surface (#426 docs half)
  docs/interpretune_intervention_apis.md
  docs/jlens_usage.md
  docs/protocol_architecture_working_design.md
  docs/source/index.md
  docs/source/roadmap.md
  docs/source/usage/jlens_usage.md
Labels: area: docs

Re-render local_np artifact on the new collection pin
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Point benchmark docs at the relocated configs (#495)
  docs/hub_op_collection_authoring.md
  docs/source/index.md
  docs/source/usage/hub_op_collection_authoring.md
Labels: area: docs

Document the settled J-space surface (#426 docs half)
  docs/interpretune_intervention_apis.md
  docs/jlens_usage.md
  docs/protocol_architecture_working_design.md
  docs/source/index.md
  docs/source/roadmap.md
  docs/source/usage/jlens_usage.md
Labels: area: docs

Default dashboards to the bridge wrapper ahead of TransformerLens 4.0; refuse alias-less dashboard URLs
  docs/neuronpedia_dashboard_pipeline.md
  pyproject.toml
  scripts/dashboard_benchmark_suite_usage.md
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/setup_dashboard_benchmark_env.py
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_setup_dashboard_benchmark_env.py
Labels: module: adapters, extension: neuronpedia, module: utils, area: tests, area: docs, area: build, area: scripts, dependencies, config

Re-pin local_np steering demo onto the seam-migrated collection (#426)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Build TransformerLens test models as bridges; classify the J-lens final norm by behaviour
  src/interpretune/analysis/optools.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_unembed_norm_seam.py
  tests/utils.py
Labels: module: analysis, module: utils, area: tests

Restate transformers' huggingface-hub ceiling in the CI override file
  requirements/ci/overrides.txt
Labels: area: docs, area: build, dependencies

Render ad-hoc mathematics as LaTeX across docs and docstrings (#492)
  docs/jlens_norm_folding.md
  docs/jlens_paper_alignment.md
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  src/interpretune/testing/conformance/cases.py
Labels: module: analysis, area: docs

Move the J-lens pair ids to the bridge's device
  tests/core/test_jlens_patch_validation.py
Labels: area: tests

Vendor gpu-lease from speediedan/skills e65c203: document --status --json
  .agents/skills/.shared-skills.sha256
  .agents/skills/gpu-lease/SKILL.md
  .claude/skills/.shared-skills.sha256
  .claude/skills/gpu-lease/SKILL.md
Labels: area: docs

Vendor gpu-lease skill: document --status --json (#643)
  .agents/skills/.shared-skills.sha256
  .agents/skills/gpu-lease/SKILL.md
  .claude/skills/.shared-skills.sha256
  .claude/skills/gpu-lease/SKILL.md
Labels: area: docs

Re-pin steering demo onto the seam-migrated collection (#273)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

TransformerLens 4.0 groundwork: bridge-default dashboards, TL-4-safe SAEDashboard pin, J-lens norm-kind fix (#642)
  docs/neuronpedia_dashboard_pipeline.md
  pyproject.toml
  requirements/ci/overrides.txt
  scripts/dashboard_benchmark_suite_usage.md
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/setup_dashboard_benchmark_env.py
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/analysis/optools.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_setup_dashboard_benchmark_env.py
  tests/core/test_unembed_norm_seam.py
  tests/utils.py
Labels: module: adapters, module: analysis, extension: neuronpedia, module: utils, area: tests, area: docs, area: build, area: scripts, dependencies, config

Raise the transformer-lens floor to 4.0
  AGENTS.md
  docs/circuit_tracer_backend_support.md
  docs/developer_multi_repo_setup.md
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  scripts/setup_dashboard_benchmark_env.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/config.py
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_transformer_lens.py
Labels: module: adapters, module: config, area: tests, area: docs, area: build, area: scripts, dependencies, config

Adapt to TransformerLens 4.0's forward semantics
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/config.py
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/analysis/backends/positions.py
  src/interpretune/testing/conformance/reference.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_backend_conformance.py
  tests/core/test_backend_positions.py
Labels: module: adapters, module: analysis, module: config, area: tests

Cite the upstream report for the TL 4.0 compatibility-mode gradient xfails
  tests/core/test_backend_conformance.py
Labels: area: tests

Say where circuit-tracer's TransformerLens backend is refused
  src/interpretune/adapters/circuit_tracer/adapter.py
Labels: module: adapters

Resolve the default dataset_path under the root datasets caches under
  src/interpretune/config/datamodule.py
  tests/core/test_base_config.py
Labels: module: config, area: tests

Sweep closed-issue numbers out of src/ comments (#445 slice 1)
  src/interpretune/__init__.py
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/nnsight/__init__.py
  src/interpretune/adapters/sae_lens/__init__.py
  src/interpretune/adapters/transformer_lens/__init__.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/config/analysis.py
  src/interpretune/config/loading.py
  src/interpretune/extensions/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/artifacts.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/pins.py
  src/interpretune/hub/precedence.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/hub/trust.py
  src/interpretune/registry.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  src/it_examples/seeds.py
  src/it_examples/tests/notebook/test_collection_guard.py
  src/it_examples/tests/test_feature_jlens_signatures.py
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: module: adapters, module: analysis, module: config, module: extensions, extension: neuronpedia, module: utils, module: registry, area: examples, area: tests

Map TransformerLens 4.0's block norm names on every architecture; load the llama3 mapping fixture unquantized
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_transformer_lens.py
Labels: module: adapters, area: tests

Resolve the default dataset_path under the root datasets caches under (#647)
  src/interpretune/config/datamodule.py
  tests/core/test_base_config.py
Labels: module: config, area: tests

Re-render steering demo artifact with the 4d readout cell
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: notebooks, area: docs

Add J-space readout cell at the answer position, pre/post swap (#426)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, config

Update compiler cache digest for comment-only sweep (#445 slice 1 follow-up)
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

Expect astor's ast.Num deprecation in nnsight test contexts
  tests/warns.py
Labels: area: tests

Raise TransformerLens to 4.0: pins, forward-semantics adaptations, circuit-tracer TL backend refused by name (#644)
  AGENTS.md
  docs/circuit_tracer_backend_support.md
  docs/developer_multi_repo_setup.md
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  scripts/setup_dashboard_benchmark_env.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/config.py
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/analysis/backends/positions.py
  src/interpretune/testing/conformance/reference.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_backend_conformance.py
  tests/core/test_backend_positions.py
  tests/warns.py
Labels: module: adapters, module: analysis, module: config, area: tests, area: docs, area: build, area: scripts, dependencies, config

Thaw every norm of a block implicitly, whatever the architecture calls it
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/test_adapters_transformer_lens.py
Labels: module: adapters, area: tests

Render ad-hoc mathematics as LaTeX across docs and docstrings (#492) (#641)
  docs/jlens_norm_folding.md
  docs/jlens_paper_alignment.md
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  src/interpretune/testing/conformance/cases.py
Labels: module: analysis, area: docs

Sweep closed-issue numbers out of src/ comments (#445 slice 1)
  src/interpretune/__init__.py
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/nnsight/__init__.py
  src/interpretune/adapters/sae_lens/__init__.py
  src/interpretune/adapters/transformer_lens/__init__.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/config/analysis.py
  src/interpretune/config/loading.py
  src/interpretune/extensions/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/artifacts.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/pins.py
  src/interpretune/hub/precedence.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/hub/trust.py
  src/interpretune/registry.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  src/it_examples/seeds.py
  src/it_examples/tests/notebook/test_collection_guard.py
  src/it_examples/tests/test_feature_jlens_signatures.py
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: module: adapters, module: analysis, module: config, module: extensions, extension: neuronpedia, module: utils, module: registry, area: examples, area: tests

Update compiler cache digest for comment-only sweep (#445 slice 1 follow-up)
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

Model fallback for explanation generation (fixes #628) (#631)
  docs/neuronpedia_dashboard_pipeline.md
  src/interpretune/utils/__init__.py
  src/interpretune/utils/model_fallback.py
  src/interpretune/utils/neuronpedia_explanations.py
  tests/core/test_explanation_cli_opencode.py
  tests/core/test_explanation_fallback_wiring.py
  tests/core/test_model_fallback.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
