Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Resolve payload class paths from snapshot entrypoints with environment fallback
  src/interpretune/config/loading.py
  src/interpretune/hub/entrypoints.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/registry.py
  tests/core/test_hub_entrypoint_classes.py
Labels: module: config, module: registry, area: tests

Land the reject/clamp identities as in-tree tests; update the alignment page
  docs/jlens_paper_alignment.md
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_intervention_mode_identities.py
Labels: module: analysis, area: tests, area: docs

Keep refusal wording per entrypoint path in the shared snapshot importer
  src/interpretune/hub/entrypoints.py
  src/interpretune/hub/promptconfigs.py
  tests/core/test_hub_entrypoint_classes.py
Labels: area: tests

Record the producing basis in J-lens results; land the mode identities (#566)
  docs/jlens_paper_alignment.md
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_intervention_mode_identities.py
Labels: module: analysis, area: tests, area: docs

Resolve payload class paths from snapshot entrypoints with environment fallback
  src/interpretune/config/loading.py
  src/interpretune/hub/entrypoints.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/registry.py
  tests/core/test_hub_entrypoint_classes.py
Labels: module: config, module: registry, area: tests

Render multi-letter function names with mathrm instead of operatorname
  docs/jlens_paper_alignment.md
Labels: area: docs

Re-pin the steering demos onto the basis-recording collection revision
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Introduce the concept_basis selector on concept_direction (#420)
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  src/it_examples/experiments/notebook/concept_direction/analysis/concept_direction_latent_dynamics.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_backend_parity.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_analysis_op_state.py
  tests/core/test_bundled_concept_streaming.py
  tests/core/test_concept_direction_basis.py
  tests/core/test_cross_backend_compat.py
  tests/core/test_jlens_read_ops.py
Labels: module: analysis, area: examples, area: experiments, area: tests, config

Export CONCEPT_BASES from the concept op family surface
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
Labels: module: analysis

Keep component warming fetch-only; hydration trips the trust gate
  scripts/warm_hf_cache.py
Labels: area: scripts

Restore Hub-loaded classes by reference in fresh processes via import hook
  src/interpretune/__init__.py
  src/interpretune/hub/entrypoints.py
  tests/core/test_hub_entrypoint_classes.py
Labels: area: tests

Implement the architect's non-collinearity ruling: synthetic guard plus gpt2-small measurement
  docs/jlens_paper_alignment.md
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/optools.py
  tests/core/test_concept_direction_basis.py
  tests/hf_warm_manifest.yaml
Labels: module: analysis, area: tests, area: docs, config

Bind parent packages for directly registered snapshot modules
  src/interpretune/hub/entrypoints.py
  tests/core/test_hub_entrypoint_classes.py
Labels: area: tests

Name the recorded basis in the J-space comparison; pin embed basis on direction calls
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Pin concept_basis='embed' at the notebook direction-construction sites
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Snapshot-first resolution with divergence refusal; drop dead RTE registry block
  docs/session_module_datamodule_usage.md
  src/interpretune/hub/entrypoints.py
  src/interpretune/module_registry.yaml
  tests/core/test_hub_entrypoint_classes.py
Labels: module: registry, area: tests, area: docs, config

Refresh executed docs artifacts for the basis-pinned notebooks
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: notebooks, area: docs

Add the first-order intervention check instrument (#539)
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  tests/core/test_intervention_first_order_check.py
Labels: module: analysis, area: tests, config

Refresh local_np docs artifact for the basis-pinned notebook
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Accept stacked (k, d) operands for reject and clamp at canonicalisation (#571)
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_analysis_backends.py
Labels: module: analysis, area: tests

Declare sequential declaration-order for multi-spec payloads with a conformance case
  docs/interpretune_intervention_apis.md
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
Labels: module: analysis, area: docs

Pin concept_basis at the parity baseline and roundtrip notebook call sites
  src/it_examples/notebooks/dev/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/shared_analysis/shared_analysis_roundtrip.ipynb
  tests/core/test_analysis_backend_parity.py
Labels: area: examples, area: notebooks, area: tests, config

Promote the notebook experiment rails to interpretune.harness (#574)
  docs/resource_management.md
  src/interpretune/harness/__init__.py
  src/interpretune/harness/bootstrap.py
  src/interpretune/harness/cleanup.py
  src/interpretune/harness/config.py
  src/interpretune/harness/configs/base.yaml
  src/interpretune/harness/configs/model_specs.yaml
  src/interpretune/harness/configs/session_surface_presets.yaml
  src/interpretune/harness/display.py
  src/interpretune/harness/experiments.py
  src/interpretune/harness/launcher.py
  src/interpretune/harness/nb_harness_utils.py
  src/interpretune/harness/resources.py
  src/it_examples/experiments/notebook/README.md
  src/it_examples/experiments/notebook/concept_direction/README.md
  src/it_examples/experiments/notebook/concept_direction/__init__.py
  src/it_examples/experiments/notebook/concept_direction/analysis/concept_direction_latent_dynamics.py
  src/it_examples/experiments/notebook/concept_direction/analysis/latent_dynamics_launcher.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/concept_direction/intervention_pipeline_debugging_mode.md
  src/it_examples/experiments/notebook/concept_direction/resource_management.md
  src/it_examples/experiments/notebook/pipeline_patterns.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_backend_parity.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
  src/it_examples/tests/notebook/test_local_graph_cleanup.py
  tests/core/test_adapters_import_time.py
  tests/core/test_notebook_experiments.py
Labels: module: config, area: examples, area: experiments, area: tests, area: docs, config

Refresh roundtrip docs artifact for the basis-pinned notebook
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
Labels: area: notebooks, area: docs

Drop substring false positives from the harness config protocol
  src/interpretune/harness/nb_harness_utils.py
Labels: none

Repoint the test harness and the experiment base at the moved shared configs
  src/it_examples/experiments/notebook/concept_direction/configs/base_gemma3_it_local.yaml
  src/it_examples/tests/notebook/_harness/session.py
Labels: area: examples, area: experiments, config

Add the experiment manifest kind with its own parity and snapshot-confined loading (#498)
  src/interpretune/harness/config.py
  src/interpretune/harness/experiments.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: module: config, area: tests

Fix stale rails paths in the notebook README
  src/it_examples/experiments/notebook/README.md
Labels: area: examples, area: experiments, area: docs

Compute the order-case reject reference in float32 like the backend
  src/interpretune/testing/conformance/cases.py
Labels: none

Render multi-letter function names with mathrm instead of operatorname (#578)
  docs/jlens_paper_alignment.md
Labels: area: docs

Bound the order-case reject projection (item-10 ruling)
  src/interpretune/testing/conformance/cases.py
Labels: none

Consume load_hub_adapter's report shape, and cover the cell that broke
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: notebooks, area: tests, config

Mark the hub-delivery execution test hf_live, not warm-cached
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: tests

Add the hub-delivered adapter notebook (N6) and its static invariants
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, config

Say which of manifest-or-mark to reach for, and how to verify the mark
  docs/ci_hub_cache.md
Labels: area: docs

Rebase onto current main; reword 4b to the settled refusal
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: notebooks, area: tests, config

Narrow the AST target before reading its name (pyright)
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: tests

Refresh local_np artifact with regenerated gemma-3-1b-it explanations
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Introduce the concept_basis selector on concept_direction (#568)
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  src/it_examples/experiments/notebook/concept_direction/analysis/concept_direction_latent_dynamics.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/shared_analysis/shared_analysis_roundtrip.ipynb
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_backend_parity.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_analysis_op_state.py
  tests/core/test_bundled_concept_streaming.py
  tests/core/test_concept_direction_basis.py
  tests/core/test_cross_backend_compat.py
  tests/core/test_jlens_read_ops.py
  tests/hf_warm_manifest.yaml
Labels: module: analysis, area: examples, area: experiments, area: notebooks, area: tests, area: docs, config

Pin the RTE seed component to its self-contained revision everywhere
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  src/interpretune/hub/entrypoints.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_module_registration.py
Labels: area: tests
