Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Report the warmed cache size without following snapshot symlinks
  scripts/warm_hf_cache.py
Labels: area: scripts

Record a pinned component pull where resolution looks, so a clean-cache pin is loadable (#491)
  docs/hub_trust_posture.md
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  tests/core/test_hub_pinned_pull.py
Labels: module: adapters, area: tests, area: docs

Pin that a gemma family without an RMSNorm neither warns nor is reached for
  tests/core/test_unembed_norm_seam.py
Labels: area: tests

Select the RMSNorm offset by family rather than by name prefix
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Say how to fix an unmet pip requirement, not only that it is unmet
  src/interpretune/utils/requirements.py
  tests/core/test_requires_install_command.py
Labels: module: utils, area: tests

Record how a non-PyPI dependency reaches an installable command
  src/interpretune/utils/requirements.py
  tests/core/test_requires_install_command.py
Labels: module: utils, area: tests

Warm the attention SAEs and the debug-generation corpus too
  tests/hf_warm_manifest.yaml
Labels: area: tests, config

Complete the warm manifest from the offline run and mark the live-Hub tests
  scripts/warm_hf_cache.py
  src/it_examples/tests/test_notebooks.py
  tests/core/test_hub_adapter_contract.py
  tests/core/test_warm_hf_cache.py
  tests/hf_warm_manifest.yaml
Labels: area: examples, area: tests, area: scripts, config

Select the RMSNorm offset by family rather than by name prefix (#502)
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Settle the LayerNorm-centering rule, and say why in the code rather than in an issue
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Settle the LayerNorm-centering rule, and say why in the code rather than in an issue (#503)
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Add the J-lens read family: readout, concept probe, sparse inventory
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/jlens/__init__.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.yaml
  tests/core/test_jlens_read_ops.py
Labels: module: analysis, area: tests, config

Measure the TransformerLens row of the unembed seam through the read path
  tests/core/test_jlens_read_ops.py
Labels: area: tests

Resolve a lens for a short-loaded model, and run the readout on one device
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  tests/core/test_jlens_resolution.py
Labels: module: analysis, area: tests

Resolve J-lens artifacts by discovery and verification rather than by formatting a path
  src/interpretune/analysis/optools.py
  tests/core/fixtures/jlens_repo_listing.json
  tests/core/test_jlens_resolution.py
Labels: module: analysis, area: tests, config

J-lens read path: resolve lenses by discovery, and add readout, concept probe and sparse inventory (#482)
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/jlens/__init__.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.yaml
  src/interpretune/analysis/optools.py
  tests/core/fixtures/jlens_repo_listing.json
  tests/core/test_jlens_read_ops.py
  tests/core/test_jlens_resolution.py
Labels: module: analysis, area: tests, config

Keep the install-command diagnostic from naming a hub adapter
  src/interpretune/utils/requirements.py
Labels: module: utils

Skip the warm step on an exact cache hit
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

Warm the Hub cache once per hosted CI job and run the suite offline (#509)
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
  AGENTS.md
  docs/ci_hub_cache.md
  pyproject.toml
  scripts/warm_hf_cache.py
  src/it_examples/tests/test_notebooks.py
  tests/conftest.py
  tests/core/test_hub_adapter_contract.py
  tests/core/test_warm_hf_cache.py
  tests/hf_warm_manifest.yaml
Labels: area: examples, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Give the component-map reader a readable window, typed facts and a retirement path
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/component_map.py
  tests/core/fixtures/component_map_schema1.yaml
  tests/core/test_component_map_reader_contract.py
Labels: module: analysis, area: tests, area: docs, config

Enable math in the docs build, and vendor the skill that verifies it (#492)
  .claude/skills/.shared-skills.sha256
  .claude/skills/cross-platform-latex/SKILL.md
  .claude/skills/cross-platform-latex/references/config-recipes.md
  .claude/skills/cross-platform-latex/references/platform-matrix.md
  .claude/skills/cross-platform-latex/scripts/check_math.py
  .claude/skills/cross-platform-latex/scripts/probe_renderers.py
  .pre-commit-config.yaml
  docs/source/conf.py
Labels: area: docs, area: ci, config

Key the materialization cache by the full resource path, not its basename
  src/interpretune/utils/notebook_experiments.py
  tests/core/test_notebook_experiments.py
Labels: module: utils, area: tests

Let a notebook experiment run from outside this repository
  src/interpretune/utils/notebook_experiments.py
  src/it_examples/experiments/notebook/README.md
  src/it_examples/experiments/notebook/concept_direction/__init__.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/config.py
  src/it_examples/experiments/notebook/nb_experiment_launcher.py
  src/it_examples/experiments/notebook/nb_harness_utils.py
  src/it_examples/experiments/notebook/notebook_bootstrap.py
  tests/core/test_notebook_experiments.py
Labels: module: config, module: utils, area: examples, area: experiments, area: tests, area: docs

Materialize a zipped package resource, and refuse a placeholder EXTENDS by name
  src/interpretune/utils/notebook_experiments.py
  tests/core/test_notebook_experiments.py
Labels: module: utils, area: tests

Convert the intervention-mode mathematics to rendered LaTeX (#492)
  docs/adapter_conformance_contract.md
Labels: area: docs

Declare that the published-lens smoke needs the live Hub
  tests/core/test_jlens_read_ops.py
Labels: area: tests

Note that the vendored-skills exclusion would silently disable a future integrity hook
  .pre-commit-config.yaml
Labels: area: ci, config

Give the component-map reader a readable window, typed facts and a retirement path (#510)
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/component_map.py
  tests/core/fixtures/component_map_schema1.yaml
  tests/core/test_component_map_reader_contract.py
Labels: module: analysis, area: tests, area: docs, config

Let a notebook experiment run from outside this repository (#505)
  src/interpretune/utils/notebook_experiments.py
  src/it_examples/experiments/notebook/README.md
  src/it_examples/experiments/notebook/concept_direction/__init__.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/config.py
  src/it_examples/experiments/notebook/nb_experiment_launcher.py
  src/it_examples/experiments/notebook/nb_harness_utils.py
  src/it_examples/experiments/notebook/notebook_bootstrap.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_notebook_experiments.py
Labels: module: config, module: utils, area: examples, area: experiments, area: tests, area: docs

Add verification guidance: a check is evidence only if the fact can make it fail
  AGENTS.md
Labels: area: docs

Distinguish a check that cannot fail from a correct check answering a narrower question
  AGENTS.md
Labels: area: docs

Add the hub-delivered adapter notebook (N6) and its static invariants
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, config

Consume load_hub_adapter's report shape, and cover the cell that broke
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: notebooks, area: tests, config

Say which of manifest-or-mark to reach for, and how to verify the mark
  docs/ci_hub_cache.md
Labels: area: docs

Mark the hub-delivery execution test hf_live, not warm-cached
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: tests

State the disabled-instrument case as measured, and add two narrower-question instances
  AGENTS.md
Labels: area: docs

Add verification guidance: a check is evidence only if the fact can make it fail (#513)
  AGENTS.md
Labels: area: docs

Derive the per-composition requires message from the axis tuple
  src/interpretune/hub/manifest.py
  tests/core/test_requires_modules_axis.py
Labels: area: tests

Derive the per-composition requires message from the axis tuple (#514)
  src/interpretune/hub/manifest.py
  tests/core/test_requires_modules_axis.py
Labels: area: tests

Enable math in the docs build, vendor the verifying skill, and convert the shipped tree's actual mathematics (#492) (#511)
  .claude/skills/.shared-skills.sha256
  .claude/skills/cross-platform-latex/SKILL.md
  .claude/skills/cross-platform-latex/references/config-recipes.md
  .claude/skills/cross-platform-latex/references/platform-matrix.md
  .claude/skills/cross-platform-latex/scripts/check_math.py
  .claude/skills/cross-platform-latex/scripts/probe_renderers.py
  .pre-commit-config.yaml
  docs/adapter_conformance_contract.md
  docs/source/conf.py
Labels: area: docs, area: ci, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
