Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

analysis_sae_nnsight_backend_generalization implementation (5/n)
  src/interpretune/adapters/sae_lens.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/extensions.py
  src/interpretune/config/mixins.py
  src/interpretune/config/sae_lens.py
  src/it_examples/example_module_registry.yaml
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_analysis_backends.py
  tests/core/test_sae_backend_parity.py
Labels: module: adapters, module: analysis, module: base, module: config, adapter: sae_lens, adapter: transformer_lens, area: examples, area: tests, config

analysis_sae_nnsight_backend_generalization implementation (6/n) — S6
  docs/nnsight_multi_invoke_analysis.md
  src/interpretune/analysis/backends/nnsight.py
Labels: module: analysis, area: docs

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

analysis_sae_nnsight_backend_generalization implementation (7/n)
  .github/instructions/fixture_usage.instructions.md
  docs/adapter_development_guide.md
  docs/bridge_ht_divergence_analysis.md
  docs/ht_vs_bridge_source_of_truth.md
  docs/transformer_bridge_architecture.md
  docs/transformer_lens_changes.md
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/config/__init__.py
  src/interpretune/config/analysis.py
  src/interpretune/config/sae_lens.py
  src/interpretune/config/transformer_lens.py
  tests/base_defaults.py
  tests/configuration.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_formatters.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
  tests/core/test_components_mixins.py
  tests/core/test_sae_backend_parity.py
  tests/fixture_benchmark_report.md
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/test_it_sl.py
  tests/test_utils.sh
Labels: module: adapters, module: analysis, module: config, adapter: sae_lens, adapter: transformer_lens, area: tests, area: docs, area: ci, area: scripts

analysis_sae_nnsight_backend_generalization implementation (8/n)
  .github/copilot-instructions.md
  CLAUDE.md
  docs/apply_chat_template_proposal.md
  docs/transformer_lens_changes.md
  src/interpretune/analysis/cache.py
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_qlora_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_sl_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_zs_test.yaml
  src/it_examples/example_module_registry.yaml
  src/it_examples/example_prompt_configs.py
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_debug_generation.py
  tests/core/test_sae_backend_parity.py
  tests/examples/test_notebooks.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, area: ci, config

analysis_sae_nnsight_backend_generalization implementation (9/n) — S9 fixes
  .github/instructions/developing_adapters.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  CHANGELOG.md
  docs/adapter_development_guide.md
  docs/sae_hook_resolution_design.md
  docs/transformer_bridge_architecture.md
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/adapters/nnsight.py
  src/interpretune/analysis/ops/hub_manager.py
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  tests/BRIDGE_MIGRATION_PLAN.md
  tests/FIXTURE_ANALYSIS.md
  tests/PROFILING.md
  tests/conftest.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_debug_generation.py
  tests/examples/test_analysis_injection.py
  tests/examples/test_notebooks.py
  tests/fixture_benchmark_report.md
  tests/parity_acceptance/profile_memory_footprints.yaml
  tests/parity_acceptance/test_it_fts.py
Labels: module: adapters, module: analysis, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: docs, area: ci, config

fix CT test isinstance assertions under coverage instrumentation
  tests/core/test_adapters_circuit_tracer.py
Labels: area: tests

Replace isinstance bandaid with CT_BACKEND_REGISTRY, fix pyright CI, notebook auth
  .github/copilot-instructions.md
  .github/instructions/developing_adapters.instructions.md
  CLAUDE.md
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/config/analysis.py
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  src/it_examples/patching/dep_patch_shim.py
  tests/core/test_adapters_circuit_tracer.py
Labels: module: adapters, module: analysis, module: config, adapter: circuit_tracer, area: examples, area: notebooks, area: patching, area: tests, area: docs, area: ci, config

Add HuggingFace token test notebook execution configuration and update tests for no-op dependency patching infra after removing sae_lens patch
  .github/workflows/ci_test-full.yml
  src/interpretune/adapters/sae_lens.py
  src/it_examples/patching/dep_patch_shim.py
  src/it_examples/patching/patched_sae_from_pretrained.py
  tests/.experiments
  tests/README.md
  tests/core/test_analysis_ops_definitions.py
  tests/examples/test_notebooks.py
Labels: module: adapters, adapter: sae_lens, area: examples, area: patching, area: tests, area: docs, area: ci, config

Update TL/SAELens dep pins, fix Unicode CI failures, cleanup tests
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  tests/BRIDGE_MIGRATION_PLAN.md
  tests/FIXTURE_ANALYSIS.md
  tests/conftest.py
  tests/examples/test_analysis_injection.py
  tests/examples/test_notebooks.py
Labels: area: tests, area: docs, area: build, dependencies, config

refactor: move _sae_hook_name to SAELensTLModuleMixin.resolve_sae_hook_name
  src/interpretune/adapters/sae_lens.py
  tests/core/test_adapters_sae_lens.py
Labels: module: adapters, adapter: sae_lens, area: tests

fix: add type ignore for pyright on resolve_sae_hook_name call
  src/interpretune/adapters/sae_lens.py
Labels: module: adapters, adapter: sae_lens

fix: avoid MemoryError in Dataset generation by replacing from_generator with from_list
  .github/skills/debug-remote-ci-failures/SKILL.md
  src/interpretune/runners/analysis.py
Labels: module: runners, area: docs, area: ci

fix(analysis): move type: ignore to split param for pyright NamedSplit compat
  src/interpretune/runners/analysis.py
Labels: module: runners

fix: filter Dataset.from_list features to match actual record keys
  .github/skills/debug-remote-ci-failures/SKILL.md
  src/interpretune/runners/analysis.py
Labels: module: runners, area: docs, area: ci

fix(analysis): drop features param from Dataset.from_list to avoid bidirectional key mismatch
  .github/skills/debug-remote-ci-failures/SKILL.md
  src/interpretune/runners/analysis.py
Labels: module: runners, area: docs, area: ci

fix(tests): update dataset error test to mock from_list instead of from_generator
  tests/core/test_analysis_runners.py
Labels: area: tests

fix: skip NNsight ablation parity tests on Windows (interleaver segfault)
  .github/skills/debug-remote-ci-failures/SKILL.md
  tests/core/test_sae_backend_parity.py
Labels: area: tests, area: docs, area: ci

fix: mark NNsight ablation parity tests as standalone (OOMs CI runners, segfaults on Windows)
  .github/skills/debug-remote-ci-failures/SKILL.md
  tests/core/test_sae_backend_parity.py
Labels: area: tests, area: docs, area: ci

fix: mark NNsight+Lightning training parity test as standalone (cumulative OOM on CI runners)
  tests/parity_acceptance/test_it_ns.py
  tests/runif.py
Labels: area: tests

fix: mark all CPU NNsight parity tests as standalone (cumulative OOM)
  tests/parity_acceptance/test_it_ns.py
Labels: area: tests

fix: use cleanup_memory fixtures instead of standalone for CPU NNsight parity tests
  .github/copilot-instructions.md
  CLAUDE.md
  tests/README.md
  tests/core/test_sae_backend_parity.py
  tests/parity_acceptance/test_it_ns.py
Labels: area: tests, area: docs, area: ci

fix: narrow analysis parity fixtures to function scope to reduce CI memory pressure
  tests/README.md
  tests/conftest.py
  tests/core/test_sae_backend_parity.py
Labels: area: tests, area: docs

fix: prevent step_fn prefix accumulation in shared AnalysisCfg; add skip16GB RunIf marker
  src/interpretune/config/analysis.py
  tests/core/test_base_config.py
  tests/core/test_sae_backend_parity.py
  tests/runif.py
Labels: module: config, area: tests

fix: reduce parity test memory on low-ram runners
  tests/conftest.py
  tests/core/test_sae_backend_parity.py
  tests/runif.py
Labels: area: tests

fix: clear parity extraction caches between classes
  tests/core/test_sae_backend_parity.py
Labels: area: tests

fix: release parity fixture session state on low ram
  tests/conftest.py
  tests/core/test_sae_backend_parity.py
Labels: area: tests

fix: bypass parity fixture retention on low ram
  tests/conftest.py
  tests/core/test_sae_backend_parity.py
Labels: area: tests

fix: chunk nnsight ablation invokes
  src/interpretune/analysis/ops/definitions.py
Labels: module: analysis

refactor: share analysis parity extraction helpers
  .github/instructions/fixture_usage.instructions.md
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/ops/definitions.py
  tests/analysis_resource_utils.py
  tests/conftest.py
  tests/core/test_sae_backend_parity.py
Labels: module: analysis, adapter: transformer_lens, area: tests, area: docs, area: ci

fix: treat 16gb runners as low memory
  tests/analysis_resource_utils.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_resource_utils.py
Labels: area: tests

fix: slim attr ablation parity payloads
  tests/core/test_sae_backend_parity.py
Labels: area: tests

fix: reduce nnsight ablation ci memory pressure
  src/interpretune/adapters/sae_lens.py
  src/interpretune/analysis/backends/nnsight.py
  tests/analysis_resource_utils.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_resource_utils.py
  tests/core/test_sae_backend_parity.py
  tests/runif.py
Labels: module: adapters, module: analysis, adapter: sae_lens, area: tests

chore: enable linux ci memory diagnostics
  .github/actions/run-pytest-instrumented/action.yml
  .github/instructions/fixture_usage.instructions.md
  .github/workflows/ci_test-full.yml
  tests/README.md
  tests/analysis_resource_utils.py
  tests/core/conftest.py
  tests/core/test_analysis_resource_utils.py
Labels: area: tests, area: docs, area: ci, config

fix: reduce parity edge-case fixture memory
  tests/core/test_sae_backend_parity.py
Labels: area: tests

refactor: generalize analysis resource helpers
  .github/actions/run-pytest-instrumented/action.yml
  .github/instructions/fixture_usage.instructions.md
  .github/skills/debug-remote-ci-failures/SKILL.md
  docs/apply_chat_template_proposal.md
  docs/nnsight_multi_invoke_analysis.md
  docs/sae_hook_resolution_design.md
  docs/transformer_bridge_architecture.md
  tests/README.md
  tests/analysis_resource_utils.py
  tests/core/conftest.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_analysis_resource_utils.py
  tests/core/test_sae_backend_parity.py
Labels: area: tests, area: docs, area: ci, config

refactor: simplify analysis fixture extraction
  .github/instructions/fixture_usage.instructions.md
  .github/skills/debug-remote-ci-failures/SKILL.md
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/config/analysis.py
  tests/README.md
  tests/analysis_resource_utils.py
  tests/core/test_analysis_resource_utils.py
  tests/core/test_sae_backend_parity.py
Labels: module: adapters, module: analysis, module: config, adapter: circuit_tracer, area: tests, area: docs, area: ci

fix: restore streaming analysis dataset generation
  docs/cache_behavior.md
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_runners.py
Labels: module: runners, area: tests, area: docs

Clean NNsight backend docs and remote test handling
  .github/instructions/developing_adapters.instructions.md
  .github/skills/debug-remote-ci-failures/SKILL.md
  .github/workflows/ci_test-full.yml
  docs/adapter_development_guide.md
  docs/bridge_ht_divergence_analysis.md
  docs/generation_precedence.md
  docs/ht_bridge_parity_behavior.md
  docs/ht_vs_bridge_source_of_truth.md
  requirements/ci/excludes.txt
  src/interpretune/adapters/nnsight.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/ops/hub_manager.py
  tests/analysis_resource_utils.py
  tests/configuration.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_nnsight.py
  tests/core/test_sae_backend_parity.py
Labels: module: adapters, module: analysis, module: config, area: tests, area: docs, area: ci, area: build, dependencies, config

Fix hub model discovery type-check compatibility
  src/interpretune/analysis/ops/hub_manager.py
Labels: module: analysis

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
