Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Flatten the Examples nav; add coverage for the Neuronpedia example notebook
  docs/source/examples.md
  docs/source/index.md
  tests/examples/test_notebooks.py
Labels: area: tests, area: docs

Point interpretune's wave references at main rather than the topic branch
  docs/benchmark_artifacts/full_20260727/README.md
  scripts/dashboard_benchmark_artifacts.py
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: scripts

Make setup_dashboard_benchmark_env.py runnable with no arguments
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Add the 16k Monology production config for the documented single-GPU example
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
Labels: area: scripts, config

Disable curated-feature steering by default; simplify example titles
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/source/examples.md
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Docs: end-to-end setup commands, drop stale CLT example, fix broken weights repo
  docs/neuronpedia_dashboard_pipeline.md
  docs/verifying_dashboard_generation.md
Labels: area: docs

Re-run the local-Neuronpedia notebook against the regenerated 16k dashboards
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Regenerate local explanations via OpenRouter; make the curated step read as optional
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Document the validated single-GPU 16k run with measured timings
  docs/neuronpedia_dashboard_pipeline.md
Labels: area: docs

Soften feature-id warnings, add intervention-strength expectation, fix map overflow
  docs/neuronpedia_dashboard_pipeline.md
  docs/verifying_dashboard_generation.md
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: notebooks, area: docs, config

Reorganize the pipeline guide: quickstart first, recovery folded
  docs/neuronpedia_dashboard_pipeline.md
  docs/source/index.md
  docs/verifying_dashboard_generation.md
Labels: area: docs

Refresh the steering artifacts; detect artifact staleness instead of shipping it
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  scripts/render_notebook_docs_artifacts.py
Labels: area: notebooks, area: docs, area: scripts

Propagate the local_np intro edits to the public steering notebook
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Force the decoder map's first relayout so the colour scale is not clipped
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: notebooks, area: docs

Docs: tighten the framework description in index and README
  README.md
  docs/source/index.md
Labels: area: docs

Docs: tighten the framework description in index and README (#237)
  README.md
  docs/source/index.md
Labels: area: docs

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

CI: fail the docs build when a notebook artifact is stale
  .github/workflows/docs-build.yml
Labels: area: ci, config

Add a dry-runnable Hub publisher for columnar dashboard runs (#235)
  scripts/publish_dashboards_to_hub.py
Labels: area: scripts

Move the Hub publisher into interpretune.utils and cover it with tests
  scripts/publish_dashboards_to_hub.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_hub.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Enable the Parquet page index end-to-end and restore the 24,576-prompt corpus
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts, config

Gate the page-index flag on SAEDashboard actually supporting it
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Record the proven 24,576-prompt peak-memory recipe in the 16k config
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
Labels: area: scripts, config

Pin the capability gate in the page-index emission tests
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests

Stop two CLI options from silently overwriting config-file values
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Add the 24,576-prompt 16k config with the proven peak-memory recipe
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
Labels: area: scripts, config

Correct the artifact-size claim for 24,576 prompts: ~1.8x, not unchanged
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
Labels: area: scripts, config

Add a DashboardStore seam with dataset and bucket backends
  scripts/publish_dashboards_to_hub.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_hub.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Publish activation_copy_rows by default; refuse to publish an unimportable corpus
  scripts/publish_dashboards_to_hub.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_hub.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Document publishing dashboards to a Hub bucket or dataset repo
  docs/neuronpedia_dashboard_pipeline.md
Labels: area: docs

Make the bucket the default dashboard store, after end-to-end validation
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_hub.py
Labels: extension: neuronpedia, module: utils, area: tests

Make corpora self-describing about source ids; drop directory-name derivation
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Add the example-aligned RTE 16k dashboard config
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-16k-rte-production.yaml
Labels: area: scripts, config

Document downloading and importing the published dashboard corpora
  docs/verifying_dashboard_generation.md
Labels: area: docs

Corpus self-description and an explicit bucket destination
  docs/neuronpedia_dashboard_pipeline.md
  docs/verifying_dashboard_generation.md
  scripts/publish_dashboards_to_hub.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, area: scripts

CI: fail the docs build when a notebook artifact is stale (#239)
  .github/workflows/docs-build.yml
Labels: area: ci, config

Fix pyright, require the page-index option, relocate dashboard configs
  docs/neuronpedia_dashboard_pipeline.md
  docs/verifying_dashboard_generation.md
  pyproject.toml
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-rte-base.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-16k-rte-production.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-multigpu-validation.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu0-benchmark-template.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu01.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu1.yaml
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: examples, area: tests, area: docs, area: build, dependencies, config

Require the page-index option outright instead of probing for it
  docs/verifying_dashboard_generation.md
  pyproject.toml
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, area: build, dependencies, config

Wrap hub download+import in one command, with shared conflict handling
  docs/verifying_dashboard_generation.md
  scripts/fetch_dashboards_from_hub.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_source_conflicts.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_source_conflicts.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, area: scripts

Refuse an explanation-destroying overwrite before downloading, not after
  scripts/fetch_dashboards_from_hub.py
Labels: area: scripts
