Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Let a target declare the extras it supplies, and have the bridge target supply one so the composition case fires in-tree
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_backend_conformance.py
Labels: area: tests

Pin the documentation issue-state checker's three states offline
  tests/core/test_check_doc_issue_rows.py
Labels: area: tests

Create the conformance working directory on first use and remove it at class teardown and process exit
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/collections.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_conformance_harness.py
Labels: area: tests

Check that every setting a conformance target supplied survived composition, by field and by identity
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_conformance_harness.py
Labels: area: tests

Conformance: a supplied setting must survive composition, the working directory stops leaking, and the doc issue-state checker gets its test (#551)
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/collections.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_backend_conformance.py
  tests/core/test_check_doc_issue_rows.py
  tests/core/test_conformance_harness.py
Labels: area: tests

Emit the conformance selection report as a JSON artifact with the declarations it measured and its provenance
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/plugin.py
  tests/core/test_conformance_harness.py
Labels: area: tests

Render measured capabilities on the adapter card from a published conformance report, never by its presence
  docs/adapter_development_guide.md
  src/interpretune/hub/cards.py
  src/interpretune/hub/publish.py
  tests/core/test_adapter_card.py
Labels: area: tests, area: docs

Key the measured report to the component directory's revision, computed by one helper on both sides
  docs/adapter_development_guide.md
  src/interpretune/hub/cards.py
  src/interpretune/hub/publish.py
  src/interpretune/hub/revisions.py
  src/interpretune/testing/conformance/plugin.py
  tests/core/test_adapter_card.py
Labels: area: tests, area: docs

Say beside the code why the repository-head fallback is strict where the directory-revision path is not
  src/interpretune/hub/cards.py
Labels: none

Render measured capabilities on the adapter card from a conformance report the suite emits, keyed to the component's revision (#552)
  docs/adapter_development_guide.md
  src/interpretune/hub/cards.py
  src/interpretune/hub/publish.py
  src/interpretune/hub/revisions.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/plugin.py
  tests/core/test_adapter_card.py
  tests/core/test_conformance_harness.py
Labels: area: tests, area: docs

Exclude Markdown at any depth from the gated pipeline's path filters
  .azure-pipelines/gpu-tests.yml
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
Labels: area: examples, area: experiments, area: docs, config

Record the ungated conformance cases in a manifest and refuse growth of the set by name
  docs/adapter_conformance_contract.md
  src/interpretune/testing/conformance/manifest.py
  tests/core/test_conformance_manifest.py
Labels: area: tests, area: docs

Conformance: the analysis cases read the support records
  docs/adapter_conformance_contract.md
  src/interpretune/testing/conformance/cases.py
Labels: area: docs

Exclude Markdown at any depth from the gated pipeline's path filters (#555)
  .azure-pipelines/gpu-tests.yml
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
Labels: area: examples, area: experiments, area: docs, config

Conformance: a manifest of the ungated cases that refuses growth by name, and analysis cases that read the support records (#556)
  docs/adapter_conformance_contract.md
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/manifest.py
  tests/core/test_conformance_manifest.py
Labels: area: tests, area: docs

Hold only the cpu-heavy host lease through the gated job's CPU phase; take gpu for the GPU phases
  .azure-pipelines/gpu-tests.yml
  AGENTS.md
  scripts/gen_it_coverage.sh
  scripts/gpu_lease_wrap.sh
  tests/special_tests.sh
Labels: area: tests, area: docs, area: scripts, config

Remove the unrunnable raw-graph example
  src/it_examples/utils/raw_graph_analysis.py
  src/it_examples/utils/raw_graph_analysis_example_incomplete.py
Labels: area: examples

Rename raw_graph_analysis to graph_analysis_helpers
  .github/copilot-instructions.md
  AGENTS.md
  docs/notebook_artifacts/attribution_analysis/analysis_points.py
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  pyproject.toml
  src/it_examples/experiments/notebook/concept_direction/analysis/intervention_drift_analysis.ipynb
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/utils/graph_analysis_helpers.py
Labels: area: examples, area: experiments, area: notebooks, area: docs, area: ci, area: build, dependencies, config

Stubs: composite ops accept keyword overrides and the base batch protocol; conformance init declares its lazy names
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
  src/interpretune/testing/conformance/__init__.py
Labels: area: scripts

Type-check every module under src: drop the three exclusions and fix what they hid
  .github/copilot-instructions.md
  AGENTS.md
  pyproject.toml
  src/it_examples/experiments/notebook/concept_direction/analysis/decoder_mass_probe.py
  src/it_examples/experiments/notebook/concept_direction/analysis/pole_overlap_probe.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/concept_direction/diagnostic.py
  src/it_examples/experiments/notebook/nb_harness_utils.py
  src/it_examples/tests/notebook/_harness/oqi_debug_session_ablation.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
  src/it_examples/utils/graph_analysis_helpers.py
  tests/configuration.py
  tests/conftest.py
Labels: module: config, area: examples, area: experiments, area: tests, area: docs, area: ci, area: build, dependencies, config

Describe the lease handoff evidence without build numbers
  .azure-pipelines/gpu-tests.yml
  scripts/gpu_lease_wrap.sh
Labels: area: scripts, config

Reach a hub adapter's config class through the registry
  src/interpretune/adapters/registration.py
  src/interpretune/config/shared.py
Labels: module: adapters, module: config, adapter: registration

Cover the registry-backed config discovery route
  tests/core/test_adapters_registration.py
Labels: area: tests

Document that an adapter ships two config classes, and how yours is found
  docs/adapter_development_guide.md
Labels: area: docs

Put module_cfg_extras through the seed's constructor
  src/interpretune/testing/conformance/inputs.py
Labels: none

Derive the stub's public surface instead of hand-listing it
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
Labels: area: scripts

Check that the stub covers the public surface, not just its generator
  tests/core/test_public_surface_stub.py
Labels: area: tests

Reach a hub adapter's config class through the registry, and compose supplied settings (#562)
  docs/adapter_development_guide.md
  src/interpretune/adapters/registration.py
  src/interpretune/config/shared.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_adapters_registration.py
Labels: module: adapters, module: config, adapter: registration, area: tests, area: docs

Add the clamp intervention mode, and read the final-norm scale from the module
  docs/jlens_norm_folding.md
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/optools.py
  src/interpretune/testing/conformance/cases.py
  tests/core/test_intervention_clamp_mode.py
  tests/core/test_intervention_position_contract.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_rmsnorm_scale_probe.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests, area: docs

Type-check every module under src: drop the exclusions, fix what they hid, rename the graph helpers (#560)
  .github/copilot-instructions.md
  AGENTS.md
  docs/notebook_artifacts/attribution_analysis/analysis_points.py
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  pyproject.toml
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
  src/interpretune/testing/conformance/__init__.py
  src/it_examples/experiments/notebook/concept_direction/analysis/decoder_mass_probe.py
  src/it_examples/experiments/notebook/concept_direction/analysis/intervention_drift_analysis.ipynb
  src/it_examples/experiments/notebook/concept_direction/analysis/pole_overlap_probe.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/concept_direction/diagnostic.py
  src/it_examples/experiments/notebook/nb_harness_utils.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/tests/notebook/_harness/oqi_debug_session_ablation.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
  src/it_examples/utils/graph_analysis_helpers.py
  src/it_examples/utils/raw_graph_analysis_example_incomplete.py
  tests/configuration.py
  tests/conftest.py
Labels: module: config, area: examples, area: experiments, area: notebooks, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Make the CPU phase's device-count guard able to fail, and leave evidence it ran
  .azure-pipelines/gpu-tests.yml
Labels: config

Hold only the cpu-heavy host lease through the gated job's CPU phase; take gpu for the GPU phases (#558)
  .azure-pipelines/gpu-tests.yml
  AGENTS.md
  scripts/gen_it_coverage.sh
  scripts/gpu_lease_wrap.sh
  tests/special_tests.sh
Labels: area: tests, area: docs, area: scripts, config

convert consumer to agent-neutral layout
  .agents/skills/.shared-skills.sha256
  .agents/skills/analysis-injection/SKILL.md
  .agents/skills/az-pipelines-failure-triage/SKILL.md
  .agents/skills/az-pipelines-ops/SKILL.md
  .agents/skills/cross-platform-latex/SKILL.md
  .agents/skills/cross-platform-latex/references/config-recipes.md
  .agents/skills/cross-platform-latex/references/platform-matrix.md
  .agents/skills/cross-platform-latex/scripts/check_math.py
  .agents/skills/cross-platform-latex/scripts/probe_renderers.py
  .agents/skills/debug-remote-ci-failures/SKILL.md
  .agents/skills/developing-adapters/SKILL.md
  .agents/skills/fixture-usage/SKILL.md
  .agents/skills/gpu-lease/SKILL.md
  .agents/skills/register-new-benchmark/SKILL.md
  .agents/skills/registering-example-modules/SKILL.md
  .agents/skills/update-analysis-injection-notebook/SKILL.md
  .agents/skills/updating-expected-results/SKILL.md
  .gitignore
  .pre-commit-config.yaml
  opencode.json
  scripts/check_vendored_skills.py
Labels: area: docs, area: ci, area: scripts, config

keep opencode.json local-only: untrack host-absolute instruction paths
  .gitignore
  opencode.json
Labels: config

Derive the stub's public surface instead of hand-listing it
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
Labels: area: scripts

Check that the stub covers the public surface, not just its generator
  tests/core/test_public_surface_stub.py
Labels: area: tests

Derive the stub's public surface so typed consumers can see the whole API (#563)
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
  tests/core/test_public_surface_stub.py
Labels: area: tests, area: scripts

Add the clamp intervention mode, and read the final-norm scale from the module
  docs/jlens_norm_folding.md
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/optools.py
  src/interpretune/testing/conformance/cases.py
  tests/core/test_intervention_clamp_mode.py
  tests/core/test_intervention_position_contract.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_rmsnorm_scale_probe.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests, area: docs

Carry the clamp band through the mapping-payload path
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_intervention_clamp_mode.py
Labels: module: analysis, area: tests

Add the clamp intervention mode, and read the final-norm scale from the module (#559)
  docs/jlens_norm_folding.md
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/optools.py
  src/interpretune/testing/conformance/cases.py
  tests/core/test_intervention_clamp_mode.py
  tests/core/test_intervention_position_contract.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_rmsnorm_scale_probe.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests, area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
