Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

ci: report-only regen-check comments on triggering PR when pin diffs exist
  .github/workflows/regen-report.yml
Labels: area: ci, config

ci: use github-script to create-or-update single regen-check comment on PRs
  .github/workflows/regen-report.yml
Labels: area: ci, config

move regen req check to a separate non-blocking workflow and test behavior
  .github/workflows/ci_test-full.yml
  pyproject.toml
Labels: area: ci, area: build, dependencies, config

ci: rename and harden regen report and scheduled check workflows; remove unsupported git flags; fail on real errors
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

clarify new regen ci req workflow names, test PR comment logic
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

ci: fix github-script to use github.rest.issues for comments
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

ci: only comment on PRs from this repo and handle comment API errors gracefully
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

test regen-ci-req workflows with updated permissions
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

ci: avoid nested github.event access in step condition; validate payload inside script
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

ci: derive base repo from payload and log repo names before commenting
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

ci: avoid requiring @actions/core in github-script; use console.warn in catch
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

adjust regen-ci-request token permissions at flow level
  .github/workflows/regen-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

ci: include top-5 package-change summary in regen report PR comment
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

ci: use python-generated regen_summary.txt in PR comment; remove JS parsing
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

test refactored ci req diff comment posting approach
  .github/workflows/regen-ci-req-report.yml
  scripts/regen_summary.py
Labels: area: ci, area: scripts, config

fix regression in regen-ci-req flow
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

always update PRs with CI req check status, test re-enabling co-pilot firewall, refactor ci-req jobs to share logic where possible
  .github/actions/regen-ci-reqs/action.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/regen-check.yml
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
  .github/workflows/regen-report.yml
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  requirements/examples.txt
Labels: area: docs, area: ci, area: build, dependencies, config

make copilot agent network diagnostics collection optional and default to false
  .github/actions/regen-ci-reqs/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

remove dup circuit-tracer ref in generated ci reqs
  .github/workflows/copilot-setup-steps.yml
  pyproject.toml
  requirements/ci/requirements.in
  requirements/examples.txt
Labels: area: docs, area: ci, area: build, dependencies, config

update regen_reqfiles to clarify
  requirements/regen_reqfiles.py
Labels: area: build, dependencies

A lightweight periodic CI req pinning system w/ non-blocking PR reports to balance CI stability and developer flexibility (#151)
  .github/actions/regen-ci-reqs/action.yml
  .github/actions/run-pytest-instrumented/action.yml
  .github/instructions/copilot-instructions.md
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
  pyproject.toml
  requirements/base.txt
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  requirements/examples.txt
  requirements/platform_dependent.txt
  requirements/post_upgrades.txt
  requirements/regen_reqfiles.py
  requirements/test.txt
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
  scripts/regen_summary.py
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

initial azpl configuration
  .azure-pipelines/gpu-tests.yml
  .codecov.yml
  .github/workflows/ci_test-full.yml
  dockers/base-cuda/Dockerfile
  dockers/build_image_version.sh
  dockers/docker_images_main.sh
  dockers/docker_images_release.sh
  dockers/it-az-base/.bashrc
  dockers/it-az-base/Dockerfile
  scripts/build_it_env.sh
  scripts/ci_print_env_versions.py
Labels: area: ci, area: scripts, config

move env variables top container context
  .azure-pipelines/gpu-tests.yml
Labels: config

make `ProfParityCfg` `force_prepare_data` for profiling and CI runner cache reproduction
  .azure-pipelines/gpu-tests.yml
  tests/parity_acceptance/test_it_l.py
Labels: area: tests, config

try refactoring cache volume
  .azure-pipelines/gpu-tests.yml
Labels: config

add temporary container diagnostics
  .azure-pipelines/gpu-tests.yml
Labels: config

update codecov config and test pipeline approval
  .azure-pipelines/gpu-tests.yml
Labels: config

use new version of codecov uploader
  .azure-pipelines/gpu-tests.yml
Labels: config

add repo permissions cleanup step
  .azure-pipelines/gpu-tests.yml
Labels: config

fix codecov syntax, adjust config to support our rootless docker setup
  .azure-pipelines/gpu-tests.yml
Labels: config

update new codecov cli options, enhance docker container options
  .azure-pipelines/gpu-tests.yml
  dockers/it-az-base/Dockerfile
Labels: config

update for latest codecov tool release, make cleanup step mandatory
  .azure-pipelines/gpu-tests.yml
Labels: config

switch to using global token for codecov
  .azure-pipelines/gpu-tests.yml
Labels: config

add removal of .pytest_cache created with host subuid to cleanup step
  .azure-pipelines/gpu-tests.yml
Labels: config

make reset_hf_cache an azure pipelines parameter instead of a variable
  .azure-pipelines/gpu-tests.yml
Labels: config

remove temporary bugfix trigger branch, clarify cleanup step language
  .azure-pipelines/gpu-tests.yml
Labels: config

Add Azure GPU pipeline, rootless CI Docker images, and CI tooling improvements (#152)
  .azure-pipelines/gpu-tests.yml
  .codecov.yml
  .github/workflows/ci_test-full.yml
  dockers/base-cuda/Dockerfile
  dockers/build_image_version.sh
  dockers/docker_images_main.sh
  dockers/docker_images_release.sh
  dockers/it-az-base/.bashrc
  dockers/it-az-base/Dockerfile
  scripts/build_it_env.sh
  scripts/ci_print_env_versions.py
  tests/parity_acceptance/test_it_l.py
Labels: area: tests, area: ci, area: scripts, config

update copilot guidance
  .github/copilot-instructions.md
Labels: area: docs, area: ci

test all branches ready for review (may revert if resource constraints dictate)
  .azure-pipelines/gpu-tests.yml
Labels: config

Address/cleanup pyright type issues throughout the codebase (#153) (phase 1)
  .azure-pipelines/gpu-tests.yml
  .github/copilot-instructions.md
  pyproject.toml
  src/interpretune/utils/exceptions.py
  src/interpretune/utils/logging.py
Labels: module: utils, area: docs, area: ci, area: build, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
