Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

fix azure pipeline trigger for PRs
  .azure-pipelines/gpu-tests.yml
Labels: config

deduplicated completed files list
  pyproject.toml
Labels: area: build, dependencies, config

refactor pyproject.toml tracking of remaining type checking refactor files
  pyproject.toml
Labels: area: build, dependencies, config

update copilot instructions and pyproject.toml clarity
  .github/copilot-instructions.md
  pyproject.toml
Labels: area: docs, area: ci, area: build, dependencies, config

update copilot instructions
  .github/copilot-instructions.md
  pyproject.toml
Labels: area: docs, area: ci, area: build, dependencies, config

re-comment two modules we're still working on type checking refactor
  pyproject.toml
Labels: area: build, dependencies, config

remove extraneous pyproject.toml config after debugging pylance/pyright integration
  pyproject.toml
Labels: area: build, dependencies, config

fix copilot setup step deps
  .github/workflows/copilot-setup-steps.yml
Labels: area: ci, config

skip running pyright in copilot setup for now while its output remains volatile
  .github/workflows/copilot-setup-steps.yml
Labels: area: ci, config

fixed numerous broken tests, refactored some code that was diverging from desired patterns, reset file type checking error counts after removing/refactoring problematic type constraints
  pyproject.toml
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/formatters.py
  src/interpretune/analysis/ops/__init__.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/analysis/ops/dynamic_module_utils.py
  src/interpretune/base/call.py
  src/interpretune/base/components/cli.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/base/datamodules.py
  src/interpretune/config/__init__.py
  src/interpretune/config/analysis.py
  src/interpretune/config/datamodule.py
  src/interpretune/config/module.py
  src/interpretune/config/runner.py
  src/interpretune/config/sae_lens.py
  src/interpretune/config/shared.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/extensions/debug_generation.py
  src/interpretune/extensions/memprofiler.py
  src/interpretune/extensions/neuronpedia.py
  src/interpretune/module_registry.yaml
  src/interpretune/protocol.py
  src/interpretune/registry.py
  src/interpretune/runners/analysis.py
  src/interpretune/runners/core.py
  tests/__init__.py
  tests/core/test_dynamic_module_utils.py
  tests/core/test_sae_lens.py
Labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: transformer_lens, module: runners, module: protocol, module: registry, area: tests, area: build, dependencies, config

update build scripts to include it_release env
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
Labels: area: scripts

simplify copilot instructions and setup steps to use editable install
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Labels: area: docs, area: ci, config

add it_release scripts to build env
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
Labels: area: scripts

update regen_reqfiles.py to use --update flag to avoid relying on cached dependencies
  requirements/ci/requirements.txt
  requirements/regen_reqfiles.py
Labels: area: docs, area: build, dependencies

minor cleanup and refactor
  pyproject.toml
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/base/components/core.py
  src/interpretune/config/module.py
Labels: module: adapters, module: base, module: config, adapter: circuit_tracer, area: build, dependencies, config

fix type errors generated by `generate_op_stubs.py`, remove type warnings
  pyproject.toml
  scripts/generate_op_stubs.py
  src/interpretune/__init__.py
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/base/__init__.py
Labels: module: analysis, module: base, area: build, area: scripts, dependencies, config

enhance type stub generation for static analysis
  pyproject.toml
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
  src/it_examples/experiments/rte_boolq.py
Labels: area: examples, area: experiments, area: build, area: scripts, dependencies, config

fixed op collection example hub op namespacing bug, converted pyproject.yaml type checking configuration to use wildcards
  pyproject.toml
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/definitions.py
Labels: module: analysis, area: build, dependencies, config

update profiling memory footprints, add type check workflow, make ci installation flow editable mode
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/type-check.yml
  tests/parity_acceptance/profile_memory_footprints.yaml
Labels: area: tests, area: ci, config

add new composite actions, add a stale stubs check to type check workflow, refactor shared composite actions
  .github/actions/check-file-diffs/action.yml
  .github/actions/install-ci-dependencies/action.yml
  .github/actions/regen-ci-reqs/action.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/type-check.yml
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
Labels: area: ci, area: scripts, config

fix composite action variable/logic mismatch
  .github/actions/install-ci-dependencies/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/type-check.yml
Labels: area: ci, config

updated stale stubs and type checks to upload diff artifact, enhanced type stub generation to include formatting to ensure semantic diffs
  .github/workflows/type-check.yml
  scripts/generate_op_stubs.py
Labels: area: ci, area: scripts, config

make gpu az pipelines workflow pr trigger explicit
  .azure-pipelines/gpu-tests.yml
Labels: config

add new composite actions, add a stale stubs check to type check workflow, refactor shared logic into composite actions (#162)
  .azure-pipelines/gpu-tests.yml
  .github/actions/check-file-diffs/action.yml
  .github/actions/install-ci-dependencies/action.yml
  .github/actions/regen-ci-reqs/action.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/type-check.yml
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
Labels: area: ci, area: scripts, config

fix newly introduced type checking errors
  src/it_examples/example_module_registry.py
Labels: area: examples

WIP: initial fixture benchmarking infra
  comprehensive_fixture_benchmark.py
  pyproject.toml
  scripts/manage_standalone_processes.sh
  tests/FIXTURE_ANALYSIS.md
  tests/dynamic_fixture_benchmark.py
  tests/fixture_benchmark_report.md
Labels: area: tests, area: docs, area: build, area: scripts, dependencies, config

simplified and streamlined fixture enumeration and isolated benchmark report generation
  tests/dynamic_fixture_benchmark.py
  tests/fixture_benchmark_report.md
Labels: area: tests, area: docs

initial pre-lazy import refactor version of dynamic fixture benchmarking report, removed old integration tests
  .gitignore
  pyproject.toml
  tests/dynamic_fixture_benchmark.py
  tests/fixture_benchmark_report.md
  tests/ioi_parity/__init__.py
  tests/ioi_parity/ioi_circuit_extraction.py
  tests/ioi_parity/ioi_dataset.py
  tests/ioi_parity/ioi_parity.py
  tests/ioi_parity/ioi_parity_test.py
  tests/ioi_parity/plotly_utils.py
  tests/ioi_parity/tests.py
  tests/mech_interp_parity/__init__.py
  tests/mech_interp_parity/mech_interp.py
  tests/mech_interp_parity/mech_interp_parity_test.py
  tests/mech_interp_parity/tests.py
Labels: area: tests, area: docs, area: build, dependencies, config

WIP: initial lazy import migration for adapters
  src/interpretune/__init__.py
  src/interpretune/adapter_registry.py
  src/interpretune/adapters/__init__.py
  src/interpretune/adapters/_light_register.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/protocol.py
  tests/_lazy_imports.py
  tests/core/test_sae_lens.py
  tests/data_generation.py
Labels: module: adapters, adapter: sae_lens, adapter: transformer_lens, module: protocol, module: registry, area: tests

add an top-level import timing guard and apply some copilot suggestions and initial CONTRIBUTING.md
  .github/instructions/copilot-instructions.md
Labels: area: docs, area: ci

add an top-level import timing guard and apply some copilot suggestions and initial CONTRIBUTING.md
  CONTRIBUTING.md
  src/interpretune/adapters/_light_register.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/protocol.py
  tests/core/test_import_time_and_adapters.py
  tests/dynamic_fixture_benchmark.py
Labels: module: adapters, module: config, adapter: transformer_lens, module: protocol, area: tests, area: docs

bump top-level import time guard to be more conservative for slow runners
  tests/core/test_import_time_and_adapters.py
Labels: area: tests

fix periodic regen ci req PR generation permissions
  .github/workflows/regen-ci-req-check.yml
Labels: area: ci, config

Clarify import strategy, accelerate package import, add fixture analysis + speedscope profiling tools, and tidy example registry (#163)
  .github/instructions/copilot-instructions.md
  .github/workflows/regen-ci-req-check.yml
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
  scripts/manage_standalone_processes.sh
  scripts/speedscope_top_packages.py
  src/interpretune/__init__.py
  src/interpretune/adapter_registry.py
  src/interpretune/adapters/__init__.py
  src/interpretune/adapters/_light_register.py
  src/interpretune/protocol.py
  src/it_examples/example_module_registry.py
  src/it_examples/notebooks/circuit_tracer_example/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/saelens_adapter_example/saelens_adapter_example_registry.ipynb
  tests/FIXTURE_ANALYSIS.md
  tests/PROFILING.md
  tests/README.md
  tests/core/test_adapter_registration.py
  tests/core/test_example_module_registry.py
  tests/core/test_import_time_and_adapters.py
  tests/data_generation.py
  tests/dynamic_fixture_benchmark.py
  tests/fixture_benchmark_report.md
  tests/ioi_parity/__init__.py
  tests/ioi_parity/ioi_circuit_extraction.py
  tests/ioi_parity/ioi_dataset.py
  tests/ioi_parity/ioi_parity.py
  tests/ioi_parity/ioi_parity_test.py
  tests/ioi_parity/plotly_utils.py
  tests/ioi_parity/tests.py
  tests/mech_interp_parity/__init__.py
  tests/mech_interp_parity/mech_interp.py
  tests/mech_interp_parity/mech_interp_parity_test.py
  tests/mech_interp_parity/tests.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/test_it_cli.py
Labels: module: adapters, module: protocol, module: registry, area: examples, area: notebooks, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Auto-regenerate pinned requirements via scheduled regen-check
  regen_diff.patch
  requirements/ci/requirements.txt
  requirements/profiling.txt
Labels: area: docs, area: build, dependencies

use PAT for periodic regen ci req PR to avoid recursive checks associated with default token
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

Auto-regenerate pinned requirements via scheduled regen-check
  regen_diff.patch
  requirements/ci/requirements.txt
  requirements/profiling.txt
Labels: area: docs, area: build, dependencies

update path to regen_diff.patch in check flow
  .github/workflows/regen-ci-req-check.yml
Labels: area: ci, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/profiling.txt
Labels: area: docs, area: build, dependencies

Refactor periodic regen ci req (#167)
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config
