Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Write the derivation in real notation, and correct the pythia mechanism
  docs/jlens_norm_folding.md
Labels: area: docs

Hold the norm-folding derivation page for the investigation that will ground it
  docs/jlens_norm_folding.md
  docs/source/index.md
  docs/source/usage/jlens_norm_folding.md
Labels: area: docs

Stop published notebook artifacts from carrying the renderer's identity
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Add an armed watcher for background runs
  AGENTS.md
  scripts/watch_run.sh
  tests/core/test_watch_run.py
Labels: area: tests, area: docs, area: scripts

Read the Azure build state as the CLI actually prints it
  scripts/watch_run.sh
  tests/core/test_watch_run.py
Labels: area: tests, area: scripts

Say in the watcher rules that kill -0 succeeds on a zombie
  AGENTS.md
Labels: area: docs

Make the pattern mode run on bash 3.2
  scripts/watch_run.sh
Labels: area: scripts

Add an armed watcher for background runs (#516)
  AGENTS.md
  scripts/watch_run.sh
  tests/core/test_watch_run.py
Labels: area: tests, area: docs, area: scripts

Compare the published notebook set and the roster in both directions
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: tests

Compare the published notebook set and the roster in both directions (#517)
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: tests

Stop published notebook artifacts from carrying the renderer's identity
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Say that the bundled multimodal map covers the language model only
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/data/gemma3_multimodal.yaml
Labels: module: analysis, area: docs, config

Say that the bundled multimodal map covers the language model only (#518)
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/data/gemma3_multimodal.yaml
Labels: module: analysis, area: docs, config

Say how to fix an unmet pip requirement, not only that it is unmet (#507)
  src/interpretune/utils/requirements.py
  tests/core/test_requires_install_command.py
Labels: module: utils, area: tests

Select the inner model by identity, never by truthiness
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Select the inner model by identity, never by truthiness (#519)
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Add the vendored-skills checker this repo now has skills to protect
  scripts/check_vendored_skills.py
Labels: area: scripts

Require LaTeX for mathematics, and say which renderer disagreements bite
  AGENTS.md
Labels: area: docs

Arm the vendored-skills checker, with the exclusion it has to survive
  .pre-commit-config.yaml
Labels: area: ci, config

Update the unpinned loader expectation, which the fix legitimately changed
  tests/core/test_analysis_ops_dispatcher.py
Labels: area: tests

Import a hub op's implementation from the revision its definition was loaded from
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_op_collection_publish_roundtrip.py
Labels: module: analysis, area: tests

Say which of warm-or-mark applies, not only that both exist
  tests/hf_warm_manifest.yaml
Labels: area: tests, config

Give the conformance harness a reject payload, and state the mode boundary as a capability
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/testing/conformance/cases.py
Labels: module: analysis

Anchor the mode boundary to the declaration, and fix the same claim in its twin
  src/interpretune/analysis/backends/capabilities.py
Labels: module: analysis

Add the reject intervention mode: remove a span rather than keep it
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_intervention_reject_mode.py
Labels: module: analysis, area: tests

Classify a quiet-mode pytest summary in the watcher
  scripts/watch_run.sh
  tests/core/fixtures/watch_run_quiet_green_tail.txt
  tests/core/test_watch_run.py
Labels: area: tests, area: docs, area: scripts

Protect the vendored skills, and require LaTeX for mathematics (#525)
  .pre-commit-config.yaml
  AGENTS.md
  scripts/check_vendored_skills.py
Labels: area: docs, area: ci, area: scripts, config

Component map schema 2: kinds as data, row applicability, additional stacks, typed properties, and a load-time check against the model
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/__init__.py
  src/interpretune/analysis/points/component_map.py
  src/interpretune/analysis/points/resolution.py
  src/interpretune/analysis/points/validation.py
  src/interpretune/analysis/points/vocabulary.py
  tests/core/fixtures/component_map_schema2.yaml
  tests/core/test_activation_points.py
  tests/core/test_component_map_reader_contract.py
  tests/core/test_component_map_schema2.py
Labels: module: analysis, area: tests, area: docs, config

Add the two reach lessons to the verification guidance
  AGENTS.md
Labels: area: docs

Component map schema 2: kinds as data, row applicability, additional stacks, typed properties, and a load-time check against the model (#524)
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/__init__.py
  src/interpretune/analysis/points/component_map.py
  src/interpretune/analysis/points/resolution.py
  src/interpretune/analysis/points/validation.py
  src/interpretune/analysis/points/vocabulary.py
  tests/core/fixtures/component_map_schema2.yaml
  tests/core/test_activation_points.py
  tests/core/test_component_map_reader_contract.py
  tests/core/test_component_map_schema2.py
Labels: module: analysis, area: tests, area: docs, config

Document the cross-attention and resid-after points
  docs/activation_point_vocabulary.md
Labels: area: docs

Import a hub op's implementation from the revision its definition was loaded from (#522)
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_op_collection_publish_roundtrip.py
Labels: module: analysis, area: tests

Add the reject intervention mode: remove a span rather than keep it (#512)
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/testing/conformance/cases.py
  tests/core/test_intervention_reject_mode.py
  tests/hf_warm_manifest.yaml
Labels: module: analysis, area: tests, config

Classify a quiet-mode pytest summary in the watcher (#526)
  AGENTS.md
  scripts/watch_run.sh
  tests/core/fixtures/watch_run_quiet_green_tail.txt
  tests/core/test_watch_run.py
Labels: area: tests, area: docs, area: scripts

Check the component map against the model at attach, before the probe forward
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/analysis/backends/hook_mapping.py
  tests/core/test_nnsight_tuple_calibration.py
Labels: module: adapters, module: analysis, area: tests

Check the component map against the model at attach, before the probe forward (#527)
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/analysis/backends/hook_mapping.py
  tests/core/test_nnsight_tuple_calibration.py
Labels: module: adapters, module: analysis, area: tests

Key sublayer contributions by kind name, and add the cross-attention and resid-after points
  src/interpretune/analysis/points/resolution.py
  src/interpretune/analysis/points/vocabulary.py
  tests/core/test_activation_points.py
  tests/core/test_component_map_schema2.py
Labels: module: analysis, area: tests

Add the three ride strengths to the verification guidance
  AGENTS.md
Labels: area: docs

Key sublayer contributions by kind name, and add the cross-attention and resid-after points (#528)
  src/interpretune/analysis/points/resolution.py
  src/interpretune/analysis/points/vocabulary.py
  tests/core/test_activation_points.py
  tests/core/test_component_map_schema2.py
Labels: module: analysis, area: tests

Document the cross-attention and resid-after points (#529)
  docs/activation_point_vocabulary.md
Labels: area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
