Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Mark the hub-delivery execution test hf_live, not warm-cached
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: tests

Narrow the AST target before reading its name (pyright)
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: tests

Consume load_hub_adapter's report shape, and cover the cell that broke
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: notebooks, area: tests, config

Say which of manifest-or-mark to reach for, and how to verify the mark
  docs/ci_hub_cache.md
Labels: area: docs

Add the hub-delivered adapter notebook (N6) and its static invariants
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, config

Re-pin the hub-delivered adapter to the revision carrying the ruled mappings
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
Labels: area: examples, area: notebooks, config

Fail check-stale on a published notebook with no rendered artifact
  .github/workflows/docs-build.yml
  AGENTS.md
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: tests, area: docs, area: ci, area: scripts, config

Run the hub-delivered adapter notebook over the engine end to end through section 4
  docs/source/examples.md
  src/interpretune/analysis/backends/capabilities.py
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
  tests/core/test_analysis_backend_protocols.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Repoint benchmark registry at relocated configs (#499)
  tests/benchmarks/benchmark_registry.yaml
Labels: area: tests, config

Accept circuit-tracer's registered attention by provenance; run 4b through the reject composite
  src/interpretune/analysis/backends/capabilities.py
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
  tests/core/test_analysis_backend_protocols.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, config

Render the hub-delivered adapter notebook with outputs; re-pin to the component carrying #38
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Compare the missing-artifact path in the platform's own spelling
  tests/core/test_notebook_artifact_staleness.py
Labels: area: tests

Fail check-stale on a published notebook with no rendered artifact (#592)
  .github/workflows/docs-build.yml
  AGENTS.md
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: tests, area: docs, area: ci, area: scripts, config

Run section 4b as the sibling's J-space swap, staged as a two-pass add over interp-engine
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Re-render the local-Neuronpedia steering artifact with collection access; fail check-stale on a skipped section
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Add the hub-delivered adapter notebook (N6) with its rendered artifact and static invariants (#475)
  docs/ci_hub_cache.md
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  docs/source/examples.md
  src/interpretune/analysis/backends/capabilities.py
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
  src/it_examples/tests/test_notebooks.py
  tests/core/test_analysis_backend_protocols.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Re-render the local-Neuronpedia steering artifact with collection access; fail check-stale on a skipped section (#599)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Add folded J-lens signatures to feature IO profiles with display support (#421)
  src/it_examples/tests/test_feature_jlens_signatures.py
  src/it_examples/utils/example_helpers.py
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: tests

Fix pyright **kwargs-unpacking complaint in the signature tests (#421)
  src/it_examples/tests/test_feature_jlens_signatures.py
Labels: area: examples, area: tests

Move interp-engine pin 1.5.1 -> ~=1.11.1 with the pin-style rationale; regen CI lock
  pyproject.toml
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies, config

Give the gemma eager-attention provenance tests the unpatch fixture
  tests/core/test_analysis_backend_protocols.py
  tests/core/test_gemma_eager_attention_restore.py
Labels: area: tests

Point the hub-adapter notebook at the 1.11.1 component revision
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Fix jlens readout: include final-norm bias, place rms divisor pre-weighting
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Fix jlens readout: include final-norm bias, place rms divisor pre-weighting (#603) (#604)
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  pyproject.toml
  requirements/ci/requirements.txt
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  tests/core/test_analysis_backend_protocols.py
  tests/core/test_gemma_eager_attention_restore.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, area: build, dependencies, config

Add the feature-vs-J-direction attribution comparison cell (#338)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Define the J-lens subspace attribution decomposition with level-3 tests (#338)
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  tests/core/test_jlens_subspace_attribution.py
Labels: module: analysis, area: tests

Render the 4c attribution comparison as a table, computed from the tested decomposition
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/tests/test_nb_ui_attribution_comparison.py
  src/it_examples/utils/nb_ui_utils.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Share conformance generator cache files across runs (deterministic key + shared dir)
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_analysis_runners.py
  tests/core/test_conformance_harness.py
Labels: module: config, module: runners, area: tests

Stop the 4c comparison columns collapsing onto each other in the rendered docs
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/tests/test_nb_ui_attribution_comparison.py
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: notebooks, area: tests, area: docs

WIP: bridge-only construction in the TL and SAELens adapters (#608, #609)
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/sae_lens/config.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/adapters/transformer_lens/config.py
Labels: module: adapters, module: config

Give the 4c footer rows one spanning cell instead of an empty-flanked value
  src/it_examples/tests/test_nb_ui_attribution_comparison.py
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: tests

Re-render the 4c artifact so the docs page shows the merged footer cells
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: notebooks, area: docs

Retire use_bridge; bridge-only construction across the TL and SAELens adapters (#608, #609)
  AGENTS.md
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/sae_lens/config.py
  src/interpretune/adapters/transformer_lens/adapter.py
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer.neuronpedia.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer.yaml
  tests/base_defaults.py
  tests/benchmarks/configs/rte_boolq/gemma2/2b_chat_lightning_sl_ht_zs_test.yaml
  tests/core/cfg_aliases.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_adapters_sae_lens.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_backend_conformance.py
  tests/parity_acceptance/cfg_aliases.py
  tests/test_module_registry.yaml
Labels: module: adapters, module: config, area: examples, area: tests, area: docs, config

Assert the footer row matched before reading it
  src/it_examples/tests/test_nb_ui_attribution_comparison.py
Labels: area: examples, area: tests

Retire the SLHT configs and fix bridge analysis serialization (#608, #609)
  .agents/skills/fixture-usage/SKILL.md
  .agents/skills/register-new-benchmark/SKILL.md
  .agents/skills/registering-example-modules/SKILL.md
  .claude/skills/fixture-usage/SKILL.md
  .claude/skills/register-new-benchmark/SKILL.md
  .claude/skills/registering-example-modules/SKILL.md
  tests/base_defaults.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_formatters.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
  tests/core/test_components_mixins.py
  tests/orchestration.py
Labels: area: tests, area: docs

Per-feature J-space signatures on the reconciled IO profiles (#421)
  src/it_examples/tests/test_feature_jlens_signatures.py
  src/it_examples/utils/example_helpers.py
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: tests

J-lens subspace attribution decomposition plus demo comparison (#338)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/tests/test_nb_ui_attribution_comparison.py
  src/it_examples/utils/nb_ui_utils.py
  tests/core/test_jlens_subspace_attribution.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Fix the SAELens compatibility-mode import and re-point its conformance control
  src/interpretune/adapters/sae_lens/adapter.py
  tests/core/test_backend_conformance.py
Labels: module: adapters, area: tests

Sweep stale HookedTransformer references from the prose docs (#610)
  .github/copilot-instructions.md
  docs/adapter_development_guide.md
  docs/adapter_parity_governance.md
  docs/circuit_tracer_backend_support.md
  docs/fts_transformerlens_integration.md
  docs/generation_precedence.md
  docs/source/configuration.md
  docs/tl_config_hierarchy_overview.md
Labels: area: docs, area: ci

Share conformance generator cache files across runs (deterministic key + shared dir) (#606)
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_analysis_runners.py
  tests/core/test_conformance_harness.py
Labels: module: config, module: runners, area: tests

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
