Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Warm Hub components in the self-hosted GPU job before Testing
  .azure-pipelines/gpu-tests.yml
  scripts/warm_hf_cache.py
Labels: area: scripts, config

Promote the notebook experiment rails to interpretune.harness (#574)
  docs/resource_management.md
  src/interpretune/harness/__init__.py
  src/interpretune/harness/bootstrap.py
  src/interpretune/harness/cleanup.py
  src/interpretune/harness/config.py
  src/interpretune/harness/configs/base.yaml
  src/interpretune/harness/configs/model_specs.yaml
  src/interpretune/harness/configs/session_surface_presets.yaml
  src/interpretune/harness/display.py
  src/interpretune/harness/experiments.py
  src/interpretune/harness/launcher.py
  src/interpretune/harness/nb_harness_utils.py
  src/interpretune/harness/resources.py
  src/it_examples/experiments/notebook/README.md
  src/it_examples/experiments/notebook/concept_direction/README.md
  src/it_examples/experiments/notebook/concept_direction/__init__.py
  src/it_examples/experiments/notebook/concept_direction/analysis/concept_direction_latent_dynamics.py
  src/it_examples/experiments/notebook/concept_direction/analysis/latent_dynamics_launcher.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/concept_direction/intervention_pipeline_debugging_mode.md
  src/it_examples/experiments/notebook/concept_direction/resource_management.md
  src/it_examples/experiments/notebook/pipeline_patterns.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_backend_parity.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
  src/it_examples/tests/notebook/test_local_graph_cleanup.py
  tests/core/test_adapters_import_time.py
  tests/core/test_notebook_experiments.py
Labels: module: config, area: examples, area: experiments, area: tests, area: docs, config

Drop substring false positives from the harness config protocol
  src/interpretune/harness/nb_harness_utils.py
Labels: none

Repoint the test harness and the experiment base at the moved shared configs
  src/it_examples/experiments/notebook/concept_direction/configs/base_gemma3_it_local.yaml
  src/it_examples/tests/notebook/_harness/session.py
Labels: area: examples, area: experiments, config

gitignore: local omo run-continuation state
  .gitignore
Labels: none

Answer the #576 review: pull-path anchoring, branch-following exemption, revision pins, verb rename
  src/interpretune/harness/config.py
  src/interpretune/harness/experiments.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: module: config, area: tests

Add the experiment manifest kind with its own parity and snapshot-confined loading (#498)
  src/interpretune/harness/config.py
  src/interpretune/harness/experiments.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: module: config, area: tests

Promote the notebook experiment rails and add the experiment manifest kind (#574, #498)
  .gitignore
  docs/resource_management.md
  src/interpretune/harness/__init__.py
  src/interpretune/harness/bootstrap.py
  src/interpretune/harness/cleanup.py
  src/interpretune/harness/config.py
  src/interpretune/harness/configs/base.yaml
  src/interpretune/harness/configs/model_specs.yaml
  src/interpretune/harness/configs/session_surface_presets.yaml
  src/interpretune/harness/display.py
  src/interpretune/harness/experiments.py
  src/interpretune/harness/launcher.py
  src/interpretune/harness/nb_harness_utils.py
  src/interpretune/harness/resources.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  src/it_examples/experiments/notebook/README.md
  src/it_examples/experiments/notebook/concept_direction/README.md
  src/it_examples/experiments/notebook/concept_direction/__init__.py
  src/it_examples/experiments/notebook/concept_direction/analysis/concept_direction_latent_dynamics.py
  src/it_examples/experiments/notebook/concept_direction/analysis/latent_dynamics_launcher.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/concept_direction/configs/base_gemma3_it_local.yaml
  src/it_examples/experiments/notebook/concept_direction/intervention_pipeline_debugging_mode.md
  src/it_examples/experiments/notebook/concept_direction/resource_management.md
  src/it_examples/experiments/notebook/pipeline_patterns.py
  src/it_examples/tests/notebook/_harness/session.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_backend_parity.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
  src/it_examples/tests/notebook/test_local_graph_cleanup.py
  tests/core/test_adapters_import_time.py
  tests/core/test_hub_components.py
  tests/core/test_notebook_experiments.py
Labels: module: config, area: examples, area: experiments, area: tests, area: docs, config

Accept stacked (k, d) operands for reject and clamp at canonicalisation (#571)
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_analysis_backends.py
Labels: module: analysis, area: tests

Fix stale rails paths in the notebook README
  src/it_examples/experiments/notebook/README.md
Labels: area: examples, area: experiments, area: docs

Accept stacked (k, d) operands for reject and clamp at canonicalisation (#571)
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_analysis_backends.py
Labels: module: analysis, area: tests

Fix stale rails paths in the notebook README (#575)
  src/it_examples/experiments/notebook/README.md
Labels: area: examples, area: experiments, area: docs

Add the first-order intervention check instrument (#539)
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  tests/core/test_intervention_first_order_check.py
Labels: module: analysis, area: tests, config

Correct stale harness paths in the src notebook docs
  src/it_examples/experiments/notebook/EXPERIMENT_STATUS.md
  src/it_examples/experiments/notebook/concept_direction/README.md
  src/it_examples/experiments/notebook/concept_direction/resource_management.md
Labels: area: examples, area: experiments, area: docs

Correct stale harness paths in the src notebook docs
  src/it_examples/experiments/notebook/EXPERIMENT_STATUS.md
  src/it_examples/experiments/notebook/concept_direction/README.md
  src/it_examples/experiments/notebook/concept_direction/resource_management.md
Labels: area: examples, area: experiments, area: docs

Re-pin the steering demos onto the basis-recording collection revision
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Name the recorded basis in the J-space comparison; pin embed basis on direction calls
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Add build-time snapshot rewrite for experiment payloads (#498)
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  src/it_examples/experiments/notebook/it_component.yaml
  tests/core/test_hub_components.py
Labels: area: examples, area: experiments, area: tests, config

Rebuild the steering-demo docs artifacts on the rebased pair
  docs/notebook_artifacts/attribution_analysis/analysis_injection_config.yaml
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
Labels: area: examples, area: notebooks, area: docs, config

[infra] Warm the Hub components cache in readme-flow-smoke
  .github/workflows/readme-flow-smoke.yml
Labels: area: ci, config

Add build-time snapshot rewrite for experiment payloads (#498)
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  src/it_examples/experiments/notebook/it_component.yaml
  tests/core/test_hub_components.py
Labels: area: examples, area: experiments, area: tests, config

Close the #540 row on the J-lens alignment page
  docs/jlens_paper_alignment.md
Labels: area: docs

Fix experiment snapshot loads on Hub layout and declare generated files (#498)
  src/interpretune/harness/config.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: module: config, area: tests

Pin intervention declaration order in contract, docs, and conformance (#427)
  docs/interpretune_intervention_apis.md
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/testing/conformance/cases.py
Labels: module: analysis, area: docs

Thread concept_basis through the concept-direction harness (#420)
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction_analysis.md
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
Labels: area: examples, area: experiments, area: tests, area: docs

Add the first-order intervention-validation instrument (#539)
  src/interpretune/analysis/first_order.py
  tests/core/test_first_order_instrument.py
Labels: module: analysis, area: tests

Bump the relocated-notebook test pin 83 to 93 (#420)
  src/it_examples/tests/notebook/test_collection_guard.py
Labels: area: examples, area: tests

Fix experiment snapshot loads on Hub layout and declare generated files (#498)
  src/interpretune/harness/config.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
Labels: module: config, area: tests

Close the #540 row on the J-lens alignment page (#582)
  docs/jlens_paper_alignment.md
Labels: area: docs

Add the first-order intervention check instrument (#570)
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  tests/core/test_intervention_first_order_check.py
Labels: module: analysis, area: tests, config

Declare sequential declaration-order for multi-spec payloads with a conformance case (#573)
  docs/interpretune_intervention_apis.md
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
Labels: module: analysis, area: docs

Close the #539 rows on the J-lens alignment page
  docs/jlens_paper_alignment.md
Labels: area: docs

Close the #539 rows on the J-lens alignment page (#587)
  docs/jlens_paper_alignment.md
Labels: area: docs

Pin intervention declaration order in the contract and docs (#427)
  docs/interpretune_intervention_apis.md
  src/interpretune/analysis/backends/capabilities.py
Labels: module: analysis, area: docs

Add the first-order intervention-validation instrument (#539)
  src/interpretune/analysis/first_order.py
  tests/core/test_first_order_instrument.py
Labels: module: analysis, area: tests

Fix the tiny_gpt2_dir fixture hazard and state the fold double-count constraint (#339)
  docs/interpretune_intervention_apis.md
  tests/core/test_jlens_patch_validation.py
Labels: area: tests, area: docs

Pin level-3 on the real gemma demo pair, both backends (#339)
  tests/core/test_jlens_patch_validation.py
Labels: area: tests

Report the steering-demo headline at matched displacement (#339)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Pin intervention declaration order in the contract and docs (#583)
  docs/interpretune_intervention_apis.md
  src/interpretune/analysis/backends/capabilities.py
Labels: module: analysis, area: docs

Rebase onto current main; reword 4b to the settled refusal
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/tests/test_hub_adapter_notebook.py
Labels: area: examples, area: notebooks, area: tests, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
