Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

add TransformerBridge runtime support & simplify published notebooks
  .github/LABELS.md
  .github/copilot-instructions.md
  docs/CIRCUIT_TRACER_INSTALLATION.md
  docs/tl_config_hierarchy_overview.md
  pyproject.toml
  scripts/publish_notebooks.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/core.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/module_registry.yaml
  src/interpretune/utils/warnings.py
  src/it_examples/example_module_registry.yaml
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic_clt.ipynb
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example_registry.ipynb
  src/it_examples/utils/analysis_injection/orchestrator.py
  tests/core/test_transformer_lens.py
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/test_it_tl.py
Labels: module: adapters, module: base, module: config, adapter: sae_lens, adapter: transformer_lens, module: utils, module: registry, area: examples, area: notebooks, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Make HF generate flags opt-in in IT generation dataclasses; prefer 'sequences'/ HF ModelOutput format in DebugGeneration
  docs/generation_precedence.md
  docs/tl_config_hierarchy_overview.md
  src/interpretune/base/components/mixins.py
  src/interpretune/config/mixins.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/extensions/debug_generation.py
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_qlora_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_nonchat_lightning_qlora_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/llama3_2/lightning_rte_3b_qlora_zero_shot_test_only.yaml
  src/it_examples/example_module_registry.yaml
  src/it_examples/experiments/rte_boolq.py
  tests/core/cfg_aliases.py
  tests/core/test_base_config.py
  tests/core/test_components_mixins.py
  tests/core/test_debug_generation.py
  tests/modules.py
Labels: module: base, module: config, module: extensions, extension: debug_generation, adapter: transformer_lens, area: examples, area: experiments, area: tests, area: docs, config

TransformerLens v3 integration and fix type errors use forked versions of CT and TL repos associated with pending PRs
  pyproject.toml
  requirements/ci/excludes.txt
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  scripts/infra_utils.sh
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/mixins.py
  src/interpretune/extensions/debug_generation.py
  tests/core/test_transformer_lens.py
Labels: module: adapters, module: base, module: extensions, extension: debug_generation, adapter: sae_lens, adapter: transformer_lens, area: tests, area: docs, area: build, area: scripts, dependencies, config

allow platform-specific cpu runner import time thresholds
  tests/core/test_import_time_and_adapters.py
Labels: area: tests

update platform-specific cpu runner import time thresholds
  tests/core/test_import_time_and_adapters.py
Labels: area: tests

feat(tlens-v3): Enable TransformerBridge by default and add comprehensive test coverage
  .github/copilot-instructions.md
  pyproject.toml
  requirements/ci/overrides.txt
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/config/transformer_lens.py
  src/it_examples/example_module_registry.yaml
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_components_mixins.py
  tests/core/test_sae_lens.py
  tests/core/test_transformer_lens.py
  tests/examples/test_notebooks.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/profile_memory_footprints.yaml
  tests/parity_acceptance/test_it_fts.py
  tests/parity_acceptance/test_it_sl.py
  tests/warns.py
Labels: module: adapters, module: config, adapter: transformer_lens, area: examples, area: tests, area: docs, area: ci, area: build, dependencies, config

apply minor copilot cleanup suggestions
  src/interpretune/config/mixins.py
  src/it_examples/utils/analysis_injection/version_manager.py
Labels: module: config, area: examples

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

use pending transformer lens consolidated PR commit, minor verbiage update on package description
  .github/copilot-instructions.md
  README.md
  dockers/base-cuda/Dockerfile
  pyproject.toml
  requirements/ci/overrides.txt
Labels: area: docs, area: ci, area: build, dependencies, config

feat(tlens): add prototype TransformerBridge FTS adapter + tests and logging
  pyproject.toml
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/core.py
  src/interpretune/config/module.py
  tests/base_defaults.py
  tests/core/test_transformer_lens.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/test_it_fts.py
Labels: module: adapters, module: base, module: config, adapter: transformer_lens, area: tests, area: build, dependencies, config

initial generalization of bridge parameter transformations for bridge strategyadapter (plus temporary debug shims)
  .github/copilot-instructions.md
  src/interpretune/adapters/transformer_lens.py
Labels: module: adapters, adapter: transformer_lens, area: docs, area: ci

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Add TransformerBridge inspection, FTS diverge_on_epoch functionality, multiphase tests restoring across multiple phases and logging fixes
  .azure-pipelines/gpu-tests.yml
  .github/copilot-instructions.md
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/core.py
  src/interpretune/base/hooks.py
  src/interpretune/base/modules.py
  src/interpretune/config/module.py
  tests/base_defaults.py
  tests/configuration.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/modules.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/test_it_fts.py
  tests/runif.py
Labels: module: adapters, module: base, module: config, adapter: sae_lens, adapter: transformer_lens, area: tests, area: docs, area: ci, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Add ModelView abstraction + TransformerLens FTS integration
  .github/copilot-instructions.md
  docs/fts_transformerlens_integration.md
  docs/tl_style_naming_implementation.md
  src/interpretune/adapters/model_view.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/hooks.py
  src/interpretune/config/__init__.py
  src/interpretune/config/transformer_lens.py
  src/it_examples/example_module_registry.yaml
  tests/configuration.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_transformer_lens.py
  tests/modules.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/test_it_fts.py
  tests/warns.py
Labels: module: adapters, module: base, module: config, adapter: transformer_lens, area: examples, area: tests, area: docs, area: ci, config

feat: add FTS TransformerBridge plugin registration and usage docs
  docs/fts_transformerlens_integration.md
  src/interpretune/adapters/transformer_lens.py
  tests/core/test_transformer_lens.py
  tests/parity_acceptance/cfg_aliases.py
Labels: module: adapters, adapter: transformer_lens, area: tests, area: docs

fix pyright issues
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/core.py
Labels: module: adapters, module: base, adapter: transformer_lens

bump ci reqs to be current
  pyproject.toml
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies, config

tests: use ASCII arrows (->, <->) instead of Unicode arrows to avoid Windows CP1252 encoding errors
  tests/core/test_transformer_lens.py
Labels: area: tests

add nice-to-have debug message
  src/interpretune/base/components/core.py
Labels: module: base

FTS TransformerBridge Plugin Support with TL-Style Naming (#194)
  .azure-pipelines/gpu-tests.yml
  .github/copilot-instructions.md
  README.md
  dockers/base-cuda/Dockerfile
  docs/fts_transformerlens_integration.md
  docs/tl_style_naming_implementation.md
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  src/interpretune/adapters/model_view.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/core.py
  src/interpretune/base/hooks.py
  src/interpretune/base/modules.py
  src/interpretune/config/__init__.py
  src/interpretune/config/module.py
  src/interpretune/config/transformer_lens.py
  src/it_examples/example_module_registry.yaml
  tests/base_defaults.py
  tests/configuration.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_transformer_lens.py
  tests/modules.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/test_it_fts.py
  tests/runif.py
  tests/warns.py
Labels: module: adapters, module: base, module: config, adapter: sae_lens, adapter: transformer_lens, area: examples, area: tests, area: docs, area: ci, area: build, dependencies, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

update existing circuit-tracer adapter, notebooks and tests for new circuit-tracer backend (initial transformer_lens backend support only in this commit)
  .github/instructions/analysis_injection.instructions.md
  docs/analysis_injection_usage.md
  pyproject.toml
  requirements/ci/requirements.txt
  src/interpretune/adapters/circuit_tracer.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/utils/analysis_injection/analysis_hook_patcher.py
  src/it_examples/utils/analysis_injection/version_manager.py
Labels: module: adapters, adapter: circuit_tracer, area: examples, area: notebooks, area: docs, area: ci, area: build, dependencies, config

bump ct dep to include latest nnsight backend support
  pyproject.toml
  src/it_examples/utils/analysis_injection/version_manager.py
Labels: area: examples, area: build, dependencies, config

fix for upstream nnsight issue that disables sys.settrace() and prevents coverage collection
  scripts/gen_it_coverage.sh
  tests/core/test_adapters_nnsight.py
Labels: area: tests, area: scripts

Add configurable test reruns and HF transformers v5 compatibility
  .azure-pipelines/gpu-tests.yml
  .github/actions/run-pytest-instrumented/action.yml
  .github/copilot-instructions.md
  Makefile
  dockers/base-cuda/Dockerfile
  dockers/docker_images_main.sh
  dockers/docker_images_release.sh
  dockers/it-az-base/Dockerfile
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  scripts/analyze_test_coverage.py
  scripts/gen_it_coverage.sh
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/dynamic_module_utils.py
  src/interpretune/analysis/ops/hub_manager.py
  src/interpretune/base/components/mixins.py
  src/interpretune/extensions/debug_generation.py
  src/it_examples/experiments/rte_boolq.py
  src/it_examples/utils/analysis_injection/version_manager.py
  tests/README.md
  tests/core/test_hub_manager.py
  tests/results.py
  tests/special_tests.sh
Labels: module: analysis, module: base, module: extensions, extension: debug_generation, area: examples, area: experiments, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

macos bash 3.x CI step fix
  .github/actions/install-ci-dependencies/action.yml
Labels: area: ci, config

add new runif flag for cpu-only torch builds
  tests/parity_acceptance/expected.py
  tests/runif.py
Labels: area: tests

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

fix hf cache reset toggle
  .azure-pipelines/gpu-tests.yml
Labels: config

more cautiously reset dataset cache to prevent cache-dependent expected value divergence in more cases, increase timeout for reruns-delay due to macos runner errors
  .github/actions/run-pytest-instrumented/action.yml
  tests/parity_acceptance/expected.py
  tests/parity_acceptance/test_it_l.py
Labels: area: tests, area: ci, config

fix single failing test from new tokenizer usage pattern with force_prepare_data enabled
  tests/core/test_components_mixins.py
Labels: area: tests

bump dep requirements, accommodate upstream sae_lens `name` attribute deprecation
  requirements/ci/requirements.txt
  tests/core/test_adapters_sae_lens.py
Labels: area: tests, area: docs, area: build, dependencies

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

update examples for circuit-tracer 0.4.0, add analysis injection notebook update skill
  .github/skills/update-analysis-injection-notebook/SKILL.md
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/utils/analysis_injection/version_manager.py
Labels: area: examples, area: notebooks, area: docs, area: ci, area: build, dependencies, config

analysis_sae_nnsight_backend_generalization implementation (1/n)
  .github/copilot-instructions.md
  CLAUDE.md
  requirements/ci/excludes.txt
  requirements/ci/overrides.txt
  scripts/generate_op_stubs.py
  src/interpretune/__init__.py
  src/interpretune/__init__.pyi
  src/interpretune/adapters/__init__.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  src/interpretune/config/analysis.py
  src/interpretune/config/runner.py
  src/interpretune/protocol.py
  src/interpretune/runners/analysis.py
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/base_defaults.py
  tests/configuration.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/conftest.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_analysis_runners.py
  tests/core/test_base_config.py
  tests/data_generation.py
Labels: module: adapters, module: analysis, module: config, adapter: sae_lens, adapter: transformer_lens, module: runners, module: protocol, area: examples, area: notebooks, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

analysis_sae_nnsight_backend_generalization implementation (2/n)
  .github/copilot-instructions.md
  CLAUDE.md
  scripts/gen_it_coverage.sh
  src/interpretune/__init__.py
  src/interpretune/adapters/__init__.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/config/sae_lens.py
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/special_tests.sh
  tests/test_utils.sh
Labels: module: adapters, module: config, adapter: sae_lens, area: examples, area: notebooks, area: tests, area: docs, area: ci, area: scripts, config

analysis_sae_nnsight_backend_generalization implementation (3/n)
  src/interpretune/adapters/sae_lens.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/ops/definitions.py
  tests/core/test_analysis_backends.py
Labels: module: adapters, module: analysis, adapter: sae_lens, adapter: transformer_lens, area: tests

validate existing tests with nnsight 0.6.0 and improve ci infra
  requirements/ci/overrides.txt
  scripts/infra_utils.sh
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/core.py
Labels: module: analysis, area: docs, area: build, area: scripts, dependencies

analysis_sae_nnsight_backend_generalization implementation (4/n)
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/ops/definitions.py
  tests/core/test_analysis_backends.py
Labels: module: analysis, adapter: transformer_lens, area: tests
