Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/profiling.txt
Labels: area: docs, area: build, dependencies

Auto-regenerate pinned requirements via scheduled regen-check (#168)
  requirements/ci/requirements.txt
  requirements/profiling.txt
Labels: area: docs, area: build, dependencies

updated build flow to use dynamic version, add misc infra/metadata files
  .github/copilot-instructions.md
  .github/workflows/release_pypi.yml
  CHANGELOG.md
  CITATION.cff
  MANIFEST.in
  Makefile
  SECURITY.md
  pyproject.toml
  requirements/devel.txt
  src/interpretune/__about__.py
  src/interpretune/__init__.py
  src/it_examples/example_module_registry.yaml
Labels: area: examples, area: docs, area: ci, area: build, dependencies, config

minor formatting fixes and update release_pypi flow triggers
  .github/workflows/release_pypi.yml
  SECURITY.md
  pyproject.toml
Labels: area: docs, area: ci, area: build, dependencies, config

make import time bound more conservative for slow windows runners
  tests/core/test_import_time_and_adapters.py
Labels: area: tests

update build flow to use dynamic version, add misc infra/metadata files (#170)
  .github/copilot-instructions.md
  .github/workflows/release_pypi.yml
  CHANGELOG.md
  CITATION.cff
  MANIFEST.in
  Makefile
  SECURITY.md
  pyproject.toml
  requirements/devel.txt
  src/interpretune/__about__.py
  src/interpretune/__init__.py
  src/it_examples/example_module_registry.yaml
  tests/core/test_import_time_and_adapters.py
Labels: area: examples, area: tests, area: docs, area: ci, area: build, dependencies, config

cleanup ci-specific requirements files, make infra/ci tool options uniform, upgrade circuit-tracer sha and flip default to use forthcoming pypi installation, make post_upgrades default to false
  .azure-pipelines/gpu-tests.yml
  .github/actions/install-ci-dependencies/action.yml
  .github/actions/regen-ci-reqs/action.yml
  .github/copilot-instructions.md
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
  .github/workflows/type-check.yml
  MANIFEST.in
  Makefile
  docs/CIRCUIT_TRACER_INSTALLATION.md
  pyproject.toml
  requirements/base.txt
  requirements/ci/circuit_tracer_pin.txt
  requirements/ci/platform_dependent.txt
  requirements/ci/post_upgrades.txt
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  requirements/ci_constraints.txt
  requirements/circuit_tracer_pin.txt
  requirements/docs.txt
  requirements/post_upgrades.txt
  requirements/regen_reqfiles.py
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
  scripts/manage_standalone_processes.sh
  scripts/update_profiling_memory_stats.sh
  src/interpretune/tools/install_circuit_tracer.py
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

bump ct sha, minor infra/ci tool fixes
  pyproject.toml
  requirements/ci/circuit_tracer_pin.txt
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
  src/interpretune/tools/install_circuit_tracer.py
Labels: area: docs, area: build, area: scripts, dependencies, config

further refine and cleanup ci/infra tools
  .azure-pipelines/gpu-tests.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/actions/regen-ci-reqs/action.yml
  .github/copilot-instructions.md
  MANIFEST.in
  pyproject.toml
  requirements/ci/requirements.txt
  requirements/collect_env_details.py
  requirements/utils/collect_env_details.py
  requirements/utils/regen_reqfiles.py
  scripts/build_it_env.sh
  scripts/ci_print_env_versions.py
  scripts/gen_it_coverage.sh
  src/interpretune/tools/__init__.py
  src/interpretune/tools/install_circuit_tracer.py
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

update infra/ci tools and bump CT sha (#171)
  .azure-pipelines/gpu-tests.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/actions/install-ci-dependencies/action.yml
  .github/actions/regen-ci-reqs/action.yml
  .github/copilot-instructions.md
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
  .github/workflows/type-check.yml
  MANIFEST.in
  Makefile
  docs/CIRCUIT_TRACER_INSTALLATION.md
  pyproject.toml
  requirements/base.txt
  requirements/ci/circuit_tracer_pin.txt
  requirements/ci/platform_dependent.txt
  requirements/ci/post_upgrades.txt
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  requirements/ci_constraints.txt
  requirements/circuit_tracer_pin.txt
  requirements/collect_env_details.py
  requirements/docs.txt
  requirements/post_upgrades.txt
  requirements/utils/collect_env_details.py
  requirements/utils/regen_reqfiles.py
  scripts/build_it_env.sh
  scripts/ci_print_env_versions.py
  scripts/gen_it_coverage.sh
  scripts/manage_standalone_processes.sh
  scripts/update_profiling_memory_stats.sh
  src/interpretune/tools/__init__.py
  src/interpretune/tools/install_circuit_tracer.py
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Introduce ITClassMetadata and repr_helpers; use them across core classes to provide safe compact __repr__s and centralize class-level metadata.
  CONTRIBUTING.md
  src/interpretune/adapters/lightning.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/base/metadata.py
  src/interpretune/base/modules.py
  src/interpretune/config/module.py
  src/interpretune/session.py
  src/interpretune/utils/repr_helpers.py
  tests/base_defaults.py
  tests/conftest.py
  tests/core/test_components_core.py
  tests/core/test_components_mixins.py
  tests/core/test_itstate_repr.py
  tests/orchestration.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/test_it_cli.py
  tests/parity_acceptance/test_it_l.py
  tests/parity_acceptance/test_it_sl.py
  tests/parity_acceptance/test_it_tl.py
  tests/utils.py
Labels: module: adapters, module: base, module: config, adapter: lightning, module: utils, module: session, area: tests, area: docs

Introduce ITClassMetadata and repr_helpers; use them across core classes to provide safe compact __repr__s and centralize class-level metadata. (#179)
  CONTRIBUTING.md
  src/interpretune/adapters/lightning.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/base/metadata.py
  src/interpretune/base/modules.py
  src/interpretune/config/module.py
  src/interpretune/session.py
  src/interpretune/utils/repr_helpers.py
  tests/base_defaults.py
  tests/conftest.py
  tests/core/test_components_core.py
  tests/core/test_components_mixins.py
  tests/core/test_itstate_repr.py
  tests/orchestration.py
  tests/parity_acceptance/cfg_aliases.py
  tests/parity_acceptance/test_it_cli.py
  tests/parity_acceptance/test_it_l.py
  tests/parity_acceptance/test_it_sl.py
  tests/parity_acceptance/test_it_tl.py
  tests/utils.py
Labels: module: adapters, module: base, module: config, adapter: lightning, module: utils, module: session, area: tests, area: docs

fix circular import occuring in some examples, minor type fixes and `boolean_logits_to_avg_logit_diff` simplification
  requirements/ci/requirements.txt
  scripts/gen_it_coverage.sh
  src/interpretune/adapters/lightning.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/analysis.py
  src/interpretune/metadata.py
  src/interpretune/runners/core.py
  src/interpretune/session.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_components_mixins.py
Labels: module: adapters, module: analysis, module: base, module: config, adapter: sae_lens, adapter: lightning, module: runners, module: session, area: tests, area: docs, area: build, area: scripts, dependencies

update regen req job to be more robust to future versions and run context, minor script cleanup
  .azure-pipelines/gpu-tests.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/regen-ci-req-report.yml
  .github/workflows/release_pypi.yml
  .github/workflows/type-check.yml
  .pre-commit-config.yaml
  requirements/ci/requirements.txt
  requirements/utils/regen_reqfiles.py
  scripts/gen_it_coverage.sh
  scripts/regen_summary.py
  tests/core/test_regen_reqfiles.py
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

fix circular import occurring in some examples, minor type fixes and `boolean_logits_to_avg_logit_diff` simplification (#180)
  .azure-pipelines/gpu-tests.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/regen-ci-req-report.yml
  .github/workflows/release_pypi.yml
  .github/workflows/type-check.yml
  .pre-commit-config.yaml
  requirements/ci/requirements.txt
  requirements/utils/regen_reqfiles.py
  scripts/gen_it_coverage.sh
  scripts/regen_summary.py
  src/interpretune/adapters/lightning.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/analysis.py
  src/interpretune/metadata.py
  src/interpretune/runners/core.py
  src/interpretune/session.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_components_mixins.py
  tests/core/test_regen_reqfiles.py
Labels: module: adapters, module: analysis, module: base, module: config, adapter: sae_lens, adapter: lightning, module: runners, module: session, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

replace torch_dtype references with dtype
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/mixins.py
  src/interpretune/config/module.py
  src/interpretune/config/sae_lens.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/module_registry.yaml
  src/interpretune/runners/core.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/import_utils.py
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_qlora_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_sl_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_nonchat_lightning_qlora_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/llama3_2/lightning_rte_3b_qlora_zero_shot_test_only.yaml
  src/it_examples/example_module_registry.yaml
  src/it_examples/notebooks/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/adding_new_example_modules.md
  tests/configuration.py
  tests/core/cfg_aliases.py
  tests/core/test_base_config.py
  tests/core/test_components_core.py
  tests/core/test_components_mixins.py
  tests/core/test_sae_lens.py
  tests/core/test_transformer_lens.py
  tests/core/test_utils.py
  tests/modules.py
  tests/parity_acceptance/cfg_aliases.py
Labels: module: adapters, module: base, module: config, adapter: sae_lens, adapter: transformer_lens, module: runners, module: utils, module: registry, area: examples, area: notebooks, area: tests, area: docs, config

replace torch_dtype references with dtype (#181)
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/base/components/core.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/mixins.py
  src/interpretune/config/module.py
  src/interpretune/config/sae_lens.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/module_registry.yaml
  src/interpretune/runners/core.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/import_utils.py
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_qlora_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_sl_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_chat_lightning_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/gemma2/2b_nonchat_lightning_qlora_zs_test.yaml
  src/it_examples/config/experiments/rte_boolq/llama3_2/lightning_rte_3b_qlora_zero_shot_test_only.yaml
  src/it_examples/example_module_registry.yaml
  src/it_examples/notebooks/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/adding_new_example_modules.md
  tests/configuration.py
  tests/core/cfg_aliases.py
  tests/core/test_base_config.py
  tests/core/test_components_core.py
  tests/core/test_components_mixins.py
  tests/core/test_sae_lens.py
  tests/core/test_transformer_lens.py
  tests/core/test_utils.py
  tests/modules.py
  tests/parity_acceptance/cfg_aliases.py
Labels: module: adapters, module: base, module: config, adapter: sae_lens, adapter: transformer_lens, module: runners, module: utils, module: registry, area: examples, area: notebooks, area: tests, area: docs, config

stage initial analysisstore_caching toggle for post-mvp feature enablement, try enabling datasets caching in more contexts
  docs/cache_behavior.md
  src/interpretune/analysis/cache.py
  src/interpretune/base/datamodules.py
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  tests/core/cfg_aliases.py
  tests/core/test_analysisstore_caching.py
  tests/core/test_analysisstore_persistent_cache.py
  tests/orchestration.py
Labels: module: analysis, module: base, module: config, module: runners, area: tests, area: docs

make cache reuse test more platform independent, minor exception handling improvements
  docs/cache_behavior.md
  src/interpretune/analysis/cache.py
  tests/core/test_analysisstore_caching.py
  tests/core/test_analysisstore_persistent_cache.py
Labels: module: analysis, area: tests, area: docs

add issue link
  docs/cache_behavior.md
Labels: area: docs

initial analysisstore_caching toggle for post-mvp feature enablement (#182)
  docs/cache_behavior.md
  src/interpretune/analysis/cache.py
  src/interpretune/base/datamodules.py
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  tests/core/cfg_aliases.py
  tests/core/test_analysisstore_caching.py
  tests/orchestration.py
Labels: module: analysis, module: base, module: config, module: runners, area: tests, area: docs

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

update pytorch verison used in docker image for az pipelines, improve az pipeline agent cleanup/caching perms
  .azure-pipelines/gpu-tests.yml
  src/it_examples/utils/raw_graph_analysis.py
  src/it_examples/utils/raw_graph_analysis_example_incomplete.py
Labels: area: examples, config

more robust warning for analysis_injection, fix lock file perm debug step
  .azure-pipelines/gpu-tests.yml
  src/it_examples/utils/analysis_injection/analysis_hook_patcher.py
  src/it_examples/utils/analysis_injection/orchestrator.py
Labels: area: examples, config

fix type issue with incomplete raw graph analysis module example
  src/it_examples/utils/raw_graph_analysis_example_incomplete.py
Labels: area: examples

add additional pipelines secret, move one cpu test to standalone due to GH runner space constraints
  .azure-pipelines/gpu-tests.yml
  .github/actions/run-pytest-instrumented/action.yml
  tests/conftest.py
  tests/parity_acceptance/test_it_fts.py
Labels: area: tests, area: ci, config

switch a basic ct example to use clt by default, improve infra utils and minor test expected result adjustment for pt 2.9
  scripts/build_it_env.sh
  scripts/infra_utils.sh
  src/it_examples/notebooks/dev/circuit_tracer_examples/circuit_tracer_adapter_example_basic_clt.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic_clt.ipynb
  tests/parity_acceptance/expected.py
Labels: area: examples, area: notebooks, area: tests, area: scripts, config

use new proposed AttributionTargets API for circuit-tracer, misc infra improvements
  pyproject.toml
  requirements/ci/circuit_tracer_pin.txt
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  scripts/infra_utils.sh
  src/interpretune/adapters/circuit_tracer.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/utils/analysis_injection/version_manager.py
  tests/examples/test_version_manager.py
Labels: module: adapters, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: docs, area: build, area: scripts, dependencies, config

Use new proposed `AttributionTargets` API for circuit-tracer, misc infra improvements (#187)
  pyproject.toml
  requirements/ci/circuit_tracer_pin.txt
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  scripts/build_it_env.sh
  scripts/infra_utils.sh
  src/interpretune/adapters/circuit_tracer.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/circuit_tracer_adapter_example_basic_clt.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_points.py
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic_clt.ipynb
  src/it_examples/utils/analysis_injection/version_manager.py
  tests/examples/test_version_manager.py
  tests/parity_acceptance/expected.py
Labels: module: adapters, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: docs, area: build, area: scripts, dependencies, config

fix new docker it-az-base image
  dockers/it-az-base/Dockerfile
Labels: none

refactor: migrate from pip to uv for dependency management using pip interface
  .azure-pipelines/gpu-tests.yml
  .github/actions/install-ci-dependencies/action.yml
  .github/actions/regen-ci-reqs/action.yml
  .github/actions/run-pytest-instrumented/action.yml
  .github/copilot-instructions.md
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  Makefile
  README.md
  dockers/base-cuda/Dockerfile
  dockers/docker_images_main.sh
  dockers/docker_images_release.sh
  dockers/it-az-base/Dockerfile
  pyproject.toml
  requirements.txt
  requirements/base.txt
  requirements/ci/circuit_tracer_pin.txt
  requirements/ci/platform_dependent.txt
  requirements/ci/post_upgrades.txt
  requirements/ci/requirements.in
  requirements/ci/requirements.txt
  requirements/devel.txt
  requirements/docs.txt
  requirements/examples.txt
  requirements/lightning.txt
  requirements/profiling.txt
  requirements/test.txt
  requirements/utils/lock_ci_requirements.sh
  requirements/utils/regen_reqfiles.py
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
  scripts/infra_utils.sh
  src/interpretune/config/shared.py
  src/interpretune/protocol.py
  src/it_examples/utils/raw_graph_analysis.py
  src/it_examples/utils/raw_graph_analysis_example_incomplete.py
  tests/core/test_regen_reqfiles.py
Labels: module: config, module: protocol, area: examples, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

fix initial pip to uv CI workflow migration errors, adjust type def regression for AnalysisStoreProtocol, remove deprecated used of pkg_resources
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
  .github/workflows/type-check.yml
  pyproject.toml
  requirements/ci/requirements.txt
  src/interpretune/analysis/core.py
  src/interpretune/protocol.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/logging.py
  tests/runif.py
  tests/warns.py
Labels: module: analysis, module: utils, module: protocol, area: tests, area: docs, area: ci, area: build, dependencies, config

add some minor refactors prompted by copilot suggestions
  pyproject.toml
  requirements/ci/requirements.txt
  src/interpretune/utils/logging.py
  tests/warns.py
Labels: module: utils, area: tests, area: docs, area: build, dependencies, config

fix uv installation path in IT dockerfile
  dockers/base-cuda/Dockerfile
Labels: none

fix perms issue with new dockerfile for self-hosted runner
  .azure-pipelines/gpu-tests.yml
  dockers/base-cuda/Dockerfile
Labels: config

fix perms, refactor image
  dockers/base-cuda/Dockerfile
Labels: none

simplify and refactor permission chmod for base dockerfile
  dockers/base-cuda/Dockerfile
  dockers/it-az-base/.bashrc
Labels: none

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

enable TL v3 support, notebooks/publish: unify install flow, add --force, preserve editable installs
  requirements/ci/requirements.txt
  scripts/publish_notebooks.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/adapters/transformer_lens.py
  src/interpretune/config/sae_lens.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/extensions/debug_generation.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/patched_tlens_generate.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic_clt.ipynb
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example_registry.ipynb
  src/it_examples/utils/analysis_injection/version_manager.py
  tests/examples/test_publish_notebooks.py
  tests/examples/test_version_manager.py
Labels: module: adapters, module: config, module: extensions, extension: debug_generation, adapter: sae_lens, adapter: transformer_lens, module: utils, area: examples, area: notebooks, area: tests, area: docs, area: build, area: scripts, dependencies, config
