Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Update dashboard pipeline for legacy contract rename
  docs/neuronpedia_dashboard_pipeline.md
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/fixtures/neuronpedia_dashboard_phase4/README.md
  tests/fixtures/neuronpedia_dashboard_phase4/import_tolerance_baselines.json
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, area: scripts, config

Remove detached legacy dashboard flags
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Prepare dashboard shared-token reruns
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

Plumb rolling substage profiling flag
  scripts/launch_neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Remove legacy preset thread cap
  scripts/profile_neuronpedia_dashboard_generation.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests, area: scripts

Rename lazy_gpu to columnar_gpu across codebase
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/fixtures/neuronpedia_dashboard_phase4/README.md
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, area: scripts

Wire activation_significance_floor through dashboard pipeline and profile presets
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: scripts

phase5: add shared_tokens_file to detached legacy presets, enable activation caching
  scripts/profile_neuronpedia_dashboard_generation.py
Labels: area: scripts

tests: update preset assertions for activation caching and shared_tokens_file
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

fix: remove polars histogram backend option
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Add dashboard benchmark suite with regenerable reviewer artifact packaging
  scripts/dashboard_benchmark_artifacts.py
  scripts/dashboard_benchmark_suite_usage.md
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/run_dashboard_benchmark_suite.py
  scripts/templates/dashboard_profiling_notebook_template.ipynb
  tests/core/test_dashboard_benchmark_artifacts.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Feature-axis default scaling sweeps and notebook chart fixes
  scripts/dashboard_benchmark_suite_usage.md
  scripts/run_dashboard_benchmark_suite.py
  scripts/templates/dashboard_profiling_notebook_template.ipynb
Labels: area: notebooks, area: docs, area: scripts

Track steady-state average GPU utilization through the benchmark suite
  scripts/dashboard_benchmark_artifacts.py
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/templates/dashboard_profiling_notebook_template.ipynb
Labels: area: notebooks, area: scripts

Show avg-only GPU utilization and stark showcase configs in profiling notebook
  scripts/templates/dashboard_profiling_notebook_template.ipynb
Labels: area: notebooks, area: scripts

Add overlap-batch-packaging pipeline control and enable it in columnar presets
  docs/neuronpedia_dashboard_pipeline.md
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: docs, area: scripts

Add opt-in cross-layer generation/import overlap to the dashboard pipeline
  docs/neuronpedia_dashboard_pipeline.md
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs

Add --layer-list for non-contiguous pipeline layer iteration
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Register env-build-smoke workflow (dispatchable cross-platform build check)
  .github/workflows/env-build-smoke.yml
Labels: area: ci, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

Align dependency pins with the validated 7b state (TL bump + Scalable Dashboards fork pins)
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/sl_uv_requirements.txt
Labels: area: docs, area: build, dependencies, config

Fix get_device import path for TL 4ba2187b (moved to transformer_lens.utilities.devices)
  src/interpretune/config/sae_lens.py
  src/interpretune/config/transformer_lens.py
Labels: module: config, adapter: sae_lens, adapter: transformer_lens

Backport stub regeneration + parity-fixture scope fix to post-CT-merge main
  src/interpretune/__init__.pyi
  tests/core/test_model_backend_parity.py
Labels: area: tests

Backport macos-arm64 bridge-generate skip (TransformerLens#1322) to post-CT-merge main
  tests/core/test_debug_generation.py
Labels: area: tests

Neuronpedia dashboard pipeline, explanations, and DB utilities
  .env.localhost_np.example
  docs/neuronpedia_dashboard_pipeline.md
  scripts/configs/neuronpedia_dashboard/gemmascope-2-rte-base.yaml
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-multigpu-validation.yaml
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu0-benchmark-template.yaml
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu01.yaml
  scripts/configs/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu1.yaml
  scripts/generate_neuronpedia_feature_explanation.py
  scripts/launch_neuronpedia_dashboard_pipeline.py
  scripts/preserve_neuronpedia_reference_artifacts.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/_neuronpedia_utils_fallbacks.py
  src/interpretune/utils/import_utils.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_db_utils.py
  src/interpretune/utils/neuronpedia_explanations.py
  src/it_examples/utils/dashboard_pretokenization_rte.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_db_utils.py
  tests/core/test_neuronpedia_explanations.py
  tests/core/test_pretokenize_neuronpedia_rte_prompts.py
  tests/fixtures/neuronpedia_dashboard_phase4/README.md
  tests/fixtures/neuronpedia_dashboard_phase4/import_tolerance_baselines.json
Labels: extension: neuronpedia, module: utils, area: examples, area: tests, area: docs, area: scripts, config

Infra/process: categorized instantiation feedback, registry import bootstrap, policy docs
  .github/skills/az-pipelines-debug/SKILL.md
  .github/skills/debug-remote-ci-failures/SKILL.md
  CLAUDE.md
  src/interpretune/config/sae_lens.py
  src/interpretune/config/shared.py
  src/interpretune/config/transformer_lens.py
  src/interpretune/registry.py
  src/interpretune/utils/logging.py
  tests/conftest.py
  tests/core/test_utils.py
Labels: module: config, adapter: sae_lens, adapter: transformer_lens, module: utils, module: registry, area: tests, area: docs, area: ci

Dashboard benchmark suite and artifact tooling
  scripts/dashboard_benchmark_artifacts.py
  scripts/dashboard_benchmark_suite_usage.md
  scripts/run_dashboard_benchmark_suite.py
  tests/benchmarks/debug_utils/rte_boolq/debug_batch_collapse.py
  tests/benchmarks/debug_utils/rte_boolq/debug_it_pipeline.py
  tests/benchmarks/test_benchmarks.py
  tests/core/test_dashboard_benchmark_artifacts.py
Labels: area: tests, area: docs, area: scripts

Reproduction hardening, cross-platform env build, and CI workflows
  .azure-pipelines/gpu-tests.yml
  .github/workflows/check-benchmark-registry.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/env-build-smoke.yml
  docs/developer_multi_repo_setup.md
  scripts/TEST_COVERAGE_ANALYSIS_README.md
  scripts/build_it_env.sh
  scripts/gen_it_coverage.sh
  scripts/infra_utils.sh
  src/it_examples/utils/analysis_injection/version_manager.py
Labels: area: examples, area: docs, area: ci, area: scripts, config

Circuit-tracer demo notebooks, dual-backend support, and notebook UI helpers
  docs/circuit_tracer_backend_support.md
  src/interpretune/analysis/backends/circuit_tracer.py
  src/it_examples/example_module_registry.py
  src/it_examples/example_module_registry.yaml
  src/it_examples/notebooks/dev/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/utils/example_helpers.py
  src/it_examples/utils/nb_ui_utils.py
  tests/core/test_adapters_nnsight.py
  tests/examples/test_notebooks.py
Labels: module: analysis, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: docs, config

Docs and nb_experiments harness status/cleanup
  .github/copilot-instructions.md
  docs/interpretune_intervention_apis.md
  docs/intervention_hook_pattern_support.md
  tests/README.md
  tests/nb_experiments/EXPERIMENT_STATUS.md
  tests/nb_experiments/README.md
  tests/nb_experiments/intervention_capabilities_overview.md
Labels: area: tests, area: docs, area: ci

Profiling harness, presets, and config sweep tooling
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/speedscope_top_packages.py
  scripts/sweep_neuronpedia_dashboard_configs.py
  scripts/templates/dashboard_profiling_notebook_template.ipynb
  tests/core/test_sweep_neuronpedia_dashboard_configs.py
Labels: area: notebooks, area: tests, area: scripts

Concept-direction research analysis: findings, probes, and experiment consolidation
  tests/nb_experiments/concept_direction/README.md
  tests/nb_experiments/concept_direction/analysis/UPSTREAM_CT_PARITY_DEBUG.md
  tests/nb_experiments/concept_direction/analysis/configs/gemma3_1b_it_latent_dynamics_color_fruit_orange_155_4973.yaml
  tests/nb_experiments/concept_direction/analysis/decoder_mass_probe.py
  tests/nb_experiments/concept_direction/analysis/default_analysis_experiment_set.yaml
  tests/nb_experiments/concept_direction/analysis/extract_upstream_ct_semantic_reference.py
  tests/nb_experiments/concept_direction/analysis/oqi_debug_session_ablation.py
  tests/nb_experiments/concept_direction/analysis/pole_overlap_probe.py
  tests/nb_experiments/concept_direction/analysis/test_oqi_debug_session_ablation.py
  tests/nb_experiments/concept_direction/concept_direction.py
  tests/nb_experiments/concept_direction/concept_direction_analysis.md
  tests/nb_experiments/concept_direction/configs/base_oqi_reasoning_oh.yaml
  tests/nb_experiments/concept_direction/configs/gemma3_1b_it_local_color_fruit_orange_155_4973.yaml
  tests/nb_experiments/concept_direction/configs/gemma3_1b_it_local_color_fruit_orange_155_4973_streaming.yaml
  tests/nb_experiments/concept_direction/configs/gemma3_1b_it_local_color_fruit_orange_4973.yaml
  tests/nb_experiments/concept_direction/configs/gemma3_4b_it_local_oqi_reasoning_oh_2975_15708.yaml
  tests/nb_experiments/concept_direction/configs/gemma3_4b_it_local_oqi_reasoning_oh_2975_15708_streaming.yaml
  tests/nb_experiments/concept_direction/experiment_summary.md
  tests/nb_experiments/concept_direction/prompt_parity_migration_guide.md
  tests/nb_experiments/concept_direction/resource_management.md
  tests/nb_experiments/concept_direction/test_concept_direction_backend_parity.py
  tests/nb_experiments/concept_direction/test_concept_direction_experiment_utils.py
  tests/nb_experiments/concept_direction/wide_transcoder_support_plan.md
Labels: area: tests, area: docs, config

Resolve embed-path influence-score signal; de-scope store-vs-embed parity assertions (7c item 2b)
  tests/nb_experiments/EXPERIMENT_STATUS.md
  tests/nb_experiments/concept_direction/test_concept_direction_backend_parity.py
Labels: area: tests, area: docs

nnsight 0.7 compatibility: wrapper-signature pruning fix + remote-surface init gating (7c-nn)
  src/interpretune/adapters/nnsight.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/nnsight.py
  tests/core/test_adapters_nnsight.py
Labels: module: adapters, module: base, module: config, area: tests

Fix pyright error on nnsight CONFIG.API access (dynamic getattr; 0.6-line stubs lack the surface)
  src/interpretune/adapters/nnsight.py
Labels: module: adapters

Sphinx docs bootstrap: RTD + required CI smoke, concepts/roadmap/config/rationale pages, README rewrite
  .github/workflows/docs-build.yml
  .readthedocs.yml
  README.md
  docs/source/_templates/classtemplate.rst
  docs/source/api.rst
  docs/source/conf.py
  docs/source/design/fts_transformerlens_integration.md
  docs/source/design/ht_bridge_parity_behavior.md
  docs/source/design/intervention_hook_pattern_support.md
  docs/source/design/protocol_architecture_working_design.md
  docs/source/design/resource_management.md
  docs/source/design/tl_config_hierarchy_overview.md
  docs/source/design/tl_style_naming_implementation.md
  docs/source/usage/adapter_development_guide.md
  docs/source/usage/analysis_injection_usage.md
  docs/source/usage/analysis_runner_usage.md
  docs/source/usage/analysis_store_serialization.md
  docs/source/usage/cache_behavior.md
  docs/source/usage/circuit_tracer_backend_support.md
  docs/source/usage/custom_ops_composition_guide.md
  docs/source/usage/developer_multi_repo_setup.md
  docs/source/usage/framework_level_adapters.md
  docs/source/usage/generation_precedence.md
  docs/source/usage/interpretune_intervention_apis.md
  docs/source/usage/neuronpedia_dashboard_pipeline.md
  docs/source/usage/session_module_datamodule_usage.md
  pyproject.toml
  requirements/docs.txt
  src/it_examples/example_prompt_configs.py
Labels: area: examples, area: docs, area: ci, area: build, dependencies, config

docs.txt: add jsonschema + jaxtyping (module-level imports; transitive-only locally, absent on clean doc builders)
  requirements/docs.txt
Labels: area: docs, area: build, dependencies

conf.py: drop explicit source_suffix (breaks master-doc resolution under myst-parser 5.x; myst registers .md itself)
  docs/source/conf.py
Labels: area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
