Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

4d readout via nb_ui_utils helper; portable inline math (#426)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/tests/test_nb_ui_jlens_readout_comparison.py
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: notebooks, area: tests, config

Re-render steering demo docs artifact with helper table (#426)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: notebooks, area: docs

Thaw every norm of a block implicitly, whatever the architecture calls it (#649)
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/test_adapters_transformer_lens.py
Labels: module: adapters, area: tests

J-space readout cell at the answer position, pre/post swap (#426)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/tests/test_nb_ui_jlens_readout_comparison.py
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Find multimodal Gemma 3's final norm under its text decoder (fixes #653)
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Refuse a J-lens-basis direction as a final-residual attribution target (fixes #655)
  src/interpretune/adapters/circuit_tracer/backends.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  tests/core/test_analysis_backend_graph_serialization.py
Labels: module: adapters, module: analysis, area: tests

Pass the attention mask through every trace invoke; synthesize ones when absent (#630)
  src/interpretune/adapters/nnsight/backends.py
Labels: module: adapters

Pass the attention mask through every trace invoke; synthesize ones when absent (#630) (#657)
  src/interpretune/adapters/nnsight/backends.py
Labels: module: adapters

Add Gemma Scope latent-model coverage to the circuit-tracer conformance target (#536)
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_backend_conformance.py
  tests/hf_warm_manifest.yaml
Labels: module: adapters, module: analysis, area: tests, config

Find multimodal Gemma 3's final norm; refuse a J-lens-basis direction as a final-residual attribution target (#654)
  src/interpretune/adapters/circuit_tracer/backends.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/interpretune/analysis/optools.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_unembed_norm_seam.py
Labels: module: adapters, module: analysis, area: tests

Default the J-lens ops' cache key to the block output the lenses were fitted on (fixes #658)
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  tests/core/test_jlens_read_ops.py
Labels: module: analysis, area: tests

J-space workspace readout demo notebook: think X, say Y (advances #639)
  docs/notebook_artifacts/circuit_tracer_examples/jspace_workspace_demo.ipynb
  docs/source/examples.md
  src/it_examples/notebooks/dev/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

J-lens-selected attribution targets for compute_attribution_graph (fixes #638)
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.yaml
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_cross_backend_compat.py
Labels: module: analysis, area: tests, config

Quote the artifact's own 4b numbers in the prose (#605)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Alignment page: state what the battery showed and add the lens-selected attribution row
  docs/jlens_paper_alignment.md
Labels: area: docs

J-space workspace demo notebook, J-lens-selected attribution targets, and the J-lens cache-key default (#664)
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/circuit_tracer_examples/jspace_workspace_demo.ipynb
  docs/source/examples.md
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.yaml
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_cross_backend_compat.py
  tests/core/test_jlens_read_ops.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Alignment page: state what the chat-template replication and the polysemy set showed
  docs/jlens_paper_alignment.md
Labels: area: docs

Alignment page: the polysemy result with the readout statistic and three wordings
  docs/jlens_paper_alignment.md
Labels: area: docs

Alignment page: record the chat-template replication and the polysemy basis result (#669)
  docs/jlens_paper_alignment.md
Labels: area: docs

Quote the artifact's own 4b numbers in the prose (#605)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Fail the GPU-lease step closed on acquire timeout (#656)
  .azure-pipelines/gpu-tests.yml
Labels: config

Scale the feature-edge verifier's expectation with its intervention (#670)
  tests/core/test_analysis_backend_parity.py
Labels: area: tests

Attribute a J-lens-basis concept direction at the lens layer (#661)
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/attribution_analysis/analysis_injection_config.yaml
  pyproject.toml
  src/interpretune/adapters/circuit_tracer/backends.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
  tests/core/test_analysis_backend_graph_serialization.py
Labels: module: adapters, module: analysis, area: examples, area: notebooks, area: tests, area: docs, area: build, dependencies, config

Per-case generator-cache key producer and cache sweeper (#621)
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_case_fingerprint.py
Labels: module: runners, area: tests

Conformance per-case cache wiring behind a shared-dir opt-in (#621)
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_analysis_case_fingerprint.py
Labels: module: runners, area: tests

Validate block-sited attribution targets with norm denominators frozen (#660)
  docs/adapter_conformance_contract.md
  docs/circuit_tracer_backend_support.md
  src/interpretune/adapters/circuit_tracer/backends.py
  src/interpretune/adapters/circuit_tracer/config.py
  src/interpretune/adapters/circuit_tracer/norm_freeze.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/interpretune/hub/cards.py
  src/interpretune/testing/conformance/cases.py
  tests/core/circuit_tracer_toy.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_analysis_backend_protocols.py
  tests/core/test_circuit_tracer_norm_freeze.py
Labels: module: adapters, module: analysis, module: config, adapter: circuit_tracer, area: tests, area: docs, config

Re-pin steering demo onto the seam-migrated collection (#273)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Derive per-case keys post-activation, not pre-run (#621)
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_analysis_case_fingerprint.py
Labels: module: config, module: runners, area: tests

Fail the GPU-lease step closed on acquire timeout (#656)
  .azure-pipelines/gpu-tests.yml
Labels: config

Fingerprint callables by code, not address (#621)
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_case_fingerprint.py
Labels: module: runners, area: tests

Add Gemma Scope latent-model coverage to the circuit-tracer conformance target (#536)
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/inputs.py
  tests/core/test_backend_conformance.py
  tests/hf_warm_manifest.yaml
Labels: module: adapters, module: analysis, area: tests, config

Re-pin steering demo onto the seam-migrated collection (#273)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Mirror 4c attribution and 4d readout into the local-NP demo (#426)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Color the decoupling UMAP by J-space disposition (#426)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Report per-arm displacement norms beside scale factors (#426)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
Labels: area: examples, area: notebooks, config

Re-render both demos at the rebased tree (#426)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Satisfy pyright on the #621 key paths
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/session.py
Labels: module: runners

Attribute J-lens-basis directions at the lens layer and validate block-sited targets with norms frozen (#672)
  docs/adapter_conformance_contract.md
  docs/circuit_tracer_backend_support.md
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/attribution_analysis/analysis_injection_config.yaml
  pyproject.toml
  src/interpretune/adapters/circuit_tracer/backends.py
  src/interpretune/adapters/circuit_tracer/config.py
  src/interpretune/adapters/circuit_tracer/norm_freeze.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/interpretune/hub/cards.py
  src/interpretune/testing/conformance/cases.py
  src/it_examples/notebooks/dev/attribution_analysis/analysis_injection_config.yaml
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/analysis_injection_config.yaml
  tests/core/circuit_tracer_toy.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_analysis_backend_protocols.py
  tests/core/test_circuit_tracer_norm_freeze.py
Labels: module: adapters, module: analysis, module: config, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: docs, area: build, dependencies, config

Delete the dead it_init branch and the empty DispatchContext (#279)
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
Labels: module: analysis, module: runners, area: tests

Memoize shared required-op compilation per load (#281)
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_schema_compiler.py
Labels: module: analysis, area: tests
