Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Rename sae_correct_acts -> latent_correct_acts (#227)
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/composites.yaml
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/analysis/ops/bundled/sae/sae_ops.yaml
  src/it_examples/experiments/rte_boolq.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
Labels: module: analysis, area: examples, area: experiments, area: notebooks, area: tests, area: docs, config

Support user-defined BaseAnalysisBatchProtocol classes (#56) (#295)
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
Labels: module: analysis, area: tests

Rename sae_correct_acts -> latent_correct_acts (#227) (#298)
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/composites.yaml
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/analysis/ops/bundled/sae/sae_ops.yaml
  src/it_examples/experiments/rte_boolq.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
Labels: module: analysis, area: examples, area: experiments, area: notebooks, area: tests, area: docs, config

Give normal_params its first in-tree user by declaring top_n
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.yaml
  tests/core/test_analysis_ops_dispatcher.py
Labels: module: analysis, area: tests, config

Thread an op's declared protocol through to the stores it produces (#62)
  docs/analysis_store_serialization.md
  src/interpretune/config/analysis.py
  src/interpretune/hub/artifacts.py
  tests/core/test_hub_artifacts.py
Labels: module: config, area: tests, area: docs

Annotate store_kwargs so pyright stops inferring str | None for every parameter
  src/interpretune/config/analysis.py
Labels: module: config

Repoint ops docs at paths that survived the #266 refactor (#227 item 4)
  docs/circuit_tracer_backend_support.md
  docs/custom_ops_composition_guide.md
  src/it_examples/experiments/notebook/concept_direction/analysis/LATENT_DYNAMICS_README.md
  src/it_examples/experiments/notebook/concept_direction/concept_direction_analysis.md
Labels: area: examples, area: experiments, area: docs

Audit every required input declaration; one op gated on a field it never reads (#299)
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.yaml
  tests/core/test_analysis_ops_base.py
Labels: module: analysis, area: tests, area: docs, config

Rename logit_diffs_sae -> logit_diffs_latent (#302)
  .github/instructions/developing_adapters.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  src/interpretune/__init__.pyi
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/bundled/composites.yaml
  src/it_examples/experiments/rte_boolq.py
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
  tests/core/test_model_backend_parity.py
  tests/fixture_benchmark_report.md
Labels: module: analysis, area: examples, area: experiments, area: notebooks, area: tests, area: docs, area: ci, config

Re-render the two docs notebook artifacts for the rename (#302)
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: notebooks, area: docs

Enumerate OpDef's fields so the round-trip guard names what you added (#296)
  tests/core/test_analysis_op_state.py
Labels: area: tests

Give normal_params its first in-tree user by declaring top_n (#297)
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.yaml
  tests/core/test_analysis_ops_dispatcher.py
Labels: module: analysis, area: tests, config

Let --check-stale see output-only drift (#300)
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Keep the pre-install staleness check stdlib-only
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: tests, area: scripts

Fix: a store published with a custom batch protocol comes back with the default (#62) (#301)
  docs/analysis_store_serialization.md
  src/interpretune/config/analysis.py
  src/interpretune/hub/artifacts.py
  tests/core/test_hub_artifacts.py
Labels: module: config, area: tests, area: docs

Let --check-stale see output-only drift (#300) (#310)
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Rename logit_diffs_sae -> logit_diffs_latent (#302) (#308)
  .github/instructions/developing_adapters.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  src/interpretune/__init__.pyi
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/bundled/composites.yaml
  src/it_examples/experiments/rte_boolq.py
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
  tests/core/test_model_backend_parity.py
  tests/fixture_benchmark_report.md
Labels: module: analysis, area: examples, area: experiments, area: notebooks, area: tests, area: docs, area: ci, config

Emit the protocol import the stub actually uses, ending a generator/pre-commit oscillation
  scripts/generate_op_stubs.py
Labels: area: scripts

Composite stubs name the protocol they can justify (#60)
  scripts/generate_op_stubs.py
  tests/core/test_op_stub_generation.py
Labels: area: tests, area: scripts

Regenerate stubs after rebasing onto the logit_diffs_latent rename
  src/interpretune/__init__.pyi
Labels: none

docs: normalize SAE references that mean "latent model" to say so
  .github/instructions/developing_adapters.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  docs/custom_ops_composition_guide.md
  docs/ht_bridge_parity_behavior.md
Labels: area: docs, area: ci

docs: normalize SAE references that mean "latent model" to say so (#314)
  .github/instructions/developing_adapters.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  docs/custom_ops_composition_guide.md
  docs/ht_bridge_parity_behavior.md
Labels: area: docs, area: ci

Repoint ops docs at paths that survived the #266 refactor (#227 item 4) (#304)
  docs/circuit_tracer_backend_support.md
  docs/custom_ops_composition_guide.md
  src/it_examples/experiments/notebook/concept_direction/analysis/LATENT_DYNAMICS_README.md
  src/it_examples/experiments/notebook/concept_direction/concept_direction_analysis.md
Labels: area: examples, area: experiments, area: docs

Make docs-build say which failure it had, and let the stub gate trigger on its own file
  .github/workflows/docs-build.yml
  .github/workflows/type-check.yml
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: tests, area: ci, area: scripts, config

Repoint two CLAUDE.md references at paths that still exist
  CLAUDE.md
Labels: area: docs

Correct the parity note: the workflow was archived and superseded, not simply deleted
  CLAUDE.md
Labels: area: docs

Audit every required input declaration; one op gated on a field it never reads (#299) (#307)
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.yaml
  tests/core/test_analysis_ops_base.py
Labels: module: analysis, area: tests, area: docs, config

Composite stubs name the protocol they can justify (#60) (#306)
  scripts/generate_op_stubs.py
  src/interpretune/__init__.pyi
  tests/core/test_op_stub_generation.py
Labels: area: tests, area: scripts

docs-build: report the failure it actually had; let the stub gate trigger on its own file (#311, #312) (#313)
  .github/workflows/docs-build.yml
  .github/workflows/type-check.yml
  CLAUDE.md
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: tests, area: docs, area: ci, area: scripts, config

Enumerate OpDef's fields so the round-trip guard names what you added (#296) (#309)
  tests/core/test_analysis_op_state.py
Labels: area: tests

Align the copilot-instructions twin with #313's CLAUDE.md wording
  .github/copilot-instructions.md
Labels: area: docs, area: ci

Docs batch: fix the broken quickstart, the reference sweep, and the SAE optimization note (#316, #305, #68)
  .github/copilot-instructions.md
  .github/instructions/analysis_injection.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  .github/skills/update-analysis-injection-notebook/SKILL.md
  CLAUDE.md
  README.md
  docs/adapter_development_guide.md
  docs/source/index.md
  src/interpretune/config/sae_lens.py
  src/it_examples/experiments/notebook/concept_direction/analysis/intervention_graph_parity_testing.md
  src/it_examples/experiments/notebook/concept_direction/intervention_pipeline_debugging_mode.md
  src/it_examples/experiments/notebook/concept_direction/resource_management.md
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
  src/it_examples/tests/README.md
  tests/README.md
  tests/adding_new_example_modules.md
Labels: module: config, adapter: sae_lens, area: examples, area: experiments, area: tests, area: docs, area: ci

Remove the archived_cfgs and capitals_states references (#305 residual)
  src/it_examples/experiments/notebook/concept_direction/README.md
  src/it_examples/experiments/notebook/concept_direction/analysis/intervention_graph_parity_testing.md
Labels: area: examples, area: experiments, area: docs

Record the requirement-axis decision at the declaration site, and land the deferred SAE naming items
  .github/instructions/registering_example_modules.instructions.md
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/protocol.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_analysis_core.py
  tests/core/test_model_backend_parity.py
Labels: module: analysis, module: protocol, area: tests, area: docs, area: ci

Add lens-coordinate patching, the J-space write approach (#273 direction iii)
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_lens_coordinate_patch.py
Labels: module: analysis, area: tests

Make #283's deferred work fire at the schema bump instead of relying on the issue being read
  tests/core/test_hub_artifacts.py
Labels: area: tests

Docs batch: broken quickstart, reference sweep, SAE optimization note (#316, #305, #68) (#317)
  .github/copilot-instructions.md
  .github/instructions/analysis_injection.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  .github/skills/update-analysis-injection-notebook/SKILL.md
  CLAUDE.md
  README.md
  docs/adapter_development_guide.md
  docs/source/index.md
  src/interpretune/config/sae_lens.py
  src/it_examples/experiments/notebook/concept_direction/README.md
  src/it_examples/experiments/notebook/concept_direction/analysis/intervention_graph_parity_testing.md
  src/it_examples/experiments/notebook/concept_direction/intervention_pipeline_debugging_mode.md
  src/it_examples/experiments/notebook/concept_direction/resource_management.md
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
  src/it_examples/tests/README.md
  tests/README.md
  tests/adding_new_example_modules.md
Labels: module: config, adapter: sae_lens, area: examples, area: experiments, area: tests, area: docs, area: ci

Record the requirement-axis decision at the declaration site, and land the deferred SAE naming items (#319)
  .github/instructions/registering_example_modules.instructions.md
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/protocol.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_analysis_core.py
  tests/core/test_model_backend_parity.py
Labels: module: analysis, module: protocol, area: tests, area: docs, area: ci

docs: require residual scope on the ISSUE, not only in the PR body
  CLAUDE.md
Labels: area: docs

Add lens-coordinate patching, the J-space write approach (#273 direction iii) (#320)
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_lens_coordinate_patch.py
Labels: module: analysis, area: tests
