Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Add the set-level backend parity suite, and make #441 executable
  tests/core/test_multi_backend_parity.py
Labels: area: tests

Make the public-surface rule override harness attribution defaults, and document the parity layers
  AGENTS.md
  docs/adapter_parity_governance.md
Labels: area: docs

Refuse a hub adapter that would shadow a bundled name, with a per-component opt-in (#442)
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/precedence.py
  tests/core/test_adapter_precedence.py
Labels: module: adapters, area: tests

Widen the intervention contract to name its position scope, instead of assuming one
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_analysis_backends.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_lens_coordinate_patch.py
  tests/core/test_multi_backend_parity.py
Labels: module: adapters, module: analysis, area: tests

Add layer 3, and record the decomposition that says where op-parity risk actually is
  tests/core/test_multi_backend_parity.py
Labels: area: tests

Normalize the position scope in one place, so a plain-string spec types cleanly
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/interventions.py
Labels: module: analysis

Add the set-level backend parity suite, and make #441 executable (#443)
  AGENTS.md
  docs/adapter_parity_governance.md
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_analysis_backends.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_lens_coordinate_patch.py
  tests/core/test_multi_backend_parity.py
Labels: module: adapters, module: analysis, area: tests, area: docs

Write the reason in the comment, not the issue number -- and fix one that silently never landed
  AGENTS.md
  tests/core/test_multi_backend_parity.py
Labels: area: tests, area: docs

Write the reason in the comment, not the issue number -- and fix one that silently never landed (#446)
  AGENTS.md
  tests/core/test_multi_backend_parity.py
Labels: area: tests, area: docs

Make interp-engine a direct optional extra, so a dev env stops acquiring it by accident
  AGENTS.md
  README.md
  pyproject.toml
  scripts/build_it_env.sh
Labels: area: docs, area: build, area: scripts, dependencies, config

Say on the adapter card which blocks it cannot produce, instead of omitting them silently
  src/interpretune/hub/cards.py
  tests/core/test_adapter_card.py
Labels: area: tests

Declare intervention scopes and modes as typed support records, not capability members (#449)
  src/interpretune/__init__.pyi
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  tests/core/test_analysis_backends.py
  tests/core/test_model_backend_protocols.py
  tests/core/test_multi_backend_parity.py
Labels: module: adapters, module: analysis, area: tests, config

Declare intervention scopes and modes as typed support records, not capability members (#451)
  src/interpretune/__init__.pyi
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  tests/core/test_analysis_backends.py
  tests/core/test_model_backend_protocols.py
  tests/core/test_multi_backend_parity.py
Labels: module: adapters, module: analysis, area: tests, config

Ship a distributed, capability-keyed conformance suite for adapter compositions (#450)
  docs/adapter_conformance_contract.md
  docs/adapter_development_guide.md
  docs/source/index.md
  docs/source/usage/adapter_conformance_contract.md
  pyproject.toml
  src/interpretune/__init__.pyi
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/protocol.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/__init__.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/conformance_ops.yaml
  src/interpretune/testing/conformance/extraction.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/ops.py
  src/interpretune/testing/conformance/oracles.py
  src/interpretune/testing/conformance/plugin.py
  src/interpretune/testing/conformance/reference.py
  src/interpretune/testing/conformance/session.py
  tests/analysis_resource_utils.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_runners.py
  tests/core/test_backend_conformance.py
  tests/core/test_conformance_harness.py
Labels: module: adapters, module: analysis, module: runners, module: protocol, area: tests, area: docs, area: build, dependencies, config

Say on the adapter card which blocks it cannot produce, instead of omitting them silently (#448)
  src/interpretune/hub/cards.py
  tests/core/test_adapter_card.py
Labels: area: tests

Make interp-engine an examples dependency, and cut pyproject's comment bulk
  AGENTS.md
  README.md
  pyproject.toml
  requirements/ci/requirements.txt
  scripts/build_it_env.sh
Labels: area: docs, area: build, area: scripts, dependencies, config

Ship a distributed, capability-keyed conformance suite for adapter compositions (#452)
  docs/adapter_conformance_contract.md
  docs/adapter_development_guide.md
  docs/source/index.md
  docs/source/usage/adapter_conformance_contract.md
  pyproject.toml
  src/interpretune/__init__.pyi
  src/interpretune/adapters/nnsight/backends.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/protocol.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/__init__.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/conformance_ops.yaml
  src/interpretune/testing/conformance/extraction.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/ops.py
  src/interpretune/testing/conformance/oracles.py
  src/interpretune/testing/conformance/plugin.py
  src/interpretune/testing/conformance/reference.py
  src/interpretune/testing/conformance/session.py
  tests/analysis_resource_utils.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_runners.py
  tests/core/test_backend_conformance.py
  tests/core/test_conformance_harness.py
Labels: module: adapters, module: analysis, module: runners, module: protocol, area: tests, area: docs, area: build, dependencies, config

Introduce the activation-point vocabulary and derive the hook resolver from component maps (#444)
  docs/intervention_hook_pattern_support.md
  pyproject.toml
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/hook_mapping_constants.py
  src/interpretune/analysis/points/__init__.py
  src/interpretune/analysis/points/component_map.py
  src/interpretune/analysis/points/data/gemma2.yaml
  src/interpretune/analysis/points/data/gemma3.yaml
  src/interpretune/analysis/points/data/gemma3_multimodal.yaml
  src/interpretune/analysis/points/data/gpt2.yaml
  src/interpretune/analysis/points/data/llama.yaml
  src/interpretune/analysis/points/resolve.py
  src/interpretune/analysis/points/vocabulary.py
  tests/core/test_activation_points.py
  tests/core/test_analysis_backends.py
  tests/core/test_hook_mapping_regression.py
Labels: module: analysis, area: tests, area: docs, area: build, dependencies, config

Comment sweep pass 1: drop dead issue references from shipped code
  AGENTS.md
  src/interpretune/adapters/_light_register.py
  src/interpretune/adapters/sae_lens/config.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/__init__.py
  src/interpretune/config/analysis.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/artifacts.py
  src/interpretune/hub/cache.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/utils/__init__.py
Labels: module: adapters, module: analysis, module: base, module: config, module: utils, area: docs

Update the compiler source digest the comment sweep moved
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

Introduce the activation-point vocabulary and derive the hook resolver from component maps (#453)
  docs/intervention_hook_pattern_support.md
  pyproject.toml
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/hook_mapping_constants.py
  src/interpretune/analysis/points/__init__.py
  src/interpretune/analysis/points/component_map.py
  src/interpretune/analysis/points/data/gemma2.yaml
  src/interpretune/analysis/points/data/gemma3.yaml
  src/interpretune/analysis/points/data/gemma3_multimodal.yaml
  src/interpretune/analysis/points/data/gpt2.yaml
  src/interpretune/analysis/points/data/llama.yaml
  src/interpretune/analysis/points/resolve.py
  src/interpretune/analysis/points/vocabulary.py
  tests/core/test_activation_points.py
  tests/core/test_analysis_backends.py
  tests/core/test_hook_mapping_regression.py
Labels: module: analysis, area: tests, area: docs, area: build, dependencies, config

Let a conformance target declare one prompt at a time, and refuse larger batches as a case (#450)
  docs/adapter_conformance_contract.md
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_conformance_harness.py
Labels: area: tests, area: docs

Declare the conformance suite's runtime dependencies as a `conformance` extra, and check them by name
  docs/adapter_conformance_contract.md
  pyproject.toml
  src/interpretune/testing/conformance/session.py
Labels: area: docs, area: build, dependencies, config

Add accelerate to the conformance extra: transformers needs it for a device_map, and it was hidden behind TransformerLens until the seed stopped needing it
  docs/adapter_conformance_contract.md
  pyproject.toml
  src/interpretune/testing/conformance/session.py
Labels: area: docs, area: build, dependencies, config

Match refusals on the exception cause chain, and record four more session facts from the first adoption
  docs/adapter_conformance_contract.md
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/oracles.py
  tests/core/test_conformance_harness.py
Labels: area: tests, area: docs

Make the conformance suite run on a bare core install: an adapter-free seed flavour, and a seed that imports without the adapters
  docs/adapter_conformance_contract.md
  pyproject.toml
  src/interpretune/analysis/core.py
  src/interpretune/testing/conformance/inputs.py
  src/it_examples/experiments/rte_boolq.py
Labels: module: analysis, area: examples, area: experiments, area: docs, area: build, dependencies, config

Record two more adopter facts: slot arity and the one-way manifest check
  docs/adapter_conformance_contract.md
Labels: area: docs

Refuse a layer on a global point and a missing layer on a block point in the hook resolver
  docs/adapter_conformance_contract.md
  src/interpretune/analysis/backends/hook_mapping.py
  tests/core/test_activation_points.py
Labels: module: analysis, area: tests, area: docs

Keep module.model's tokenizer as get_module_dims' first choice; resolve through the composition only as a fallback
  src/interpretune/analysis/core.py
Labels: module: analysis

Conformance suite follow-ups from the first hub adoption: batch-size axis, adapter-free flavour, declared dependencies, refusal matching, resolver strictness (#455)
  docs/adapter_conformance_contract.md
  pyproject.toml
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/core.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/gates.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/oracles.py
  src/interpretune/testing/conformance/session.py
  src/it_examples/experiments/rte_boolq.py
  tests/core/test_activation_points.py
  tests/core/test_conformance_harness.py
Labels: module: analysis, area: examples, area: experiments, area: tests, area: docs, area: build, dependencies, config

Make interp-engine a direct optional extra, so a dev env stops acquiring it by accident
  AGENTS.md
  README.md
  pyproject.toml
  scripts/build_it_env.sh
Labels: area: docs, area: build, area: scripts, dependencies, config

Make interp-engine an examples dependency, and cut pyproject's comment bulk
  AGENTS.md
  README.md
  pyproject.toml
  requirements/ci/requirements.txt
  scripts/build_it_env.sh
Labels: area: docs, area: build, area: scripts, dependencies, config

Comment sweep pass 1: drop dead issue references from shipped code (#456)
  AGENTS.md
  src/interpretune/adapters/_light_register.py
  src/interpretune/adapters/sae_lens/config.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/__init__.py
  src/interpretune/config/analysis.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/artifacts.py
  src/interpretune/hub/cache.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/utils/__init__.py
  tests/core/test_analysis_ops_compiler.py
Labels: module: adapters, module: analysis, module: base, module: config, module: utils, area: tests, area: docs

Add the hookmaps component kind, materialize declared payloads on pull, and ship the vocabulary protocol doc
  docs/activation_point_vocabulary.md
  docs/hub_trust_posture.md
  docs/intervention_hook_pattern_support.md
  docs/source/design/activation_point_vocabulary.md
  docs/source/index.md
  src/interpretune/analysis/points/__init__.py
  src/interpretune/analysis/points/resolution.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/components.py
  src/interpretune/hub/hookmaps.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  src/interpretune/hub/trust.py
  tests/core/test_adapters_import_time.py
  tests/core/test_hub_hookmaps.py
Labels: module: analysis, area: tests, area: docs

Name the materializing verb when a cached snapshot lacks a declared payload
  src/interpretune/hub/adapters.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/promptconfigs.py
  tests/core/test_hub_adapters.py
  tests/core/test_hub_hookmaps.py
  tests/core/test_hub_promptconfigs.py
Labels: module: adapters, area: tests

Make interp-engine a direct optional extra rather than a transitive one (#447)
  README.md
  pyproject.toml
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies, config

Promote the notebook publisher to the console script interpretune-publish-notebooks
  AGENTS.md
  docs/adapter_conformance_contract.md
  pyproject.toml
  scripts/publish_notebooks.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/notebooks.py
  src/interpretune/utils/notebook_publishing.py
  tests/core/test_notebook_publishing.py
Labels: module: utils, area: tests, area: docs, area: build, area: scripts, dependencies, config

Load the publishing engine from its file in the shim, and refuse a vacuous forbidden-imports entry
  docs/adapter_conformance_contract.md
  scripts/publish_notebooks.py
  src/interpretune/testing/conformance/notebooks.py
  tests/core/test_notebook_publishing.py
Labels: area: tests, area: docs, area: scripts

Fold CRLF to LF before hashing publication inputs
  src/interpretune/utils/notebook_publishing.py
  tests/core/test_notebook_publishing.py
Labels: module: utils, area: tests

Watch the capability module for the identity split that has no other symptom
  tests/module_identity.py
Labels: area: tests

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
