Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Add the hookmaps component kind, materialize declared payloads on pull, ship the vocabulary protocol doc (#459)
  docs/activation_point_vocabulary.md
  docs/hub_trust_posture.md
  docs/intervention_hook_pattern_support.md
  docs/source/design/activation_point_vocabulary.md
  docs/source/index.md
  src/interpretune/analysis/points/__init__.py
  src/interpretune/analysis/points/resolution.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/components.py
  src/interpretune/hub/hookmaps.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/hub/publish.py
  src/interpretune/hub/trust.py
  tests/core/test_adapters_import_time.py
  tests/core/test_hub_adapters.py
  tests/core/test_hub_hookmaps.py
  tests/core/test_hub_promptconfigs.py
Labels: module: adapters, module: analysis, area: tests, area: docs

Promote the notebook publisher to a console script and add the notebook-form conformance cases (#461)
  AGENTS.md
  docs/adapter_conformance_contract.md
  pyproject.toml
  scripts/publish_notebooks.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/notebooks.py
  src/interpretune/utils/notebook_publishing.py
  tests/core/test_notebook_publishing.py
Labels: module: utils, area: tests, area: docs, area: build, area: scripts, dependencies, config

Compare the bundled op's declared surface by value
  tests/core/test_analysis_level_ops_discovery.py
Labels: area: tests

Compare same-operation runs at the relative tolerance and keep torch's detail in the message
  src/interpretune/testing/conformance/cases.py
Labels: none

Add per-mode invariants, mode distinguishability, and the op-collection conformance target
  docs/adapter_conformance_contract.md
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/collections.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_backend_conformance.py
  tests/core/test_conformance_harness.py
Labels: module: analysis, area: tests, area: docs

Let ops declare the intervention modes and position scopes they need
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_compiler.py
Labels: module: analysis, area: tests, area: docs, config

Let ops declare intervention modes and scopes; add per-mode invariants and the op-collection conformance target (#460)
  docs/adapter_conformance_contract.md
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/cases.py
  src/interpretune/testing/conformance/collections.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_backend_conformance.py
  tests/core/test_conformance_harness.py
Labels: module: analysis, area: tests, area: docs, config

Serve legacy hook spellings through one alias table and dissolve the alias groups
  docs/intervention_hook_pattern_support.md
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/testing/conformance/reference.py
  tests/core/test_activation_points.py
  tests/core/test_analysis_backends.py
  tests/core/test_backend_conformance.py
Labels: module: adapters, module: analysis, area: tests, area: docs

Serve legacy hook spellings through one alias table and dissolve the alias groups (#463)
  docs/intervention_hook_pattern_support.md
  src/interpretune/adapters/transformer_lens/backends.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/points/vocabulary.py
  src/interpretune/testing/conformance/reference.py
  tests/core/test_activation_points.py
  tests/core/test_analysis_backends.py
  tests/core/test_backend_conformance.py
Labels: module: adapters, module: analysis, area: tests, area: docs

Watch the capability module for the identity split that has no other symptom (#464)
  tests/module_identity.py
Labels: area: tests

docs: refresh the experiment docs with the J-space ground truth (#225, #273)
  src/it_examples/experiments/notebook/EXPERIMENT_STATUS.md
  src/it_examples/experiments/notebook/concept_direction/concept_direction_analysis.md
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
Labels: area: examples, area: experiments, area: docs

Report skipped compositions where an unconfigured consumer can see them, and return the report
  src/interpretune/adapters/_light_register.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/utils/logging.py
  tests/core/test_adapter_precedence.py
  tests/core/test_bundled_composition_requires.py
  tests/core/test_hub_adapter_contract.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, module: utils, area: tests

Assert that an intervention changes exactly the positions its scope selects
  tests/core/test_analysis_backends.py
  tests/core/test_intervention_position_contract.py
Labels: area: tests

fix: run tests on scripts-only changes (#480)
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

docs: refresh the experiment docs with the J-space ground truth (#225, #273) (#468)
  src/it_examples/experiments/notebook/EXPERIMENT_STATUS.md
  src/it_examples/experiments/notebook/concept_direction/concept_direction_analysis.md
  src/it_examples/experiments/notebook/intervention_capabilities_overview.md
Labels: area: examples, area: experiments, area: docs

Report skipped compositions where an unconfigured consumer can see them, and return the report (#469)
  src/interpretune/adapters/_light_register.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/utils/logging.py
  tests/core/test_adapter_precedence.py
  tests/core/test_bundled_composition_requires.py
  tests/core/test_hub_adapter_contract.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, module: utils, area: tests

Assert that an intervention changes exactly the positions its scope selects (#471)
  tests/core/test_analysis_backends.py
  tests/core/test_intervention_position_contract.py
Labels: area: tests

Judge what a hub adapter has registered, not what one call added, so a second load is idempotent
  src/interpretune/hub/adapters.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, area: tests

Judge what a hub adapter has registered, not what one call added, so a second load is idempotent (#485)
  src/interpretune/hub/adapters.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, area: tests

Publish the manifest's allowlist plus declared extras, and make the Hub tree match the staged one
  docs/custom_ops_composition_guide.md
  src/interpretune/hub/cards.py
  src/interpretune/hub/manager.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_publish_declared_tree.py
Labels: area: tests, area: docs

Judge extra_files entries under both path flavours
  src/interpretune/hub/manifest.py
  tests/core/test_hub_publish_declared_tree.py
Labels: area: tests

Publish the manifest's allowlist plus declared extras, and make the Hub tree match the staged one (#467)
  docs/custom_ops_composition_guide.md
  src/interpretune/hub/cards.py
  src/interpretune/hub/manager.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_publish_declared_tree.py
Labels: area: tests, area: docs

Let a requires block name the modules a composition imports
  docs/custom_ops_composition_guide.md
  src/interpretune/hub/manifest.py
  src/interpretune/utils/requirements.py
  tests/core/test_requires_modules_axis.py
Labels: module: utils, area: tests, area: docs

Name the real circuit-tracer module in the modules-axis example
  tests/core/test_requires_modules_axis.py
Labels: area: tests

Run the hosted test matrix when scripts/ changes
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

Let a requires block name the modules a composition imports, and run the matrix on scripts changes (#483)
  .github/workflows/ci_test-full.yml
  docs/custom_ops_composition_guide.md
  src/interpretune/hub/manifest.py
  src/interpretune/utils/requirements.py
  tests/core/test_requires_modules_axis.py
Labels: module: utils, area: tests, area: docs, area: ci, config

Name a local-publish snapshot that shadows a cached Hub revision, and let a verifier refuse it
  docs/custom_ops_composition_guide.md
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  tests/core/test_hub_local_snapshot_shadowing.py
Labels: module: adapters, area: tests, area: docs

Name a local-publish snapshot that shadows a cached Hub revision, and let a verifier refuse it (#470)
  docs/custom_ops_composition_guide.md
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  tests/core/test_hub_local_snapshot_shadowing.py
Labels: module: adapters, area: tests, area: docs

Say what kind of revision a reader is looking at, and make Hub presence an explicit question
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/precedence.py
  tests/core/test_hub_cache_provenance.py
Labels: module: adapters, module: analysis, area: tests, area: docs

Say what kind of revision a reader is looking at, and make Hub presence an explicit question (#474)
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/precedence.py
  tests/core/test_hub_cache_provenance.py
Labels: module: adapters, module: analysis, area: tests, area: docs

Bind a loaded hub adapter under a stable import path a YAML class_path can name
  docs/adapter_development_guide.md
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  tests/core/test_hub_adapter_stable_path.py
Labels: module: adapters, area: tests, area: docs

Bind a loaded hub adapter under a stable import path a YAML class_path can name (#487)
  docs/adapter_development_guide.md
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  tests/core/test_hub_adapter_stable_path.py
Labels: module: adapters, area: tests, area: docs

State the composition-pairing and module.model invariants a component author could not discover
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/manifest.py
  tests/core/test_composition_pairing.py
Labels: module: adapters, module: analysis, area: tests

State the composition-pairing and module.model invariants a component author could not discover (#488)
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/manifest.py
  tests/core/test_composition_pairing.py
Labels: module: adapters, module: analysis, area: tests

Require a schema_version on every component-map document
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/component_map.py
  src/interpretune/analysis/points/data/gemma2.yaml
  src/interpretune/analysis/points/data/gemma3.yaml
  src/interpretune/analysis/points/data/gemma3_multimodal.yaml
  src/interpretune/analysis/points/data/gpt2.yaml
  src/interpretune/analysis/points/data/llama.yaml
  tests/core/test_activation_points.py
  tests/core/test_hub_hookmaps.py
Labels: module: analysis, area: tests, area: docs, config

Record a pinned component pull where resolution looks, so a clean-cache pin is loadable
  docs/hub_trust_posture.md
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  tests/core/test_hub_pinned_pull.py
Labels: module: adapters, area: tests, area: docs

Accept an unambiguous revision prefix at load, as pull already does
  src/interpretune/hub/components.py
  tests/core/test_hub_pinned_pull.py
Labels: area: tests

Require a schema_version on every component-map document (#486)
  docs/activation_point_vocabulary.md
  src/interpretune/analysis/points/component_map.py
  src/interpretune/analysis/points/data/gemma2.yaml
  src/interpretune/analysis/points/data/gemma3.yaml
  src/interpretune/analysis/points/data/gemma3_multimodal.yaml
  src/interpretune/analysis/points/data/gpt2.yaml
  src/interpretune/analysis/points/data/llama.yaml
  tests/core/test_activation_points.py
  tests/core/test_hub_hookmaps.py
Labels: module: analysis, area: tests, area: docs, config

Warm the Hub cache once per hosted CI job and run the suite offline
  .github/actions/run-pytest-instrumented/action.yml
  .github/workflows/ci_test-full.yml
  AGENTS.md
  docs/ci_hub_cache.md
  pyproject.toml
  scripts/warm_hf_cache.py
  tests/conftest.py
  tests/core/test_warm_hf_cache.py
  tests/hf_warm_manifest.yaml
Labels: area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Warm model repositories file by file and stop retrying permanent Hub errors
  scripts/warm_hf_cache.py
  tests/core/test_warm_hf_cache.py
  tests/hf_warm_manifest.yaml
Labels: area: tests, area: scripts, config
