Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Re-sync az-pipelines-ops (identify-then-release), and state the step-reference rule
  .claude/skills/az-pipelines-failure-triage/SKILL.md
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Decompose ModelBackend into a required core plus capability-gated method groups (#409)
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/impls/nnsight.py
  src/interpretune/analysis/backends/impls/transformer_lens.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/analysis/optools.py
  tests/core/test_analysis_backends.py
  tests/core/test_model_backend_protocols.py
Labels: module: analysis, adapter: transformer_lens, area: tests

Re-sync az-pipelines-ops: the checkout failure a green containerised run arms
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Re-sync az-pipelines-ops: the checkout failure a green containerised run arms (#412)
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Re-sync az-pipelines-ops: the post-clear ordering trap, and normalization
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Re-sync az-pipelines-ops: the post-clear ordering trap, and normalization (#413)
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Take the last two frameworks off the bare import path
  pyproject.toml
  src/interpretune/analysis/core.py
Labels: module: analysis, area: build, dependencies, config

Fix the three seams the full suite caught, all of them silent
  src/interpretune/config/shared.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_base_config.py
Labels: module: config, area: tests

Re-sync az-pipelines-ops: cancel a queued build that should not run
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Add the interp-engine notebook example, gated on the component and tested statically
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
  tests/core/test_interp_engine_notebook_example.py
Labels: area: examples, area: notebooks, area: tests, config

Re-sync az-pipelines-ops: cancel a queued build that should not run (#416)
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Build the published notebook path from parts, not a string replace
  tests/core/test_interp_engine_notebook_example.py
Labels: area: tests

Remove the interp-engine CLI demo
  src/it_examples/experiments/interp_engine/__init__.py
  src/it_examples/experiments/interp_engine/hub_adapter_demo.py
Labels: area: examples, area: experiments

Remove the interp-engine CLI demo (#418)
  src/it_examples/experiments/interp_engine/__init__.py
  src/it_examples/experiments/interp_engine/hub_adapter_demo.py
Labels: area: examples, area: experiments

Generalize the circuit-tracer backend seams, and gate the regen cron on lock age
  .github/workflows/regen-ci-req-check.yml
  pyproject.toml
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/config.py
  tests/core/test_ct_backend_extensibility.py
Labels: module: adapters, module: config, area: tests, area: ci, area: build, dependencies, config

Type the replacement model as nn.Module: the factory has no common base
  src/interpretune/adapters/circuit_tracer/adapter.py
Labels: module: adapters

Read core sources as UTF-8 and pin that the scan happened
  tests/core/test_ct_backend_extensibility.py
Labels: area: tests

Correct the encoding rationale: CI sets PYTHONUTF8, so this never failed there
  tests/core/test_ct_backend_extensibility.py
Labels: area: tests

Generalize the circuit-tracer backend seams (N2), and gate the regen cron on lock age (#428)
  .github/workflows/regen-ci-req-check.yml
  pyproject.toml
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/config.py
  tests/core/test_ct_backend_extensibility.py
Labels: module: adapters, module: config, area: tests, area: ci, area: build, dependencies, config

Split the circuit-tracer backend registries into a dependency-free module
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/config.py
  src/interpretune/adapters/circuit_tracer/registry.py
  tests/core/test_ct_backend_extensibility.py
  tests/core/test_ct_registry_is_dependency_free.py
Labels: module: adapters, module: config, module: registry, area: tests

Split the circuit-tracer backend registries into a dependency-free module (#430)
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/config.py
  src/interpretune/adapters/circuit_tracer/registry.py
  tests/core/test_ct_backend_extensibility.py
  tests/core/test_ct_registry_is_dependency_free.py
Labels: module: adapters, module: config, module: registry, area: tests

Evaluate an adapter's declared requirements before importing it, and report the skip
  src/interpretune/adapters/_light_register.py
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/nnsight/__init__.py
  src/interpretune/adapters/sae_lens/__init__.py
  src/interpretune/adapters/transformer_lens/__init__.py
  src/interpretune/hub/components.py
  src/interpretune/utils/requirements.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, module: utils, area: tests

Skip an unsupportable hub composition instead of the whole component, and say so
  src/interpretune/hub/adapters.py
  src/interpretune/hub/manifest.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, area: tests

Record that supported_compositions() is thread-scoped, and pin it
  src/interpretune/hub/adapters.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, area: tests

Skip an unsupportable composition instead of the whole component, and say so (#431) (#434)
  src/interpretune/adapters/_light_register.py
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/nnsight/__init__.py
  src/interpretune/adapters/sae_lens/__init__.py
  src/interpretune/adapters/transformer_lens/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/utils/requirements.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, module: utils, area: tests

Discover adapters through an entry-point group instead of a hardcoded tuple
  pyproject.toml
  src/interpretune/adapters/_light_register.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, area: tests, area: build, dependencies, config

Discover adapters through an entry-point group instead of a hardcoded tuple (#438)
  pyproject.toml
  src/interpretune/adapters/_light_register.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, area: tests, area: build, dependencies, config

Rename ht_bridge_parity_behavior to adapter_parity_governance
  docs/adapter_parity_governance.md
  docs/source/design/adapter_parity_governance.md
  docs/source/design/ht_bridge_parity_behavior.md
  docs/source/index.md
  tests/core/test_model_backend_parity.py
Labels: area: tests, area: docs

Reframe the parity doc as multi-adapter governance, with interp-engine as a third HF-native member
  docs/adapter_parity_governance.md
Labels: area: docs

Generate an adapter card section, led by the exposure a model card never has to state
  src/interpretune/hub/cards.py
  tests/core/test_adapter_card.py
Labels: area: tests

Add the interp-engine leg to the HF-native forward convergence contract
  src/interpretune/utils/__init__.py
  src/interpretune/utils/import_utils.py
  tests/core/test_forward_convergence_parity.py
Labels: module: utils, area: tests

Ask for interp-engine availability in the test, not in core
  src/interpretune/utils/__init__.py
  src/interpretune/utils/import_utils.py
  tests/core/test_forward_convergence_parity.py
Labels: module: utils, area: tests

State the public-surface rule as a property rather than a list of surfaces
  AGENTS.md
Labels: area: docs

Stop the public-surface rule from violating itself
  AGENTS.md
Labels: area: docs

Refuse a hub adapter that would shadow a bundled name, with a per-component opt-in
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/api.py
  src/interpretune/hub/precedence.py
  tests/core/test_adapter_precedence.py
Labels: module: adapters, area: tests

Add the executable parity test: why precedence has to exist at all
  tests/core/test_adapter_precedence.py
Labels: area: tests

Record what depends on the synthetic module name as a three-way split, citing #432
  tests/core/test_adapter_precedence.py
Labels: area: tests

Generate an adapter card section, led by the exposure a model card never has to state (#440)
  src/interpretune/hub/cards.py
  tests/core/test_adapter_card.py
Labels: area: tests

Adapter parity governance: rename, reframe as a convergence set, add the interp-engine leg (#439)
  AGENTS.md
  docs/adapter_parity_governance.md
  docs/source/design/adapter_parity_governance.md
  docs/source/design/ht_bridge_parity_behavior.md
  docs/source/index.md
  tests/core/test_forward_convergence_parity.py
  tests/core/test_model_backend_parity.py
Labels: area: tests, area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
