Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Regenerate the CI lock
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Regenerate the CI lock
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Document why the GPU workspace is reused, and what a missing check means
  .azure-pipelines/gpu-tests.yml
Labels: config

Document why the GPU workspace is reused, and what a missing check means
  .azure-pipelines/gpu-tests.yml
Labels: config

Drop the benchmark env script's dead compose path and stale DB advice
  scripts/dashboard_benchmark_suite_usage.md
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: scripts

Warn that hook_mlp_in is not the tensor Gemma Scope 2 transcoders were trained on
  docs/neuronpedia_dashboard_pipeline.md
Labels: area: docs

Let the dashboard pipeline name the capture hook
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Stop treating the three norm tensors as one (#375)
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/interventions.py
  tests/core/test_analysis_backends.py
Labels: module: analysis, area: tests

Name the capture hook in the shipped gemma-scope-2 configs
  src/it_examples/neuronpedia_dashboard/gemmascope-2-rte-base.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: examples, area: tests, config

Load the adapters component kind from the hub (#125)
  src/interpretune/adapters/registration.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, adapter: registration, area: tests

Stop installing SAELens from the fork; the pins carry the released code
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Honor the capture hook on the legacy runner path too
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Capture Gemma Scope 2 transcoders at the tensor they were trained on (#379)
  docs/neuronpedia_dashboard_pipeline.md
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/it_examples/neuronpedia_dashboard/gemmascope-2-rte-base.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  tests/core/test_analysis_backends.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: module: analysis, extension: neuronpedia, module: utils, area: examples, area: tests, area: docs, config

Point the unreachable-Postgres hint at nothing, because there is nothing
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Refresh the benchmark env script: dead compose path, stale DB advice, and the SAELens fork install (#374)
  scripts/dashboard_benchmark_suite_usage.md
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: scripts

Stop the setup script prompting in --dry-run, and show what a stash would take
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Stop the setup script prompting in --dry-run, and show what a stash would take (#377)
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Give the L0 acceptance check a stated tolerance
  docs/verifying_dashboard_generation.md
Labels: area: docs

Give section (d) an acceptance check that needs no baseline
  docs/verifying_dashboard_generation.md
Labels: area: docs

Say that capture_hook_name is path-agnostic, and only its value is bridge-bound
  docs/neuronpedia_dashboard_pipeline.md
Labels: area: docs

Document which tensor a regeneration captures, and how to confirm it
  docs/neuronpedia_dashboard_pipeline.md
  docs/verifying_dashboard_generation.md
Labels: area: docs

Document which tensor a regeneration captures, and how to confirm it (#378)
  docs/neuronpedia_dashboard_pipeline.md
  docs/verifying_dashboard_generation.md
Labels: area: docs

Ask the neuronpedia checkout whether `make db-check` exists, instead of guessing
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Ask the neuronpedia checkout whether `make db-check` exists, instead of guessing (#381)
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Point the dashboard configs at the native Postgres cluster
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
Labels: area: examples, config

Select the README install line this lane can actually use
  .azure-pipelines/readme-flow-gpu.yml
Labels: config

Select the README install line this lane can actually use (#385)
  .azure-pipelines/readme-flow-gpu.yml
Labels: config

Point the dashboard configs at the native Postgres cluster (#383)
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
Labels: area: examples, config

Point the remaining local-DB references at the default Postgres port
  docs/neuronpedia_dashboard_pipeline.md
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/verifying_dashboard_generation.md
  scripts/dashboard_benchmark_suite_usage.md
  scripts/run_dashboard_benchmark_suite.py
  scripts/setup_dashboard_benchmark_env.py
  src/it_examples/experiments/notebook/concept_direction/configs/base_gemma3_it_local.yaml
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: experiments, area: notebooks, area: docs, area: scripts, config

Clean the container-owned workspace residue this lane leaves behind
  .azure-pipelines/readme-flow-gpu.yml
Labels: config

Clean the container-owned workspace residue this lane leaves behind (#388)
  .azure-pipelines/readme-flow-gpu.yml
Labels: config

Point the remaining local-DB references at the default Postgres port (#386)
  docs/neuronpedia_dashboard_pipeline.md
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/verifying_dashboard_generation.md
  scripts/dashboard_benchmark_suite_usage.md
  scripts/run_dashboard_benchmark_suite.py
  scripts/setup_dashboard_benchmark_env.py
  src/it_examples/experiments/notebook/concept_direction/configs/base_gemma3_it_local.yaml
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: experiments, area: notebooks, area: docs, area: scripts, config

Pin the published-notebook skip count to what a real run produces
  .azure-pipelines/readme-flow-gpu.yml
Labels: config

Pin the published-notebook skip count to what a real run produces (#389)
  .azure-pipelines/readme-flow-gpu.yml
Labels: config

Fix two dead make targets and replace the retired implied-L0 gate
  docs/verifying_dashboard_generation.md
Labels: area: docs

Default the torch backend to auto, because cu128 cannot satisfy the torch pin
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Fix two dead make targets and replace the retired implied-L0 gate (#390)
  docs/verifying_dashboard_generation.md
Labels: area: docs

Default the torch backend to auto, because cu128 cannot satisfy the torch pin (#391)
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Move the neuronpedia baseline to the merge base with upstream
  scripts/dashboard_benchmark_artifacts.py
  scripts/dashboard_benchmark_suite_usage.md
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: scripts

Move the neuronpedia baseline to the merge base with upstream (#392)
  scripts/dashboard_benchmark_artifacts.py
  scripts/dashboard_benchmark_suite_usage.md
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/setup_dashboard_benchmark_env.py
Labels: area: docs, area: scripts

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
