Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Add 4a embed-basis patch arm beside the naive add (#422)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Expect unfolded 4a to hold on gemma-3-1b-it, flip on gemma-2-2b (#422)
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, config

Validate 4a embed-patch arm with a GPU render (#422)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Rename the J-lens bases to jlens_unfolded and jlens_folded (#665)
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/optools.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/tests/test_nb_ui_attribution_comparison.py
  src/it_examples/tests/test_nb_ui_jlens_readout_comparison.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_concept_direction_basis.py
  tests/core/test_intervention_first_order_check.py
  tests/core/test_jlens_subspace_attribution.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Move schema compilation from dispatcher load to session setup (#280)
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/config/runner.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_schema_compiler.py
Labels: module: analysis, module: config, module: runners, area: tests

Fix cold-path alias staleness from deferred compilation (#280)
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_cross_collection_required_ops.py
  tests/core/test_hub_integration.py
Labels: module: analysis, area: tests

Repair cold-path alias and cache-timing regressions (#280)
  tests/core/test_op_collections.py
  tests/core/test_op_name_normalization.py
Labels: area: tests

Rename the J-lens bases to jlens_unfolded and jlens_folded (#676)
  docs/jlens_paper_alignment.md
  docs/notebook_artifacts/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/optools.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/jspace_workspace_demo.ipynb
  src/it_examples/tests/test_nb_ui_attribution_comparison.py
  src/it_examples/tests/test_nb_ui_jlens_readout_comparison.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_concept_direction_basis.py
  tests/core/test_intervention_first_order_check.py
  tests/core/test_jlens_subspace_attribution.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Steering demo refresh + 4a embed-basis patch arm (#426, #422)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Op-compilation hygiene: delete dead init branch and DispatchContext, memoize shared compiles (#279, #281)
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_analysis_runners.py
  tests/core/test_schema_compiler.py
Labels: module: analysis, module: runners, area: tests

Drop main from the GPU pipeline's CI trigger
  .azure-pipelines/gpu-tests.yml
Labels: config

Drop main from the GPU pipeline's CI trigger (#685)
  .azure-pipelines/gpu-tests.yml
Labels: config

Per-case conformance generator-cache keys with bounded storage (#621)
  src/interpretune/config/runner.py
  src/interpretune/runners/analysis.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/session.py
  tests/core/test_analysis_case_fingerprint.py
Labels: module: config, module: runners, area: tests

Steering demos: shared 4a/4c/4d helpers, 4c scoped to J-lens validation, basis-name fallout
  docs/jlens_usage.md
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/tests/test_nb_ui_jlens_direction_validation.py
  src/it_examples/tests/test_steering_demo_helpers.py
  src/it_examples/utils/nb_ui_utils.py
  src/it_examples/utils/steering_demo_helpers.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Re-render both steering demo docs artifacts for the shared helpers and 4c validation
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Compile op schemas at session setup, not dispatcher load (#280)
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/config/runner.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_cross_collection_required_ops.py
  tests/core/test_hub_integration.py
  tests/core/test_op_collections.py
  tests/core/test_op_name_normalization.py
  tests/core/test_schema_compiler.py
Labels: module: analysis, module: config, module: runners, area: tests

Readout helper test: keep the norm scale in a local so its type is not Optional
  src/it_examples/tests/test_steering_demo_helpers.py
Labels: area: examples, area: tests

Steering demos 4a: check the swap against its prediction, and document folding-sensitive substrates
  docs/jlens_norm_folding.md
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/tests/test_steering_demo_helpers.py
  src/it_examples/utils/steering_demo_helpers.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Re-render both steering demos for the 4a swap check; quote the rendered coordinates in the folding doc
  docs/jlens_norm_folding.md
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Docs: let notebook pages widen to fit 120-column code cells
  docs/source/_static/custom.css
Labels: area: docs

Docs: let notebook pages widen to fit 120-column code cells (#690)
  docs/source/_static/custom.css
Labels: area: docs

Steering demos: 4b scaling curve across the three arms
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/tests/test_nb_ui_steering_scale_sweep.py
  src/it_examples/tests/test_steering_demo_helpers.py
  src/it_examples/utils/nb_ui_utils.py
  src/it_examples/utils/steering_demo_helpers.py
Labels: area: examples, area: notebooks, area: tests, config

Keep the circuit-tracer adapter importable without sae_lens (#687)
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/sae_lens_composition.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, adapter: sae_lens, area: tests

Scale-sweep table: a gap that lands exactly on zero is a tie, not a flip
  src/it_examples/tests/test_nb_ui_steering_scale_sweep.py
  src/it_examples/utils/nb_ui_utils.py
Labels: area: examples, area: tests

Keep the circuit-tracer adapter importable without sae_lens (#692)
  src/interpretune/adapters/circuit_tracer/__init__.py
  src/interpretune/adapters/circuit_tracer/adapter.py
  src/interpretune/adapters/circuit_tracer/sae_lens_composition.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, adapter: sae_lens, area: tests

Re-render both steering demos with the 4b scaling curve
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Promote get_loss_preds_diffs to the loss_preds_diffs core op (#282)
  docs/custom_ops_composition_guide.md
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.py
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.yaml
  src/interpretune/analysis/ops/bundled/core/core_ops.py
  src/interpretune/analysis/ops/bundled/core/core_ops.yaml
  tests/core/test_analysis_ops_base.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_multi_backend_parity.py
Labels: module: analysis, area: tests, area: docs, config

Re-pin hub adapter component to 92dd5251 (adapter#44, engine 1.12.0)
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Keep the clean baseline when ablation attribution calls loss_preds_diffs
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.py
  tests/core/test_analysis_ops_definitions.py
Labels: module: analysis, area: tests

Re-render hub adapter docs artifact at component 92dd5251 (adapter#44)
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
Labels: area: notebooks, area: docs

Re-render both steering demos after merging main into the collapsed branch
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Move examples engine pin to ~=1.12.0 with lock (adapter#44)
  pyproject.toml
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies, config

Steering demos: shared helpers, J-lens validation, 4a swap check and 4b scaling curve (#686)
  docs/jlens_norm_folding.md
  docs/jlens_usage.md
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/tests/test_nb_ui_jlens_direction_validation.py
  src/it_examples/tests/test_nb_ui_steering_scale_sweep.py
  src/it_examples/tests/test_steering_demo_helpers.py
  src/it_examples/utils/nb_ui_utils.py
  src/it_examples/utils/steering_demo_helpers.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Promote get_loss_preds_diffs to the loss_preds_diffs core op (#693)
  docs/custom_ops_composition_guide.md
  src/interpretune/__init__.pyi
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.py
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.yaml
  src/interpretune/analysis/ops/bundled/core/core_ops.py
  src/interpretune/analysis/ops/bundled/core/core_ops.yaml
  tests/core/test_analysis_ops_base.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_multi_backend_parity.py
Labels: module: analysis, area: tests, area: docs, config

Docs: bring the J-lens and intervention pages onto the settled API
  docs/interpretune_intervention_apis.md
  docs/jlens_usage.md
  docs/source/roadmap.md
Labels: area: docs

One in-tree fold choice for every J-lens op; re-pin the steering demos to the consumer-only collection
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_jlens_read_ops.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, config

Re-render both steering demos against the republished collection
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: notebooks, area: docs

Re-pin hub adapter example to component 92dd5251 (engine 1.12.0)
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  pyproject.toml
  requirements/ci/requirements.txt
  src/it_examples/notebooks/dev/interp_engine_example/interp_engine_hub_adapter.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/interp_engine_example/interp_engine_hub_adapter.ipynb
Labels: area: examples, area: notebooks, area: docs, area: build, dependencies, config

One in-tree J-lens fold choice; re-pin the steering demos to the consumer-only collection (#710)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/jlens/jlens_ops.py
  src/interpretune/analysis/optools.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_jlens_read_ops.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Conformance: validate a collection's working tree before publishing
  docs/adapter_conformance_contract.md
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/collections.py
  tests/core/test_conformance_harness.py
Labels: module: analysis, area: tests, area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
