Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

setuptools_scm: only v-prefixed tags are version tags
  pyproject.toml
Labels: area: build, dependencies, config

Simplify re-stamp provenance docs (maintainer edits)
  docs/verifying_dashboard_generation.md
  scripts/dashboard_benchmark_suite_usage.md
Labels: area: docs, area: scripts

Retire the full_20260727 benchmark package
  docs/benchmark_artifacts/full_20260727/README.md
  docs/benchmark_artifacts/full_20260727/benchmark_summary.md
  docs/benchmark_artifacts/full_20260727/dashboard_benchmark_diagram.mmd
  docs/benchmark_artifacts/full_20260727/dashboard_profiling_20260727_212938.html
  docs/benchmark_artifacts/full_20260727/extracted_data.json
  docs/benchmark_artifacts/full_20260727/manifest.json
  docs/benchmark_artifacts/full_20260727/tables/import_monology.md
  docs/benchmark_artifacts/full_20260727/tables/import_rte.md
  docs/benchmark_artifacts/full_20260727/tables/parity_monology.md
  docs/benchmark_artifacts/full_20260727/tables/parity_rte.md
  docs/benchmark_artifacts/full_20260727/tables/primary_monology.md
  docs/benchmark_artifacts/full_20260727/tables/primary_rte.md
  docs/benchmark_artifacts/full_20260727/tables/resource_monology.md
  docs/benchmark_artifacts/full_20260727/tables/resource_rte.md
  docs/benchmark_artifacts/full_20260727/tables/substage_monology.md
  docs/benchmark_artifacts/full_20260727/tables/substage_rte.md
  docs/benchmark_artifacts/full_20260812/README.md
  scripts/dashboard_benchmark_suite_usage.md
  tests/core/test_dashboard_benchmark_artifacts.py
Labels: area: tests, area: docs, area: scripts, config

Constrain version tags to v*; simplify re-stamp provenance docs (#260)
  docs/benchmark_artifacts/full_20260727/README.md
  docs/benchmark_artifacts/full_20260727/benchmark_summary.md
  docs/benchmark_artifacts/full_20260727/dashboard_benchmark_diagram.mmd
  docs/benchmark_artifacts/full_20260727/dashboard_profiling_20260727_212938.html
  docs/benchmark_artifacts/full_20260727/extracted_data.json
  docs/benchmark_artifacts/full_20260727/manifest.json
  docs/benchmark_artifacts/full_20260727/tables/import_monology.md
  docs/benchmark_artifacts/full_20260727/tables/import_rte.md
  docs/benchmark_artifacts/full_20260727/tables/parity_monology.md
  docs/benchmark_artifacts/full_20260727/tables/parity_rte.md
  docs/benchmark_artifacts/full_20260727/tables/primary_monology.md
  docs/benchmark_artifacts/full_20260727/tables/primary_rte.md
  docs/benchmark_artifacts/full_20260727/tables/resource_monology.md
  docs/benchmark_artifacts/full_20260727/tables/resource_rte.md
  docs/benchmark_artifacts/full_20260727/tables/substage_monology.md
  docs/benchmark_artifacts/full_20260727/tables/substage_rte.md
  docs/benchmark_artifacts/full_20260812/README.md
  docs/verifying_dashboard_generation.md
  pyproject.toml
  scripts/dashboard_benchmark_suite_usage.md
  tests/core/test_dashboard_benchmark_artifacts.py
Labels: area: tests, area: docs, area: build, area: scripts, dependencies, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Trust hub-resident code only on explicit opt-in (#255)
  docs/hub_trust_posture.md
  docs/source/index.md
  docs/source/usage/hub_trust_posture.md
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/hub/trust.py
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  tests/conftest.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_hub_trust.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

Version the it_artifact.json envelope against a readable window (#257)
  docs/analysis_store_serialization.md
  src/interpretune/hub/artifacts.py
  tests/core/fixtures/it_artifact_schema1.json
  tests/core/test_hub_artifacts.py
Labels: area: tests, area: docs, config

Refresh the op-collection docs artifact for the trust opt-in cells
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
Labels: area: notebooks, area: docs

Pre-registration hardening: default-deny trust for hub code (#255) + artifact schema window (#257)
  docs/analysis_store_serialization.md
  docs/hub_trust_posture.md
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/source/index.md
  docs/source/usage/hub_trust_posture.md
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/artifacts.py
  src/interpretune/hub/promptconfigs.py
  src/interpretune/hub/trust.py
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  tests/conftest.py
  tests/core/fixtures/it_artifact_schema1.json
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_hub_artifacts.py
  tests/core/test_hub_trust.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, config

regen-ci-req: monthly cadence, and stop commenting on the regen PR itself
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

regen-ci-req: monthly cadence, and stop commenting on the regen PR itself (#265)
  .github/workflows/regen-ci-req-check.yml
  .github/workflows/regen-ci-req-report.yml
Labels: area: ci, config

Scope the publishability claim to what the lint actually enforces (#266)
  docs/custom_ops_composition_guide.md
  tests/core/test_bundled_op_publishability.py
Labels: area: tests, area: docs

Fix manage_standalone_processes.sh matching its own caller as a conflict
  CLAUDE.md
  scripts/manage_standalone_processes.sh
Labels: area: docs, area: scripts

Split analysis/backends/__init__.py into named seam modules (#266)
  docs/custom_ops_composition_guide.md
  docs/protocol_architecture_working_design.md
  docs/source/api.rst
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/feature_selection.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  tests/core/test_backends_surface.py
  tests/core/test_bundled_op_publishability.py
Labels: module: analysis, area: tests, area: docs

Phase 2: declared op_state lifecycle and trait-based de-special-casing (#266)
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/core.py
  src/interpretune/analysis/inputs.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/bundled/composites.yaml
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/compiler/load_policy.py
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/analysis.py
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_bundled_concept_streaming.py
  tests/core/test_cross_backend_compat.py
Labels: module: analysis, module: base, module: config, module: runners, area: tests, area: docs, config

Document IT_STRICT_OP_LOAD for op-collection authors (#266)
  docs/custom_ops_composition_guide.md
Labels: area: docs

Scope the op_state guide claims to what the framework actually does (#266)
  docs/custom_ops_composition_guide.md
Labels: area: docs

Address umbrella review of Phase 2 (#266)
  docs/custom_ops_composition_guide.md
  src/interpretune/analysis/inputs.py
  src/interpretune/base/components/mixins.py
  tests/core/test_analysis_op_state.py
Labels: module: analysis, module: base, area: tests, area: docs

Phase 2: declared op_state lifecycle and trait-based de-special-casing (#266) (#268)
  CLAUDE.md
  docs/custom_ops_composition_guide.md
  docs/protocol_architecture_working_design.md
  docs/source/api.rst
  scripts/manage_standalone_processes.sh
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/feature_selection.py
  src/interpretune/analysis/backends/interventions.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/inputs.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.py
  src/interpretune/analysis/ops/bundled/composites.yaml
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/compiler/load_policy.py
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/base/components/mixins.py
  src/interpretune/config/analysis.py
  src/interpretune/runners/analysis.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_backends_surface.py
  tests/core/test_bundled_concept_streaming.py
  tests/core/test_bundled_op_publishability.py
  tests/core/test_cross_backend_compat.py
Labels: module: analysis, module: base, module: config, module: runners, area: tests, area: docs, area: scripts, config

Teach the CLI parse surface the flattened one-door dialect
  src/interpretune/base/components/cli.py
  tests/core/test_components_cli.py
Labels: module: base, area: tests

Score benchmark runs from plain text, not a terminal rendering
  tests/benchmarks/benchmark_utils.py
  tests/benchmarks/run_benchmarks.py
  tests/benchmarks/test_benchmarks.py
Labels: area: tests

Unblock the registered-benchmark lane: CLI parse surface and benchmark scoring (#271)
  src/interpretune/base/components/cli.py
  tests/benchmarks/benchmark_utils.py
  tests/benchmarks/run_benchmarks.py
  tests/benchmarks/test_benchmarks.py
  tests/core/test_components_cli.py
Labels: module: base, area: tests

Make op-name lookup symmetric with storage; detect normalization collisions (#266)
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_op_name_normalization.py
Labels: module: analysis, area: tests

Rename REGEN_PR_TOKEN -> IT_REGEN_PR_TOKEN in the regen-check workflow (#266)
  .github/workflows/regen-ci-req-check.yml
Labels: area: ci, config

CI lease: chmod the holder file at acquire so the next holder can repair it
  scripts/gpu_lease_wrap.sh
  src/interpretune/analysis/backends/impls/circuit_tracer.py
  src/interpretune/analysis/backends/impls/nnsight.py
  src/interpretune/analysis/backends/impls/transformer_lens.py
Labels: module: analysis, adapter: circuit_tracer, adapter: transformer_lens, area: scripts

Route hub op discovery through the manifest; pin a collection to one revision (#266 Phase 3, item 1)
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/opcollections.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_dispatcher_hub.py
  tests/core/test_hub_integration.py
  tests/core/test_op_collection_manifest_routing.py
  tests/hub_op_fixtures.py
Labels: module: analysis, area: tests

Write the kinds:[ops] manifest spec; stop non-op YAML dropping every op (#266)
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/manifest.py
  tests/core/test_hub_components.py
  tests/core/test_op_name_normalization.py
Labels: module: analysis, area: tests

Categorize demo ops by declared provenance; finish the D7 rename in tests (#266)
  src/it_examples/notebooks/dev/example_op_collections/op_collection_demo_utils.py
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/op_collection_demo_utils.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_dispatcher_hub.py
Labels: area: examples, area: notebooks, area: tests, config

Add the collection: header and its compatibility window (#266 Phase 3, D8 item 1)
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.yaml
  src/interpretune/analysis/ops/bundled/circuit_tracer/ct_ops.yaml
  src/interpretune/analysis/ops/bundled/concept/concept_ops.yaml
  src/interpretune/analysis/ops/bundled/core/core_ops.yaml
  src/interpretune/analysis/ops/bundled/sae/sae_ops.yaml
  src/interpretune/analysis/ops/collection.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_analysis_op_state.py
  tests/core/test_op_collections.py
Labels: module: analysis, area: tests, config

Separate the backends seam from the concrete backends; deny impls to ops (#266)
  .github/instructions/developing_adapters.instructions.md
  docs/custom_ops_composition_guide.md
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/adapters/sae_lens.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/impls/__init__.py
  src/it_examples/experiments/notebook/concept_direction/concept_direction.py
  src/it_examples/experiments/notebook/pipeline_patterns.py
  src/it_examples/tests/notebook/concept_direction/test_concept_direction_experiment_utils.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_analysis_backend_feature_intervention.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_bundled_op_publishability.py
  tests/core/test_cross_backend_compat.py
Labels: module: adapters, module: analysis, adapter: circuit_tracer, adapter: sae_lens, area: examples, area: experiments, area: tests, area: docs, area: ci

Publish the flagship seed collection from the bundled concept family (#266 Phase 3, item 3)
  scripts/publish_op_collection.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/cards.py
  src/interpretune/hub/publish.py
  tests/core/test_analysis_ops_dispatcher.py
  tests/core/test_hub_integration.py
  tests/core/test_op_collection_publish_roundtrip.py
Labels: module: analysis, area: tests, area: scripts

Close §3.6a item 1 with evidence; fix a monkeypatch style that only worked in isolation (#266 Phase 3)
  tests/core/test_cross_collection_required_ops.py
  tests/core/test_op_collection_publish_roundtrip.py
  tests/core/test_op_precedence.py
Labels: area: tests

Attribute a module double-binding to the test that caused it (#266 Phase 3)
  tests/conftest.py
  tests/core/test_module_identity_hygiene.py
  tests/module_identity.py
Labels: area: tests

Add the hub-op opt-in demo notebook; make pull-then-use work in one process (#266 Phase 3, item 4)
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/api.py
  src/it_examples/notebooks/dev/example_op_collections/bundled_ops_hub_optin.ipynb
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/bundled_ops_hub_optin.ipynb
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  src/it_examples/tests/test_notebooks.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, config

Restore both module references after a reimport, and guard the invariant (#266 Phase 3)
  tests/core/test_hub_manager.py
  tests/core/test_module_identity_hygiene.py
Labels: area: tests

Re-render the op-collections docs artifact after its notebook changed (#266)
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
Labels: area: notebooks, area: docs

Docs wave 3: precedence, versioning, collection publishing, and the D14 naming rule (#266 Phase 3, item 6)
  docs/analysis_store_serialization.md
  docs/custom_ops_composition_guide.md
  docs/hub_trust_posture.md
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/hub_op_collection/hub_op_collection.yaml
  docs/notebook_artifacts/example_op_collections/hub_op_collection/it_component.yaml
  docs/notebook_artifacts/example_op_collections/op_collection_demo_utils.py
Labels: area: notebooks, area: docs, config

Add the bare-name precedence opt-in and op_info introspection (#266 Phase 3, D8 item 2)
  scripts/generate_op_stubs.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/manager.py
  src/it_examples/notebooks/dev/example_op_collections/hub_op_collection/hub_op_collection.yaml
  src/it_examples/notebooks/dev/example_op_collections/hub_op_collection/it_component.yaml
  src/it_examples/notebooks/dev/example_op_collections/op_collection_demo_utils.py
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/hub_op_collection/hub_op_collection.yaml
  src/it_examples/notebooks/publish/example_op_collections/hub_op_collection/it_component.yaml
  src/it_examples/notebooks/publish/example_op_collections/op_collection_demo_utils.py
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  tests/core/test_bundled_op_publishability.py
  tests/core/test_op_precedence.py
  tests/core/test_op_stub_generation.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: scripts, config

Give every module-reimporting test one correct helper (#266 Phase 3)
  tests/core/test_analysis_core.py
  tests/core/test_hub_manager.py
  tests/module_identity.py
Labels: area: tests

Generate per-collection op stubs; stop the stub generator degrading silently (#266 Phase 3, item 5, #58/#60)
  scripts/generate_op_stubs.py
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_op_collections.py
  tests/core/test_op_stub_generation.py
Labels: module: analysis, area: tests, area: scripts

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
