Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Record which tensor a corpus was captured at, not only how it is labelled
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Record which tensor a corpus was captured at, not only how it is labelled (#393)
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Refresh the Monology scaling chart for the full_20260829 benchmark
  docs/source/_static/images/dashboard_scaling_monology_legacy_vs_columnar.png
Labels: area: docs

Narrow the entrypoint before loading it
  src/interpretune/hub/adapters.py
Labels: module: adapters

Supply the two setup steps section (b) and (c) assume but never state
  docs/verifying_dashboard_generation.md
Labels: area: docs

Warn that the anonymous Hub surface can report a bucket empty while it is full
  docs/verifying_dashboard_generation.md
Labels: area: docs

Install the dependencies the preserved-baseline trees need and the pins dropped
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Give the benchmark presets their own source-set ids
  scripts/profile_neuronpedia_dashboard_generation.py
Labels: area: scripts

Publish the full_20260829 reviewer benchmark package
  docs/benchmark_artifacts/full_20260829/README.md
  docs/benchmark_artifacts/full_20260829/benchmark_summary.md
  docs/benchmark_artifacts/full_20260829/dashboard_benchmark_diagram.mmd
  docs/benchmark_artifacts/full_20260829/dashboard_profiling_20260829_171106.html
  docs/benchmark_artifacts/full_20260829/extracted_data.json
  docs/benchmark_artifacts/full_20260829/manifest.json
  docs/benchmark_artifacts/full_20260829/tables/import_monology.md
  docs/benchmark_artifacts/full_20260829/tables/import_rte.md
  docs/benchmark_artifacts/full_20260829/tables/parity_monology.md
  docs/benchmark_artifacts/full_20260829/tables/parity_rte.md
  docs/benchmark_artifacts/full_20260829/tables/primary_monology.md
  docs/benchmark_artifacts/full_20260829/tables/primary_rte.md
  docs/benchmark_artifacts/full_20260829/tables/resource_monology.md
  docs/benchmark_artifacts/full_20260829/tables/resource_rte.md
  docs/benchmark_artifacts/full_20260829/tables/substage_monology.md
  docs/benchmark_artifacts/full_20260829/tables/substage_rte.md
Labels: area: docs, config

Supply the two setup steps sections (b) and (c) assume but never state (#394)
  docs/verifying_dashboard_generation.md
Labels: area: docs

Install the dependencies the preserved-baseline trees need and the pins dropped (#395)
  scripts/setup_dashboard_benchmark_env.py
Labels: area: scripts

Give the benchmark presets their own source-set ids (#397)
  scripts/profile_neuronpedia_dashboard_generation.py
Labels: area: scripts

Load the adapters component kind from the hub (#125)
  src/interpretune/adapters/registration.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/interpretune/hub/manifest.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, adapter: registration, area: tests

Propagate the -bench source-set id into the profile-import test expectations
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests

Propagate the -bench source-set id into the profile-import test expectations (#405)
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests

Demonstrate the hub-delivered interp-engine adapter on gemma-3-1b-it
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/it_examples/experiments/interp_engine/__init__.py
  src/it_examples/experiments/interp_engine/hub_adapter_demo.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, area: examples, area: experiments, area: tests

Add the one core test that exercises a real published adapter
  tests/core/test_hub_adapter_contract.py
Labels: area: tests

Let pyright pass where the demo imports its optional engine
  src/it_examples/experiments/interp_engine/hub_adapter_demo.py
Labels: area: examples, area: experiments

Import interpretune.hub explicitly in the example
  src/it_examples/experiments/interp_engine/hub_adapter_demo.py
  tests/core/test_hub_adapters.py
Labels: area: examples, area: experiments, area: tests

Keep sae_dashboard off the bare import path
  src/interpretune/utils/__init__.py
Labels: module: utils

Declare jsonschema, which import interpretune already requires
  pyproject.toml
Labels: area: build, dependencies, config

Resolve bundled extensions lazily, and keep plotly out of module scope
  src/interpretune/analysis/core.py
  src/interpretune/extensions/__init__.py
Labels: module: analysis, module: extensions

Declare psutil, the third undeclared hard import-time dependency
  pyproject.toml
Labels: area: build, dependencies, config

Demonstrate the hub-delivered interp-engine adapter on gemma-3-1b-it (#399)
  src/interpretune/hub/__init__.py
  src/interpretune/hub/adapters.py
  src/it_examples/experiments/interp_engine/__init__.py
  src/it_examples/experiments/interp_engine/hub_adapter_demo.py
  tests/core/test_hub_adapter_contract.py
  tests/core/test_hub_adapters.py
Labels: module: adapters, area: examples, area: experiments, area: tests

Put agent skills on the discovery path, and make AGENTS.md the canonical instruction file
  .claude/skills/analysis-injection/SKILL.md
  .claude/skills/az-pipelines-debug/SKILL.md
  .claude/skills/debug-remote-ci-failures/SKILL.md
  .claude/skills/developing-adapters/SKILL.md
  .claude/skills/fixture-usage/SKILL.md
  .claude/skills/gpu-lease/SKILL.md
  .claude/skills/register-new-benchmark/SKILL.md
  .claude/skills/registering-example-modules/SKILL.md
  .claude/skills/update-analysis-injection-notebook/SKILL.md
  .claude/skills/updating-expected-results/SKILL.md
  .github/instructions/analysis_injection.instructions.md
  .github/instructions/developing_adapters.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  .github/instructions/updating_expected_results.instructions.md
  AGENTS.md
  CLAUDE.md
  docs/framework_level_adapters.md
Labels: area: docs, area: ci

Record the CI lease holder attribution in AGENTS.md
  AGENTS.md
Labels: area: docs

A clean install of interpretune cannot be imported: declare what is required, lazify what is optional (#404)
  pyproject.toml
  src/interpretune/analysis/core.py
  src/interpretune/extensions/__init__.py
  src/interpretune/utils/__init__.py
Labels: module: analysis, module: extensions, module: utils, area: build, dependencies, config

Put agent skills on the discovery path, and make AGENTS.md the canonical instruction file (#406)
  .claude/skills/analysis-injection/SKILL.md
  .claude/skills/az-pipelines-debug/SKILL.md
  .claude/skills/debug-remote-ci-failures/SKILL.md
  .claude/skills/developing-adapters/SKILL.md
  .claude/skills/fixture-usage/SKILL.md
  .claude/skills/gpu-lease/SKILL.md
  .claude/skills/register-new-benchmark/SKILL.md
  .claude/skills/registering-example-modules/SKILL.md
  .claude/skills/update-analysis-injection-notebook/SKILL.md
  .claude/skills/updating-expected-results/SKILL.md
  .github/instructions/analysis_injection.instructions.md
  .github/instructions/developing_adapters.instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  .github/instructions/updating_expected_results.instructions.md
  AGENTS.md
  CLAUDE.md
  docs/framework_level_adapters.md
Labels: area: docs, area: ci

Vendor the repo-neutral gpu-lease master
  .claude/skills/gpu-lease/SKILL.md
  AGENTS.md
Labels: area: docs

docs: remove host authorization details from published instructions
  .claude/skills/az-pipelines-debug/SKILL.md
  .claude/skills/debug-remote-ci-failures/SKILL.md
  .github/copilot-instructions.md
  AGENTS.md
Labels: area: docs, area: ci

Vendor the repo-neutral gpu-lease master (#407)
  .claude/skills/gpu-lease/SKILL.md
  AGENTS.md
Labels: area: docs

docs: remove host authorization details from published instructions (#408)
  .claude/skills/az-pipelines-debug/SKILL.md
  .claude/skills/debug-remote-ci-failures/SKILL.md
  .github/copilot-instructions.md
  AGENTS.md
Labels: area: docs, area: ci

Decompose ModelBackend into a required core plus capability-gated method groups
  src/interpretune/analysis/backends/capabilities.py
  src/interpretune/analysis/backends/impls/nnsight.py
  src/interpretune/analysis/backends/impls/transformer_lens.py
  src/interpretune/analysis/backends/protocols.py
  src/interpretune/analysis/ops/bundled/attribution/attribution_ops.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/bundled/sae/sae_ops.py
  src/interpretune/analysis/optools.py
  tests/core/test_analysis_backends.py
  tests/core/test_model_backend_protocols.py
Labels: module: analysis, adapter: transformer_lens, area: tests

Split az-pipelines-debug: vendor the ops master, keep the triage half local
  .claude/skills/az-pipelines-failure-triage/SKILL.md
  .claude/skills/az-pipelines-ops/SKILL.md
  .claude/skills/debug-remote-ci-failures/SKILL.md
  AGENTS.md
Labels: area: docs

Fold the corrected master state into the split
  .claude/skills/az-pipelines-failure-triage/SKILL.md
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Propagate the timeline-first restart condition into the triage taxonomy
  .claude/skills/az-pipelines-failure-triage/SKILL.md
Labels: area: docs

Split az-pipelines-debug: vendor the ops master, keep the triage half local (#410)
  .claude/skills/az-pipelines-debug/SKILL.md
  .claude/skills/az-pipelines-failure-triage/SKILL.md
  .claude/skills/az-pipelines-ops/SKILL.md
  .claude/skills/debug-remote-ci-failures/SKILL.md
  AGENTS.md
Labels: area: docs

Make the capability gate value-based, and complete the export surfaces
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/optools.py
  tests/core/test_model_backend_protocols.py
Labels: module: analysis, area: tests

Re-sync az-pipelines-ops: restarting IS correct once the timeline is clear
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs

Re-sync az-pipelines-ops: restarting IS correct once the timeline is clear (#411)
  .claude/skills/az-pipelines-ops/SKILL.md
Labels: area: docs
