Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Auto-suffix with a timestamp instead of refusing over a generated name
  docs/verifying_dashboard_generation.md
  scripts/fetch_dashboards_from_hub.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_source_conflicts.py
  tests/core/test_neuronpedia_source_conflicts.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, area: scripts

Restructure the verification guide into four lettered sections
  docs/neuronpedia_dashboard_pipeline.md
  docs/verifying_dashboard_generation.md
Labels: area: docs

Fetch dashboards from the notebook when they are missing
  .azure-pipelines/gpu-tests.yml
  .github/skills/az-pipelines-debug/SKILL.md
  docs/verifying_dashboard_generation.md
  scripts/fetch_dashboards_from_hub.py
  src/interpretune/utils/neuronpedia_hub_fetch.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  tests/core/test_neuronpedia_hub_fetch.py
  tests/examples/test_notebooks.py
Labels: extension: neuronpedia, module: utils, area: examples, area: notebooks, area: tests, area: docs, area: ci, area: scripts, config

Lead the guide with the notebook, which now fetches its own dashboards
  docs/verifying_dashboard_generation.md
Labels: area: docs

Rebuild the stale docs artifact, and make staleness fail CI
  .github/workflows/docs-build.yml
  docs/neuronpedia_dashboard_pipeline.md
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/verifying_dashboard_generation.md
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, area: docs, area: ci, config

Tighten the notebook's dashboard-fetch wording; drop a stale rename default from tests
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/verifying_dashboard_generation.md
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  tests/core/test_neuronpedia_source_conflicts.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Bump the SAEDashboard floor to the row-group default
  pyproject.toml
Labels: area: build, dependencies, config

Pass the Parquet row group size explicitly, and record it in the manifest
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Document that row group size, not the page index, is what makes a corpus streamable
  docs/neuronpedia_dashboard_pipeline.md
Labels: area: docs

Refresh the published corpus stats for the regenerated, streamable layout
  docs/verifying_dashboard_generation.md
Labels: area: docs

Fail loudly when a bucket re-sync leaves stale bytes behind
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_hub.py
Labels: extension: neuronpedia, module: utils, area: tests

Trim commentary that outlived its subject
  .azure-pipelines/gpu-tests.yml
  .github/skills/az-pipelines-debug/SKILL.md
  .github/workflows/docs-build.yml
  docs/neuronpedia_dashboard_pipeline.md
  docs/source/conf.py
  scripts/fetch_dashboards_from_hub.py
  src/interpretune/utils/neuronpedia_source_conflicts.py
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-multigpu-validation.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  tests/conftest.py
Labels: extension: neuronpedia, module: utils, area: examples, area: tests, area: docs, area: ci, area: scripts, config

Take the upstream fix for bucket re-sync truncation instead of guarding it
  CLAUDE.md
  pyproject.toml
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_hub.py
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, area: build, dependencies, config

Say plainly that the bucket registry is a stub, not an extension point
  src/interpretune/utils/neuronpedia_hub_fetch.py
Labels: extension: neuronpedia, module: utils

Correct the 262k config header: it is inherited by a documented command
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
Labels: area: examples, config

Stop a pipeline test from depending on the developer's local database
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests

Track hub-based dashboard discovery where the stub can point at it
  docs/neuronpedia_dashboard_pipeline.md
  docs/source/roadmap.md
  src/interpretune/utils/neuronpedia_hub_fetch.py
Labels: extension: neuronpedia, module: utils, area: docs

Hub publish path for columnar dashboards, with write_page_index support (#240)
  .azure-pipelines/gpu-tests.yml
  .github/skills/az-pipelines-debug/SKILL.md
  .github/workflows/docs-build.yml
  CLAUDE.md
  docs/neuronpedia_dashboard_pipeline.md
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/source/conf.py
  docs/source/roadmap.md
  docs/verifying_dashboard_generation.md
  pyproject.toml
  scripts/fetch_dashboards_from_hub.py
  scripts/publish_dashboards_to_hub.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/neuronpedia_dashboard_hub.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_hub_fetch.py
  src/interpretune/utils/neuronpedia_source_conflicts.py
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-rte-base.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-24576.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-16k-monology-production.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-16k-rte-production.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-multigpu-validation.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-monology-production.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu0-benchmark-template.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu01.yaml
  src/it_examples/config/neuronpedia_dashboard/gemmascope-2-transcoder-262k-rte-gpu1.yaml
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  tests/conftest.py
  tests/core/test_neuronpedia_dashboard_hub.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_hub_fetch.py
  tests/core/test_neuronpedia_source_conflicts.py
  tests/examples/test_notebooks.py
Labels: extension: neuronpedia, module: utils, area: examples, area: notebooks, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Retire the sae-lens fork pin for the released 6.49.0
  pyproject.toml
  requirements/ci/overrides.txt
  requirements/ci/requirements.txt
  scripts/run_dashboard_benchmark_suite.py
  tests/core/test_dashboard_benchmark_artifacts.py
Labels: area: tests, area: docs, area: build, area: scripts, dependencies, config

Tolerate either error packaging raises for an unparseable version
  src/interpretune/utils/import_utils.py
  src/it_examples/patching/_patch_utils.py
  tests/core/test_utils.py
Labels: module: utils, area: examples, area: patching, area: tests

Sever the it_examples -> tests dependency: split the module registry by consumer
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  src/it_examples/example_module_registry.py
  src/it_examples/example_module_registry.yaml
  src/it_examples/utils/latent_state_projection.py
  src/it_examples/utils/nb_ui_utils.py
  tests/configuration.py
  tests/conftest.py
  tests/core/test_module_registration.py
  tests/module_registry.py
  tests/module_registry.yaml
  tests/nb_experiments/concept_direction/analysis/concept_direction_latent_dynamics.py
  tests/parity_acceptance/cfg_aliases.py
Labels: module: config, area: examples, area: tests, area: docs, area: ci, config

Satisfy pyright on the hub layer (import surface + cache_dir narrowing)
  src/interpretune/hub/cache.py
  src/interpretune/hub/manager.py
Labels: none

Adapt the lazy-registry unit test and op-collection notebook to the hub relocation
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  tests/core/test_example_module_registry.py
Labels: area: examples, area: notebooks, area: tests, config

Read component YAML as UTF-8 everywhere (Windows charmap fix)
  src/interpretune/hub/components.py
  src/interpretune/hub/publish.py
  tests/core/test_hub_components.py
  tests/core/test_module_registration.py
Labels: area: tests

Re-execute the docs notebook artifacts for the derived-key migration
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: notebooks, area: docs

Rename the example publish sources: registry/ -> examples/ (Phase 4 mechanical)
  .github/instructions/fixture_usage.instructions.md
  .github/instructions/registering_example_modules.instructions.md
  pyproject.toml
  scripts/publish_it_module.py
  src/interpretune/hub/publish.py
  src/it_examples/example_module_registry.py
  src/it_examples/examples/rte/configs/datamodule.rte_boolq.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer+nnsight.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer.neuronpedia.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma3.circuit_tracer.neuronpedia.yaml
  src/it_examples/examples/rte/configs/rte_demo.gpt2.nnsight+sae_lens.yaml
  src/it_examples/examples/rte/configs/rte_demo.gpt2.sae_lens.yaml
  src/it_examples/examples/rte/it_component.yaml
  tests/core/test_hub_components.py
Labels: area: examples, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Align test-registry keys with the derived configuration-key grammar (Phase 4 mechanical)
  tests/core/test_module_registration.py
  tests/module_registry.py
  tests/parity_acceptance/cfg_aliases.py
  tests/test_module_registry.yaml
Labels: area: tests, config

Two-root test collection: migrate src doctests and example tests (Phase 4 mechanical)
  .azure-pipelines/gpu-tests.yml
  .github/actions/run-pytest-instrumented/action.yml
  .github/copilot-instructions.md
  .github/skills/az-pipelines-debug/SKILL.md
  .github/skills/update-analysis-injection-notebook/SKILL.md
  CLAUDE.md
  pyproject.toml
  scripts/gen_it_coverage.sh
  src/it_examples/test_examples.py
  src/it_examples/tests/README.md
  src/it_examples/tests/__init__.py
  src/it_examples/tests/test_analysis_injection.py
  src/it_examples/tests/test_config_parser_overrides.py
  src/it_examples/tests/test_notebooks.py
  src/it_examples/tests/test_publish_notebooks.py
  src/it_examples/tests/test_version_manager.py
  tests/PROFILING.md
  tests/core/test_doctests.py
Labels: area: examples, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Remove patching/ per the Phase 4 audit; consolidate on core compare_version
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/__init__.py
  src/it_examples/notebooks/dev/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/patching/__init__.py
  src/it_examples/patching/_patch_utils.py
  src/it_examples/patching/dep_patch_shim.py
  tests/runif.py
Labels: area: examples, area: notebooks, area: patching, area: tests, area: docs, config

Prune it_examples/tests from distributions at the MANIFEST layer too
  MANIFEST.in
Labels: area: build

4a: loader-equivalence harness, old-path baseline leg
  tests/core/loader_equivalence.py
  tests/core/test_loader_equivalence.py
Labels: area: tests

One-grammar recursion rule + example defaults materialized (4a, per umbrella ruling)
  src/interpretune/registry.py
  src/it_examples/example_module_registry.py
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer+nnsight.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer.neuronpedia.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma2.circuit_tracer.yaml
  src/it_examples/examples/rte/configs/rte_demo.gemma3.circuit_tracer.neuronpedia.yaml
  src/it_examples/examples/rte/configs/rte_demo.gpt2.nnsight+sae_lens.yaml
  src/it_examples/examples/rte/configs/rte_demo.gpt2.sae_lens.yaml
  tests/core/test_loader_equivalence.py
  tests/module_registry.py
  tests/parity_acceptance/cfg_aliases.py
Labels: module: registry, area: examples, area: tests, config

4a harness: examples/factory-path leg with the AutoComp synthesis pin
  tests/core/loader_equivalence.py
  tests/core/test_loader_equivalence.py
Labels: area: tests

4a: load_session_cfg — the unified declarative session loader, equivalence-proven
  src/interpretune/config/loading.py
  tests/core/test_loader_equivalence.py
Labels: module: config, area: tests

4a review notes: parity error names its cause; derivability validation commented; link-set drift guard
  src/interpretune/config/loading.py
  tests/core/test_loader_equivalence.py
Labels: module: config, area: tests

Type-narrow the unified loader for pyright
  src/interpretune/config/loading.py
Labels: module: config

4a swap-in: sessions construct through the unified loader; the parser path is retired
  src/interpretune/base/components/cli.py
  src/interpretune/config/loading.py
  src/interpretune/session.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/loader_equivalence.py
  tests/core/test_components_cli.py
  tests/core/test_contract.py
  tests/core/test_loader_equivalence.py
Labels: module: base, module: config, module: session, area: tests, config

4b: experiments/cli — flattened, self-contained one-door configurations
  src/interpretune/base/components/cli.py
  src/it_examples/experiments/cli/base_debug.yaml
  src/it_examples/experiments/cli/rte_boolq/ft_schedules/ITModule_ft_schedule_gpt2_large_sc_notl.yaml
  src/it_examples/experiments/cli/rte_boolq/ft_schedules/ITModule_ft_schedule_gpt2_small_lm_notl.yaml
  src/it_examples/experiments/cli/rte_boolq/ft_schedules/ITModule_ft_schedule_gpt2_small_sc_notl.yaml
  src/it_examples/experiments/cli/rte_boolq/ft_schedules/ITModule_ft_schedule_gpt2_small_sc_notl_3_phase.yaml
  src/it_examples/experiments/cli/rte_boolq/ft_schedules/ITModule_ft_schedule_gpt2_small_sc_notl_max_trans_warmup.yaml
  src/it_examples/experiments/cli/rte_boolq/ft_schedules/ITModule_ft_schedule_llama3_3b.yaml
  src/it_examples/experiments/cli/rte_boolq/ft_schedules/ITModule_ft_schedule_llama3_3b_qlora.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_qlora_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_br_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_ht_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_sl_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_chat_lightning_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma2/2b_nonchat_lightning_qlora_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_lightning_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_lightning_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/1b_it_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/4b_262k_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gemma3/4b_it_ct_ns_zs_test.yaml
  src/it_examples/experiments/cli/rte_boolq/gpt2/lightning_tl_rte_small_noquant_test.yaml
  src/it_examples/experiments/cli/rte_boolq/llama3_2/lightning_rte_3b_qlora_zero_shot_test_only.yaml
  src/it_examples/utils/dashboard_pretokenization_rte.py
  tests/benchmarks/debug_utils/rte_boolq/dbg_rte_boolq.py
  tests/benchmarks/debug_utils/rte_boolq/debug_it_pipeline.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/loader_equivalence.py
  tests/core/test_loader_equivalence.py
Labels: module: base, area: examples, area: experiments, area: tests, config

Benchmark registry: update config_path references for the experiments/cli move (path strings only)
  tests/benchmarks/benchmark_registry.yaml
Labels: area: tests, config

Pretokenization util reads the flattened one-door body (4b companion fix)
  src/it_examples/utils/dashboard_pretokenization_rte.py
Labels: area: examples

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
