Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

minor comment clarification relating to HFApi
  src/interpretune/analysis/ops/hub_manager.py
Labels: module: analysis

Avoid Windows async transformer loading crash
  src/interpretune/adapters/transformer_lens.py
Labels: module: adapters, adapter: transformer_lens

Keep Azure standard tests CPU-only
  .azure-pipelines/gpu-tests.yml
Labels: config

Split Azure GPU standard test phases
  .azure-pipelines/gpu-tests.yml
  tests/conftest.py
Labels: area: tests, config

Document Azure GPU approval workflow
  .github/copilot-instructions.md
  .github/skills/az-pipelines-debug/SKILL.md
  CLAUDE.md
  requirements/ci/requirements.txt
Labels: area: docs, area: ci, area: build, dependencies

initial `circuit-tracer-backend` branch baseline with full test suite passing
  pyproject.toml
  requirements/ci/overrides.txt
  tests/README.md
Labels: area: tests, area: docs, area: build, dependencies, config

Implement IG-1 circuit-tracer analysis ops scaffolding
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_analysis_ops_dispatcher.py
Labels: module: adapters, module: analysis, adapter: circuit_tracer, area: tests, config

Complete IG-2 and start IG-3 intervention plumbing
  docs/analysis_store_serialization.md
  docs/circuit_tracer_intervention_apis.md
  scripts/gen_it_coverage.sh
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/circuit_tracer.py
  src/interpretune/analysis/core.py
  src/interpretune/analysis/formatters.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  src/interpretune/base/modules.py
  src/interpretune/config/circuit_tracer.py
  src/interpretune/protocol.py
  tests/core/test_analysis_backends.py
  tests/core/test_analysis_core.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_ct_feature_intervention.py
  tests/core/test_ct_graph_serialization.py
Labels: module: adapters, module: analysis, module: base, module: config, adapter: circuit_tracer, module: protocol, area: tests, area: docs, area: scripts, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
Labels: area: docs, area: build, dependencies

Complete IG-3 analysis backend cleanup
  .github/instructions/fixture_usage.instructions.md
  docs/circuit_tracer_intervention_apis.md
  docs/interpretune_intervention_apis.md
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/circuit_tracer.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  tests/README.md
  tests/core/test_analysis_backend_feature_intervention.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_model_backend_parity.py
Labels: module: analysis, adapter: circuit_tracer, area: tests, area: docs, area: ci, config

Complete IG-4 parity follow-up
  scripts/gen_it_coverage.sh
  src/interpretune/adapters/circuit_tracer.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/circuit_tracer.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/helpers.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  src/interpretune/config/analysis.py
  src/interpretune/config/circuit_tracer.py
  tests/README.md
  tests/analysis_resource_utils.py
  tests/configuration.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_analysis_backend_feature_intervention.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_analysis_resource_utils.py
  tests/core/test_base_config.py
  tests/core/test_cross_backend_compat.py
Labels: module: adapters, module: analysis, module: config, adapter: circuit_tracer, area: tests, area: docs, area: scripts, config

Complete IG-4 resource debug follow-up
  .github/actions/run-pytest-instrumented/action.yml
  .github/copilot-instructions.md
  .github/instructions/fixture_usage.instructions.md
  .github/skills/debug-remote-ci-failures/SKILL.md
  CLAUDE.md
  scripts/TEST_COVERAGE_ANALYSIS_README.md
  scripts/gen_it_coverage.sh
  scripts/infra_utils.sh
  scripts/resource_debug_summary.py
  tests/README.md
  tests/analysis_resource_utils.py
  tests/conftest.py
  tests/core/cfg_aliases.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_analysis_resource_utils.py
  tests/core/test_resource_debug_summary.py
  tests/dynamic_fixture_benchmark.py
  tests/special_tests.sh
  tests/test_utils.sh
  tests/upstream_parity/UPSTREAM_CT_PARITY_DEBUG.md
  tests/upstream_parity/extract_upstream_ct_semantic_reference.py
Labels: area: tests, area: docs, area: ci, area: scripts, config

IG-5 reopen: fix CT demo results, add cross-backend demo, add nb_ui_utils
  CHANGELOG.md
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/utils/nb_ui_utils.py
  tests/examples/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

IG-6 prep: fix circular import for namespace op access, DISPATCHER→namespace in demos, env_path hide-cell, notebook polish
  docs/circuit_tracer_backend_support.md
  src/interpretune/base/components/cli.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/dev/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: module: base, area: examples, area: notebooks, area: docs, config

Snapshot IG-6 RTE concept direction work
  docs/custom_ops_composition_guide.md
  docs/protocol_architecture_working_design.md
  docs/session_module_datamodule_usage.md
  pyproject.toml
  scripts/generate_op_stubs.py
  scripts/publish_notebooks.py
  src/interpretune/__init__.pyi
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/circuit_tracer.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/helpers.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  src/it_examples/example_module_registry.yaml
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/attribution_analysis/attribution_analysis.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  src/it_examples/notebooks/publish/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
  tests/core/test_analysis_backend_feature_intervention.py
  tests/core/test_analysis_backend_graph_serialization.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_cross_backend_compat.py
  tests/examples/test_notebooks.py
Labels: module: analysis, adapter: circuit_tracer, area: examples, area: notebooks, area: tests, area: docs, area: build, area: scripts, dependencies, config

Implement IG-7 scoped analysis batch defaults
  docs/custom_ops_composition_guide.md
  docs/protocol_architecture_working_design.md
  docs/session_module_datamodule_usage.md
  src/interpretune/analysis/__init__.py
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/execution.py
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/helpers.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  src/interpretune/config/analysis.py
  src/it_examples/experiments/rte_boolq.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_cross_backend_demo.ipynb
  src/it_examples/notebooks/publish/example_op_collections/op_collection_example.ipynb
  tests/core/test_analysis_level_ops_discovery.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_base_config.py
  tests/core/test_components_mixins.py
  tests/core/test_cross_backend_compat.py
Labels: module: analysis, module: config, area: examples, area: experiments, area: notebooks, area: tests, area: docs, config

Improve benchmark registry provenance capture
  .github/copilot-instructions.md
  .github/skills/register-new-benchmark/SKILL.md
  CLAUDE.md
  requirements/utils/collect_env_details.py
  tests/benchmarks/README.md
  tests/benchmarks/test_collect_env_details.py
Labels: area: tests, area: docs, area: ci, area: build, dependencies

Update benchmark registry
  tests/benchmarks/benchmark_registry.yaml
Labels: area: tests, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

Refactor intervention system: rename op, add wildcard multi-hook, replace mode default
  src/interpretune/__init__.pyi
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/analysis/ops/helpers.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  tests/concept_direction_approach_parity/concept_direction_experiment_utils.py
  tests/core/test_analysis_backends.py
  tests/core/test_model_backend_parity.py
Labels: module: analysis, adapter: transformer_lens, area: tests, config

Generalize model_fwd_intervention inputs
  src/interpretune/__init__.pyi
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  tests/core/test_analysis_backends.py
  tests/core/test_model_backend_parity.py
Labels: module: analysis, adapter: transformer_lens, area: tests, config

Refine intervention projection semantics
  src/interpretune/__init__.pyi
  src/interpretune/analysis/backends/__init__.py
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/nnsight.py
  src/interpretune/analysis/backends/transformer_lens.py
  src/interpretune/analysis/ops/definitions.py
  src/interpretune/analysis/ops/helpers.py
  src/interpretune/analysis/ops/native_analysis_functions.yaml
  tests/core/test_analysis_backends.py
Labels: module: analysis, adapter: transformer_lens, area: tests, config

add new benchmarks for large width transcoder (dirty reg update for now) and update/correct neuronpedia set mapping for current experiment family configs
  tests/benchmarks/benchmark_registry.yaml
  tests/concept_direction_approach_parity/experiment_resource_utils.py
Labels: area: tests, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

Harden local Neuronpedia graph workflows
  docs/neuronpedia_dashboard_pipeline.md
  src/interpretune/extensions/neuronpedia.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/concept_direction_approach_parity/concept_direction.py
  tests/concept_direction_approach_parity/concept_direction_template.ipynb
  tests/concept_direction_approach_parity/configs/gemma3_1b_it_local_oqi_reasoning_oh_fs.yaml
  tests/concept_direction_approach_parity/configs/gemma3_1b_it_local_oqi_reasoning_oh_fs_graph_upload_smoke.yaml
  tests/concept_direction_approach_parity/configs/gemma3_4b_it_local_oqi_reasoning_oh_fs_graph_upload_smoke.yaml
  tests/concept_direction_approach_parity/test_concept_direction_experiment_utils.py
  tests/configuration.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_extension.py
  tests/nb_experiment_harness/README.md
  tests/nb_experiment_harness/config.py
  tests/nb_experiment_harness/configs/base.yaml
  tests/nb_experiment_harness/local_graph_cleanup.py
  tests/nb_experiment_harness/nb_harness_utils.py
  tests/nb_experiment_harness/pipeline_patterns.py
  tests/nb_experiment_harness/session.py
  tests/nb_experiment_harness/test_local_graph_cleanup.py
  tests/utils.py
Labels: module: config, module: extensions, extension: neuronpedia, module: utils, area: notebooks, area: tests, area: docs, config

Checkpoint parity notebook harness follow-up
  CLAUDE.md
  tests/concept_direction_approach_parity/concept_direction.py
  tests/concept_direction_approach_parity/test_concept_direction_experiment_utils.py
  tests/nb_experiment_harness/config.py
  tests/nb_experiment_harness/nb_harness_utils.py
  tests/nb_experiment_harness/pipeline_patterns.py
  tests/nb_experiment_harness/session.py
  tests/parity_analysis/concept_direction_parity_analysis.py
Labels: module: config, area: tests, area: docs

change default generated experiment directories and associated references
  .pre-commit-config.yaml
  scripts/run_nbstripout_hook.py
  tests/nb_experiments/concept_direction/README.md
  tests/nb_experiments/concept_direction/analysis/LATENT_DYNAMICS_README.md
  tests/nb_experiments/concept_direction/analysis/NOTEBOOK_ANALYSIS_README.md
  tests/nb_experiments/concept_direction/analysis/artifacts/.gitignore
  tests/nb_experiments/concept_direction/analysis/concept_direction_analysis.ipynb
  tests/nb_experiments/concept_direction/analysis/concept_direction_analysis_launcher.py
  tests/nb_experiments/concept_direction/analysis/default_analysis_experiment_set.yaml
  tests/nb_experiments/concept_direction/analysis/generated_experiments/.gitignore
  tests/nb_experiments/concept_direction/analysis/intervention_drift_analysis.ipynb
  tests/nb_experiments/concept_direction/analysis/intervention_graph_parity_testing.md
  tests/nb_experiments/concept_direction/analysis/latent_dynamics_launcher.py
  tests/nb_experiments/concept_direction/concept_direction_analysis.md
  tests/nb_experiments/concept_direction/generated_experiments/.gitignore
  tests/nb_experiments/nb_experiment_launcher.py
Labels: area: notebooks, area: tests, area: docs, area: ci, area: scripts, config

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

Auto-regenerate pinned requirements via scheduled regen-check
  requirements/ci/requirements.txt
  requirements/ci/torch-override.txt
Labels: area: docs, area: build, dependencies

Add Neuronpedia dashboard pipeline tooling
  docs/neuronpedia_dashboard_pipeline.md
  scripts/launch_neuronpedia_dashboard_pipeline.py
  scripts/preserve_neuronpedia_reference_artifacts.py
  scripts/pretokenize_dashboard_dataset.py
  scripts/profile_neuronpedia_dashboard_generation.py
  scripts/speedscope_top_packages.py
  scripts/sweep_neuronpedia_dashboard_configs.py
  src/interpretune/utils/__init__.py
  src/interpretune/utils/dashboard_pretokenization.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/interpretune/utils/neuronpedia_db_utils.py
  src/interpretune/utils/neuronpedia_explanations.py
  src/it_examples/utils/dashboard_pretokenization_rte.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_db_utils.py
  tests/core/test_neuronpedia_explanations.py
  tests/core/test_pretokenize_neuronpedia_rte_prompts.py
  tests/core/test_sweep_neuronpedia_dashboard_configs.py
Labels: extension: neuronpedia, module: utils, area: examples, area: tests, area: docs, area: scripts

Expose local DB import chunk size
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Honor layer overrides in dashboard profiler log lookup
  scripts/profile_neuronpedia_dashboard_generation.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests, area: scripts

Add Phase 3 pretokenized baseline benchmark harness
  scripts/pretokenize_dashboard_dataset.py
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_pretokenize_neuronpedia_rte_prompts.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Align dashboard pipeline with upstream prompt contract
  docs/neuronpedia_dashboard_pipeline.md
  scripts/pretokenize_dashboard_dataset.py
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/dashboard_pretokenization.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  src/it_examples/utils/dashboard_pretokenization_rte.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/core/test_pretokenize_neuronpedia_rte_prompts.py
Labels: extension: neuronpedia, module: utils, area: examples, area: tests, area: docs, area: scripts

Bridge detached baseline runner dataset flags
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Add current legacy dashboard route presets
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/fixtures/neuronpedia_dashboard_phase4/import_tolerance_baselines.json
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts, config

Correct phase4 legacy baseline fixture
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
  tests/fixtures/neuronpedia_dashboard_phase4/README.md
  tests/fixtures/neuronpedia_dashboard_phase4/import_tolerance_baselines.json
Labels: extension: neuronpedia, module: utils, area: tests, area: docs, config

Preserve legacy_json_cpu generation-only command flags
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests

Record dashboard profiling artifacts
  scripts/profile_neuronpedia_dashboard_generation.py
  src/interpretune/utils/neuronpedia_dashboard_pipeline.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: extension: neuronpedia, module: utils, area: tests, area: scripts

Handle timestamped runner perf logs
  scripts/profile_neuronpedia_dashboard_generation.py
  tests/core/test_neuronpedia_dashboard_pipeline.py
Labels: area: tests, area: scripts

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
