Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Run the SAELens notebook tests in the optional tier until the notebook is fixed
  src/it_examples/tests/test_notebooks.py
  tests/gpu_ci/test_gpu_declarations.py
Labels: area: examples, area: tests

Declare each GPU test's device needs, and stop GPU phases passing without their tests
  .azure-pipelines/gpu-tests.yml
  AGENTS.md
  src/it_examples/tests/test_notebooks.py
  tests/README.md
  tests/base_defaults.py
  tests/benchmarks/test_benchmarks.py
  tests/conftest.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_backend_conformance.py
  tests/core/test_components_cli.py
  tests/core/test_components_mixins.py
  tests/core/test_debug_generation.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_jlens_subspace_attribution.py
  tests/core/test_memprofiler.py
  tests/core/test_utils.py
  tests/gpu_ci/__init__.py
  tests/gpu_ci/calibrate.py
  tests/gpu_ci/test_gpu_declarations.py
  tests/gpu_ci/vram_probe.py
  tests/parity_acceptance/test_it_cli.py
  tests/parity_acceptance/test_it_fts.py
  tests/parity_acceptance/test_it_l.py
  tests/parity_acceptance/test_it_ns.py
  tests/parity_acceptance/test_it_sl.py
  tests/parity_acceptance/test_it_tl.py
  tests/runif.py
  tests/special_tests.sh
  tests/test_utils.sh
Labels: area: examples, area: tests, area: docs, area: scripts, config

Classify the runner-flexibility demo notebook as needing no GPU tests
  tests/gpu_ci/areas.yaml
Labels: area: tests, config

Calibrate the GPU memory declarations from measurements, and make the calibration driver honour -k
  tests/conftest.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_debug_generation.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_jlens_subspace_attribution.py
  tests/gpu_ci/test_gpu_declarations.py
  tests/gpu_ci/vram_measurements.yaml
Labels: area: tests, config

Free a conformance target's models when its class ends
  src/interpretune/testing/conformance/plugin.py
  tests/core/test_conformance_harness.py
Labels: area: tests

Declare each GPU test's device needs, and stop GPU phases passing without their tests (#735)
  .azure-pipelines/gpu-tests.yml
  AGENTS.md
  src/it_examples/tests/test_notebooks.py
  tests/README.md
  tests/base_defaults.py
  tests/benchmarks/test_benchmarks.py
  tests/conftest.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_sae_lens.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_backend_conformance.py
  tests/core/test_components_cli.py
  tests/core/test_components_mixins.py
  tests/core/test_debug_generation.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_jlens_read_ops.py
  tests/core/test_jlens_subspace_attribution.py
  tests/core/test_memprofiler.py
  tests/core/test_utils.py
  tests/gpu_ci/__init__.py
  tests/gpu_ci/calibrate.py
  tests/gpu_ci/test_gpu_declarations.py
  tests/gpu_ci/vram_probe.py
  tests/parity_acceptance/test_it_cli.py
  tests/parity_acceptance/test_it_fts.py
  tests/parity_acceptance/test_it_l.py
  tests/parity_acceptance/test_it_ns.py
  tests/parity_acceptance/test_it_sl.py
  tests/parity_acceptance/test_it_tl.py
  tests/runif.py
  tests/special_tests.sh
  tests/test_utils.sh
Labels: area: examples, area: tests, area: docs, area: scripts, config

Calibrate the GPU memory declarations from measurements, and make the calibration driver honour -k (#739)
  tests/conftest.py
  tests/core/test_adapters_circuit_tracer.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_analysis_backend_parity.py
  tests/core/test_debug_generation.py
  tests/core/test_jlens_patch_validation.py
  tests/core/test_jlens_subspace_attribution.py
  tests/gpu_ci/test_gpu_declarations.py
  tests/gpu_ci/vram_measurements.yaml
Labels: area: tests, config

Add per-change GPU test selection, inert until the pipeline wires it (#736)
  tests/README.md
  tests/conftest.py
  tests/gpu_ci/areas.yaml
  tests/gpu_ci/select_gpu_tests.py
  tests/gpu_ci/test_gpu_selection.py
Labels: area: tests, area: docs, config

Free a conformance target's models when its class ends (#740)
  src/interpretune/testing/conformance/plugin.py
  tests/core/test_conformance_harness.py
Labels: area: tests

Refuse by name when a hub configuration cannot be used, and fix the quickstart's fresh-cache path
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
  src/interpretune/base/hooks.py
  src/interpretune/hub/components.py
  src/interpretune/utils/tokenization.py
  src/it_examples/notebooks/dev/quickstart/cpu_quickstart.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/quickstart/cpu_quickstart.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_hub_components.py
  tests/core/test_rte_core_direct_forward.py
Labels: module: base, module: utils, area: examples, area: notebooks, area: tests, area: docs, config

Sync saelens artifact sources with the trust fix (#738)
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: notebooks, area: docs

Add trust opt-in to the SAELens tutorial hub load (#738)
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: examples, area: notebooks, config

Refuse a mismatched input key at the forward call rather than at module setup
  src/interpretune/base/hooks.py
  src/interpretune/utils/tokenization.py
  tests/core/test_rte_core_direct_forward.py
Labels: module: base, module: utils, area: tests

Add trust opt-in to the SAELens tutorial hub load (#738)
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/dev/saelens_adapter_example/saelens_adapter_example.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Select GPU tests per change on pull request gates, and run the full set on a nightly and weekly schedule
  .azure-pipelines/gpu-tests.yml
  .codecov.yml
  AGENTS.md
  tests/README.md
  tests/gpu_ci/plan_gpu_run.py
  tests/gpu_ci/select_gpu_tests.py
  tests/gpu_ci/test_plan_gpu_run.py
Labels: area: tests, area: docs, config

Leave coverage carryforward to the change that owns it
  .azure-pipelines/gpu-tests.yml
  .codecov.yml
Labels: config

Compare the exported selection path in the platform's own form
  tests/gpu_ci/test_plan_gpu_run.py
Labels: area: tests

Refuse by name when a hub configuration cannot be used, and fix the quickstart's fresh-cache path (#744)
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
  src/interpretune/base/hooks.py
  src/interpretune/hub/components.py
  src/interpretune/utils/tokenization.py
  src/it_examples/notebooks/dev/quickstart/cpu_quickstart.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/quickstart/cpu_quickstart.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_hub_components.py
  tests/core/test_rte_core_direct_forward.py
Labels: module: base, module: utils, area: examples, area: notebooks, area: tests, area: docs, config

Split a GPU phase into small and large memory classes for two-stage device placement
  tests/conftest.py
  tests/gpu_ci/test_gpu_mem_class.py
Labels: area: tests

Select GPU tests per change on pull request gates, and run the full set on a nightly and weekly schedule (#747)
  .azure-pipelines/gpu-tests.yml
  AGENTS.md
  tests/README.md
  tests/gpu_ci/plan_gpu_run.py
  tests/gpu_ci/select_gpu_tests.py
  tests/gpu_ci/test_plan_gpu_run.py
Labels: area: tests, area: docs, config

Let the GPU run planner read the checkout inside the job container, and report git's own failures
  .azure-pipelines/gpu-tests.yml
  tests/gpu_ci/plan_gpu_run.py
  tests/gpu_ci/test_plan_gpu_run.py
Labels: area: tests, config

Split a GPU phase into small and large memory classes for two-stage device placement
  tests/conftest.py
  tests/gpu_ci/test_gpu_mem_class.py
Labels: area: tests

Shut out global and system git configuration in the ownership test
  tests/gpu_ci/test_plan_gpu_run.py
Labels: area: tests

Name absent backends in composition misses (advances #253)
  src/interpretune/adapters/registration.py
  tests/core/test_bundled_composition_requires.py
Labels: module: adapters, adapter: registration, area: tests

Carry coverage flags forward; refuse trailing-pad generate batches (#230, #123)
  .codecov.yml
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/test_adapters_transformer_lens.py
Labels: module: adapters, area: tests, config

Document profiler_cfg with example; Lightning uses native trainer.profiler (#11)
  src/interpretune/config/profiling.py
Labels: module: config

Verify Lightning trainer.profiler passthrough; document example (#11)
  tests/core/test_components_cli.py
Labels: area: tests

Add ProfilerCfg with exactly-one-active invariant (#11)
  src/interpretune/config/profiling.py
  tests/core/test_profiler_config.py
Labels: module: config, area: tests

Attach profiler_cfg to ITConfig with core CLI surface (#11)
  src/interpretune/base/components/cli.py
  src/interpretune/config/__init__.py
  src/interpretune/config/module.py
  src/interpretune/config/profiling.py
  tests/core/test_components_cli.py
Labels: module: base, module: config, area: tests

Regenerate loader baselines with default-off profiler_cfg (#11)
  tests/core/fixtures/cli_session_baseline_specs.json
Labels: area: tests, config

Classify the new profiler config for GPU test selection (#11)
  tests/gpu_ci/areas.yaml
Labels: area: tests, config

Carry use_error_term through the SAE config constructors (#69)
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/sae_lens/config.py
  tests/core/fixtures/cli_session_baseline_specs.json
  tests/core/test_adapters_sae_lens.py
Labels: module: adapters, module: config, area: tests, config

Interpret gated-model auth failures at load time (advances #253)
  src/interpretune/adapters/transformer_lens/adapter.py
  src/interpretune/utils/hf_auth_errors.py
  tests/core/test_failure_messages.py
Labels: module: adapters, module: utils, area: tests

Add the adapter-selection guide, pinned to the registry (#256)
  docs/source/index.md
  docs/source/usage/adapter_selection_guide.md
  tests/core/test_docs_adapter_guide.py
Labels: area: tests, area: docs

Move resource snapshot helpers into the main package (#210)
  src/interpretune/utils/resource_mgmt.py
  tests/analysis_resource_utils.py
  tests/conftest.py
  tests/core/conftest.py
  tests/core/test_analysis_ops_definitions.py
  tests/core/test_analysis_resource_utils.py
Labels: module: utils, area: tests

Let the GPU run planner read the checkout inside the job container, and split GPU phases into memory classes (#751)
  .azure-pipelines/gpu-tests.yml
  tests/conftest.py
  tests/gpu_ci/plan_gpu_run.py
  tests/gpu_ci/test_gpu_mem_class.py
  tests/gpu_ci/test_plan_gpu_run.py
Labels: area: tests, config

Refuse trailing-pad tensor batches in every TL composition
  src/interpretune/adapters/transformer_lens/adapter.py
  tests/core/test_adapters_transformer_lens.py
  tests/core/test_debug_generation.py
Labels: module: adapters, area: tests

State why use_error_term is set on the SAE handle
  src/interpretune/adapters/sae_lens/adapter.py
  src/interpretune/adapters/sae_lens/config.py
Labels: module: adapters, module: config

Say the moved resource helpers are not re-exported
  tests/analysis_resource_utils.py
Labels: area: tests

Fix the adapter guide's unresolved links and pin the list both ways
  docs/source/index.md
  docs/source/usage/adapter_selection_guide.md
  tests/core/test_docs_adapter_guide.py
Labels: area: tests, area: docs

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
