Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'

Review feedback on the opt-in notebook: precedence overview, offline framing, drop "flagship" (#266)
  docs/hub_trust_posture.md
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  scripts/publish_op_collection.py
  src/interpretune/analysis/ops/bundled/concept/concept_ops.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/publish.py
  src/it_examples/notebooks/dev/example_op_collections/bundled_ops_hub_optin.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/example_op_collections/bundled_ops_hub_optin.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_op_collection_publish_roundtrip.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, area: scripts, config

Refresh the registered-benchmark registry after the #271 unblock
  tests/benchmarks/benchmark_registry.yaml
Labels: area: tests, config

Name the three supported install flows, and why bare pip is not one (#266)
  .github/copilot-instructions.md
  CLAUDE.md
Labels: area: docs, area: ci

Install the paired torchvision pin under the same torch backend
  scripts/build_it_env.sh
Labels: area: scripts

Install the paired torchvision pin under the same torch backend (#272)
  scripts/build_it_env.sh
Labels: area: scripts

Forbid bare pip in dev venvs; keep agent workstreams out of shipped docs
  CLAUDE.md
Labels: area: docs

Correct the pip-policy causal story and reconcile the from-source recipe
  CLAUDE.md
Labels: area: docs

Consume the benchmark registry's clean-tree bypass instead of merely honoring it
  .gitignore
  tests/benchmarks/run_benchmarks.py
  tests/benchmarks/test_benchmarks.py
Labels: area: tests

Replace the unverified jsonargparse cap with a measured one, and pin CI at 4.48.0
  pyproject.toml
  requirements/ci/requirements.txt
  requirements/docs.txt
  src/interpretune/base/components/cli.py
Labels: module: base, area: docs, area: build, dependencies, config

Distinguish "git would not answer" from "not ignored" in the gitignore pin
  tests/benchmarks/test_benchmarks.py
Labels: area: tests

Forbid bare pip in dev venvs; reconcile the from-source recipe; keep agent workstreams out of shipped docs (#276)
  CLAUDE.md
Labels: area: docs

Consume the registry clean-tree bypass; replace the unverified jsonargparse cap (#275) (#277)
  .gitignore
  pyproject.toml
  requirements/ci/requirements.txt
  requirements/docs.txt
  src/interpretune/base/components/cli.py
  tests/benchmarks/run_benchmarks.py
  tests/benchmarks/test_benchmarks.py
Labels: module: base, area: tests, area: docs, area: build, dependencies, config

Migrate off ArgumentParser.instantiate_classes; document what the ceiling gates
  pyproject.toml
  requirements/ci/requirements.txt
  requirements/docs.txt
  src/interpretune/base/components/cli.py
  tests/warns.py
Labels: module: base, area: tests, area: docs, area: build, dependencies, config

Fix the documented user install command, which does not run
  CLAUDE.md
  README.md
Labels: area: docs

Correct the version boundary in the ActionConfigFile suppression note
  src/interpretune/base/components/cli.py
Labels: module: base

Fix the documented user install command, which does not run (#285)
  CLAUDE.md
  README.md
Labels: area: docs

Stamp op-collection provenance at write time (#284)
  docs/analysis_store_serialization.md
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/config/analysis.py
  src/interpretune/hub/artifacts.py
  tests/core/test_hub_artifacts.py
Labels: module: analysis, module: config, area: tests, area: docs

Document what a provenance entry identifies, and what `local` cannot
  docs/analysis_store_serialization.md
  tests/core/test_hub_artifacts.py
Labels: area: tests, area: docs

Record why the provenance stamp cannot force a cold definition load
  src/interpretune/config/analysis.py
Labels: module: config

Inherited op inputs are not obligations
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_schema_compiler.py
Labels: module: analysis, area: tests

Migrate off ArgumentParser.instantiate_classes; document what the <5.0 ceiling gates (#286)
  pyproject.toml
  requirements/ci/requirements.txt
  requirements/docs.txt
  src/interpretune/base/components/cli.py
  tests/warns.py
Labels: module: base, area: tests, area: docs, area: build, dependencies, config

Move the cache-format tripwire to 5 alongside the bump
  tests/core/test_analysis_op_state.py
Labels: area: tests

Stamp op-collection provenance at write time (#284) (#288)
  docs/analysis_store_serialization.md
  src/interpretune/analysis/core.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/config/analysis.py
  src/interpretune/hub/artifacts.py
  tests/core/test_hub_artifacts.py
Labels: module: analysis, module: config, area: tests, area: docs

Make Column handling consistent and IterableColumn-safe (#175 slice A)
  src/interpretune/analysis/core.py
  tests/core/test_analysis_core.py
Labels: module: analysis, area: tests

Validate the documented user install flow on a schedule (#270 Tier 1)
  .github/workflows/readme-flow-smoke.yml
Labels: area: ci, config

Validate the documented user install flow on a schedule (#270 Tier 1) (#292)
  .github/workflows/readme-flow-smoke.yml
Labels: area: ci, config

Inherited op inputs are not obligations (#161) (#289)
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/compiler/schema_compiler.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_base.py
  tests/core/test_schema_compiler.py
Labels: module: analysis, area: tests

Make a compiler change require an acknowledged cache-format bump
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

Record #289's cache-format bump in the tripwire's pins
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

Cover the GPU-gated half of the README install flow (#270 Tier 2)
  .azure-pipelines/readme-flow-gpu.yml
Labels: config

Assert the GPU surface actually ran, not just that it passed
  .azure-pipelines/assert_surface.sh
  .azure-pipelines/readme-flow-gpu.yml
Labels: area: scripts, config

Make Column handling consistent and IterableColumn-safe (#175 slice A) (#291)
  src/interpretune/analysis/core.py
  tests/core/test_analysis_core.py
Labels: module: analysis, area: tests

Digest content, not the checkout that produced it
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

WIP (PARKED): lazy Column transforms for #175 slice B
  src/interpretune/analysis/core.py
Labels: module: analysis

Make a compiler change require an acknowledged cache-format bump (#290) (#293)
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

docs: generalize the surface-assertion rationale, dropping a machine-specific pointer
  .azure-pipelines/assert_surface.sh
Labels: area: scripts

Cover the GPU-gated half of the README install flow (#270 Tier 2) (#294)
  .azure-pipelines/assert_surface.sh
  .azure-pipelines/readme-flow-gpu.yml
Labels: area: scripts, config

Cover protocol_cls in the OpDef round-trip test
  tests/core/test_analysis_op_state.py
Labels: area: tests

Support user-defined BaseAnalysisBatchProtocol classes (#56)
  src/interpretune/analysis/ops/base.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_dispatcher.py
Labels: module: analysis, area: tests

Acknowledge the compiler-source digest for the OpDef field addition
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests
