Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Make #283's deferred work fire at the schema bump instead of relying on the issue being read (#321)
  tests/core/test_hub_artifacts.py
Labels: area: tests

docs: record the patch intervention mode and the #225/#273 J-space split
  docs/interpretune_intervention_apis.md
  docs/source/roadmap.md
Labels: area: docs

Curated examples gallery, publish-lane freshness gate, scheduled linkcheck (#226)
  .github/workflows/docs-build.yml
  .github/workflows/docs-linkcheck.yml
  docs/source/conf.py
  docs/source/examples.md
Labels: area: docs, area: ci, config

Re-stamp stale op surfaces; guard the direction two correct PRs weakened (#318)
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

Curated examples gallery, publish-lane freshness gate, scheduled linkcheck (#226) (#324)
  .github/workflows/docs-build.yml
  .github/workflows/docs-linkcheck.yml
  docs/source/conf.py
  docs/source/examples.md
Labels: area: docs, area: ci, config

docs: require residual scope on the ISSUE, not only in the PR body (#322)
  CLAUDE.md
Labels: area: docs

docs: record the patch intervention mode and the #225/#273 J-space split (#323)
  docs/interpretune_intervention_apis.md
  docs/source/roadmap.md
Labels: area: docs

Assert the native path rendering in the restamp-refusal test
  tests/core/test_notebook_artifact_staleness.py
Labels: area: tests

ci: source the gated-repo env var from the RW secret until the #261 flip
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
Labels: area: ci, config

Re-stamp stale op surfaces; guard the direction two correct PRs weakened (#318) (#325)
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
  docs/notebook_artifacts/shared_analysis/shared_analysis_roundtrip.ipynb
  scripts/render_notebook_docs_artifacts.py
  tests/core/test_notebook_artifact_staleness.py
Labels: area: notebooks, area: tests, area: docs, area: scripts

ci: source the gated-repo env var from the RW secret until the #261 flip (#328)
  .github/workflows/ci_test-full.yml
  .github/workflows/copilot-setup-steps.yml
Labels: area: ci, config

Measure NNsight output tuple-ness at runtime instead of trusting the hook map
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/impls/nnsight.py
  tests/core/test_nnsight_tuple_calibration.py
Labels: module: analysis, area: tests

Sync wrappers onto the canonical interpretune module, not the stored one
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_op_wrapper_reload_sync.py
Labels: module: analysis, area: tests

Re-sync top-level op wrappers when the dispatcher reloads definitions
  src/interpretune/analysis/ops/dispatcher.py
  tests/core/test_op_wrapper_reload_sync.py
Labels: module: analysis, area: tests

Add the J-space steering comparison to both steering demos (#273 direction ii)
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Escape strings in the generated op cache; bump CACHE_FORMAT_VERSION to 7
  src/interpretune/analysis/ops/compiler/cache_manager.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_compiler.py
Labels: module: analysis, area: tests

Fail the steering notebook tests when the J-space section skips despite a token
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: tests

Feed CI's HF_TOKEN from HF_MCP_TOKEN_RW so the private jlens collection is testable pre-#261
  .azure-pipelines/gpu-tests.yml
  .github/workflows/ci_test-full.yml
Labels: area: ci, config

Add expected-vs-actual validation for J-lens patch interventions (#329)
  tests/core/test_jlens_patch_validation.py
Labels: area: tests

Make datamodules independently shareable and addressable (#128)
  .github/instructions/registering_example_modules.instructions.md
  src/interpretune/__init__.py
  src/interpretune/config/loading.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/registry.py
  src/it_examples/examples/rte/configs/datamodule.rte_boolq.yaml
  tests/core/test_hub_datamodules.py
Labels: module: config, module: registry, area: examples, area: tests, area: docs, area: ci, config

Lean on the NamedTuple field default instead of re-passing DEFAULT_DATAMODULE
  src/interpretune/hub/api.py
Labels: none

Add the sanctioned seam for unembed + final-norm-scale resolution (#225)
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

docs: patch pairs live in the unprocessed residual basis (measured 0.948 gap under TL processing)
  docs/interpretune_intervention_apis.md
Labels: area: docs

Fix build 849: discovery must not route through a partial refs/main snapshot
  src/interpretune/__init__.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_hub_cache_snapshot_selection.py
  tests/core/test_op_wrapper_reload_sync.py
Labels: module: analysis, area: tests

Promote the seam symbols into optools' sanctioned __all__
  src/interpretune/analysis/optools.py
Labels: module: analysis

Make datamodules independently shareable and addressable (#128) (#332)
  .github/instructions/registering_example_modules.instructions.md
  src/interpretune/__init__.py
  src/interpretune/config/loading.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/components.py
  src/interpretune/hub/manifest.py
  src/interpretune/registry.py
  src/it_examples/examples/rte/configs/datamodule.rte_boolq.yaml
  tests/core/test_hub_datamodules.py
Labels: module: config, module: registry, area: examples, area: tests, area: docs, area: ci, config

J-space steering via the first genuinely non-bundled op collection, plus the three defects it flushed out (#273 dii) (#327)
  .azure-pipelines/gpu-tests.yml
  .github/workflows/ci_test-full.yml
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/interpretune/__init__.py
  src/interpretune/analysis/backends/hook_mapping.py
  src/interpretune/analysis/backends/impls/nnsight.py
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/dev/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  src/it_examples/notebooks/publish/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_analysis_op_state.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_hub_cache_snapshot_selection.py
  tests/core/test_nnsight_tuple_calibration.py
  tests/core/test_op_wrapper_reload_sync.py
Labels: module: analysis, area: examples, area: notebooks, area: tests, area: docs, area: ci, config

Sanctioned seam for unembed + final-norm-scale resolution (#225) (#333)
  src/interpretune/analysis/optools.py
  tests/core/test_unembed_norm_seam.py
Labels: module: analysis, area: tests

Expected-vs-actual validation for J-lens patch interventions (#329) (#331)
  docs/interpretune_intervention_apis.md
  tests/core/test_jlens_patch_validation.py
Labels: area: tests, area: docs

Expected-vs-actual validation for J-lens patch interventions (#329) (#331)
  docs/interpretune_intervention_apis.md
  tests/core/test_jlens_patch_validation.py
Labels: area: tests, area: docs

tests: stop overwriting memory-mapped Arrow files in place; fix the #326 noise at its source
  .github/skills/debug-remote-ci-failures/SKILL.md
  CLAUDE.md
  tests/modules.py
Labels: area: tests, area: docs, area: ci

Demote the kept-existing-dataset fallback to debug level
  tests/modules.py
Labels: area: tests

Expected-vs-actual validation for J-lens patch interventions (#329) (#331) (#335)
  docs/interpretune_intervention_apis.md
  tests/core/test_jlens_patch_validation.py
Labels: area: tests, area: docs

Make op discovery honor pinned revisions: the pin now binds execution (#334)
  docs/hub_trust_posture.md
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/pins.py
  tests/core/test_hub_cache_snapshot_selection.py
  tests/core/test_hub_op_pins.py
Labels: module: analysis, area: tests, area: docs

Acknowledge the cache_manager digest: pin-first discovery is selection, not compilation
  tests/core/test_analysis_ops_compiler.py
Labels: area: tests

Magnitude-sweep monotonicity for J-lens patch interventions (#337)
  tests/core/test_jlens_patch_validation.py
Labels: area: tests

Fix the Windows Arrow Errno-22 noise at its source; codify the diagnostic discipline (#326) (#336)
  .github/skills/debug-remote-ci-failures/SKILL.md
  CLAUDE.md
  tests/modules.py
Labels: area: tests, area: docs, area: ci

Op discovery honors pinned revisions: the pin now binds execution (#334) (#345)
  docs/hub_trust_posture.md
  src/interpretune/analysis/ops/compiler/cache_manager.py
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/hub/__init__.py
  src/interpretune/hub/api.py
  src/interpretune/hub/opcollections.py
  src/interpretune/hub/pins.py
  tests/core/test_analysis_ops_compiler.py
  tests/core/test_hub_cache_snapshot_selection.py
  tests/core/test_hub_op_pins.py
Labels: module: analysis, area: tests, area: docs

Magnitude-sweep monotonicity for J-lens patch interventions (#337) (#346)
  tests/core/test_jlens_patch_validation.py
Labels: area: tests

Ratchet public-API docstrings with ruff D101/D102/D103 + a generated baseline (#340)
  pyproject.toml
Labels: area: build, dependencies, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
