Repository speediedan/interpretune, changes with the labels that .github/labeler.yml gives for each.
All labels: module: adapters, module: analysis, module: base, module: config, module: extensions, extension: debug_generation, extension: memprofiler, extension: neuronpedia, adapter: circuit_tracer, adapter: sae_lens, adapter: lightning, adapter: transformer_lens, adapter: core, adapter: registration, module: runners, module: utils, module: protocol, module: registry, module: session, area: examples, area: experiments, area: notebooks, area: patching, area: tests, area: docs, area: ci, area: build, area: scripts, dependencies, config

Scrub renderer venv identity from notebook artifacts (#543)
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: notebooks, area: docs

Scrub renderer venv identity from notebook artifacts (#543)
  docs/notebook_artifacts/attribution_analysis/attribution_analysis.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/circuit_tracer_adapter_example_basic.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_analysis_backend_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo.ipynb
  docs/notebook_artifacts/circuit_tracer_examples/ct_concept_steering_demo_local_np.ipynb
  docs/notebook_artifacts/example_op_collections/bundled_ops_hub_optin.ipynb
  docs/notebook_artifacts/example_op_collections/op_collection_example.ipynb
  docs/notebook_artifacts/interp_engine_example/interp_engine_hub_adapter.ipynb
  docs/notebook_artifacts/neuronpedia_example/circuit_tracer_w_neuronpedia_example.ipynb
  docs/notebook_artifacts/saelens_adapter_example/saelens_adapter_example.ipynb
Labels: area: notebooks, area: docs

Collapse the single-package profiling group into test (#287)
  .github/copilot-instructions.md
  AGENTS.md
  README.md
  docs/source/index.md
  pyproject.toml
  requirements/ci/requirements.txt
  requirements/utils/lock_ci_requirements.sh
Labels: area: docs, area: ci, area: build, area: scripts, dependencies, config

Add ungated CPU-only rte_demo.gpt2.core config (#254)
  src/it_examples/examples/rte/configs/rte_demo.gpt2.core.yaml
  src/it_examples/examples/rte/it_component.yaml
  tests/core/test_hub_components.py
Labels: area: examples, area: tests, config

Move the CPU suite off the self-hosted GPU pipeline (advances #704)
  .agents/skills/az-pipelines-failure-triage/SKILL.md
  .azure-pipelines/gpu-tests.yml
  .claude/skills/az-pipelines-failure-triage/SKILL.md
  .github/copilot-instructions.md
  AGENTS.md
  tests/README.md
  tests/hf_warm_manifest.yaml
Labels: area: tests, area: docs, area: ci, config

Ship the CPU-only quickstart: notebook, test, links and artifact (#254)
  README.md
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
  docs/source/examples.md
  docs/source/index.md
  src/it_examples/notebooks/dev/quickstart/cpu_quickstart.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/quickstart/cpu_quickstart.ipynb
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Re-render quickstart artifact after cell formatting (#254)
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
Labels: area: notebooks, area: docs

Add Lightning support for analysis_step execution (#91)
  src/interpretune/adapters/lightning.py
  tests/core/test_lightning_analysis_step.py
Labels: module: adapters, adapter: lightning, area: tests

Bump discovered-config count for the new core config (#254)
  tests/core/test_loader_equivalence.py
Labels: area: tests

Read analysis config without tripping the unset warning (#91)
  src/interpretune/adapters/lightning.py
Labels: module: adapters, adapter: lightning

Collapse the single-package profiling group into test (#287)
  .github/copilot-instructions.md
  AGENTS.md
  README.md
  docs/source/index.md
  pyproject.toml
  requirements/ci/requirements.txt
  requirements/utils/lock_ci_requirements.sh
Labels: area: docs, area: ci, area: build, area: scripts, dependencies, config

Conformance: validate an op collection's working tree before publishing (#711)
  docs/adapter_conformance_contract.md
  src/interpretune/analysis/ops/dispatcher.py
  src/interpretune/testing/conformance/__init__.py
  src/interpretune/testing/conformance/collections.py
  tests/core/test_conformance_harness.py
Labels: module: analysis, area: tests, area: docs

Docs: bring the J-lens and intervention pages onto the settled API (#706)
  docs/interpretune_intervention_apis.md
  docs/jlens_usage.md
  docs/source/roadmap.md
Labels: area: docs

Quickstart: HF generation config, explicit pull and trust, token note (#254)
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
  src/it_examples/examples/rte/configs/rte_demo.gpt2.core.yaml
  src/it_examples/notebooks/dev/quickstart/cpu_quickstart.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/quickstart/cpu_quickstart.ipynb
Labels: area: examples, area: notebooks, area: docs, config

Lightning analysis setup: honor ignore_manual, make the generated step run (#91)
  src/interpretune/adapters/lightning.py
  src/interpretune/config/runner.py
  tests/core/test_lightning_analysis_step.py
Labels: module: adapters, module: config, adapter: lightning, module: runners, area: tests

Ship the CPU-only quickstart: config, notebook, test and links (#715)
  README.md
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
  docs/source/examples.md
  docs/source/index.md
  src/it_examples/examples/rte/configs/rte_demo.gpt2.core.yaml
  src/it_examples/examples/rte/it_component.yaml
  src/it_examples/notebooks/dev/quickstart/cpu_quickstart.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/quickstart/cpu_quickstart.ipynb
  src/it_examples/tests/test_notebooks.py
  tests/core/test_hub_components.py
  tests/core/test_loader_equivalence.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Add Lightning support for analysis_step execution (#716)
  src/interpretune/adapters/lightning.py
  src/interpretune/config/runner.py
  tests/core/test_lightning_analysis_step.py
Labels: module: adapters, module: config, adapter: lightning, module: runners, area: tests

Move the CPU suite off the self-hosted GPU pipeline (#714)
  .agents/skills/az-pipelines-failure-triage/SKILL.md
  .azure-pipelines/gpu-tests.yml
  .claude/skills/az-pipelines-failure-triage/SKILL.md
  .github/copilot-instructions.md
  AGENTS.md
  tests/README.md
  tests/hf_warm_manifest.yaml
Labels: area: tests, area: docs, area: ci, config

Docs: state the measured cross-backend folding results; move the weight-processing note to TransformerLens 4.0
  docs/interpretune_intervention_apis.md
  docs/jlens_norm_folding.md
Labels: area: docs

Docs: state the measured cross-backend folding results; move the weight-processing note to TransformerLens 4.0 (#718)
  docs/interpretune_intervention_apis.md
  docs/jlens_norm_folding.md
Labels: area: docs

Docs: let pages with tables use the viewport width, as notebook pages already do (#595)
  docs/source/_static/custom.css
Labels: area: docs

Docs: let pages with tables use the viewport width, as notebook pages already do (#721)
  docs/source/_static/custom.css
Labels: area: docs

Add composable it_session_cfg CLI args for session identity fields (#15)
  src/interpretune/base/components/cli.py
  tests/core/test_components_cli.py
Labels: module: base, area: tests

Declare HF input names for the core RTE config so Trainer loops run on it (#717)
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
  src/interpretune/base/components/mixins.py
  src/it_examples/examples/rte/configs/rte_demo.gpt2.core.yaml
  src/it_examples/notebooks/dev/quickstart/cpu_quickstart.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/quickstart/cpu_quickstart.ipynb
  tests/core/test_rte_core_direct_forward.py
Labels: module: base, area: examples, area: notebooks, area: tests, area: docs, config

Name intervention payloads in conformance samples via suite-resolved fixtures (advances #450)
  docs/adapter_conformance_contract.md
  src/interpretune/testing/conformance/collections.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/payloads.py
  tests/core/test_conformance_harness.py
Labels: area: tests, area: docs

Pin protocol step methods super-callable (#16)
  tests/core/test_contract.py
Labels: area: tests

Give each core-config forward test its own dataset directory
  tests/core/test_rte_core_direct_forward.py
Labels: area: tests

Declare HF input names for the core RTE config so Trainer loops run on it (#732)
  docs/notebook_artifacts/quickstart/cpu_quickstart.ipynb
  src/interpretune/base/components/mixins.py
  src/it_examples/examples/rte/configs/rte_demo.gpt2.core.yaml
  src/it_examples/notebooks/dev/quickstart/cpu_quickstart.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/quickstart/cpu_quickstart.ipynb
  tests/core/test_rte_core_direct_forward.py
Labels: module: base, area: examples, area: notebooks, area: tests, area: docs, config

WIP runner-flexibility demo notebook (#55)
  src/it_examples/notebooks/dev/runners/runner_flexibility_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/runners/runner_flexibility_demo.ipynb
Labels: area: examples, area: notebooks, config

Read demo batch input through get_batch_input (#55)
  src/it_examples/notebooks/dev/runners/runner_flexibility_demo.ipynb
  src/it_examples/notebooks/publish/runners/runner_flexibility_demo.ipynb
Labels: area: examples, area: notebooks

Ship the runner-flexibility demo: notebook, test, links and artifact (#55)
  docs/notebook_artifacts/runners/runner_flexibility_demo.ipynb
  docs/source/examples.md
  src/it_examples/notebooks/dev/runners/runner_flexibility_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/runners/runner_flexibility_demo.ipynb
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Re-render flex demo artifact from final sources (#55)
  docs/notebook_artifacts/runners/runner_flexibility_demo.ipynb
Labels: area: notebooks, area: docs

Let Trainer own data preparation in the flexibility demo (#55)
  src/it_examples/notebooks/dev/runners/runner_flexibility_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/runners/runner_flexibility_demo.ipynb
Labels: area: examples, area: notebooks, config

Re-render flex demo artifact after prep fix (#55)
  docs/notebook_artifacts/runners/runner_flexibility_demo.ipynb
Labels: area: notebooks, area: docs

Skip flex demo notebook test on Windows (#55)
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: tests

Add composable it_session_cfg CLI args for session identity fields (#15)
  src/interpretune/base/components/cli.py
  tests/core/test_components_cli.py
Labels: module: base, area: tests

Pin protocol step methods super-callable (#16)
  tests/core/test_contract.py
Labels: area: tests

Name intervention payloads in conformance samples via suite-resolved fixtures
  docs/adapter_conformance_contract.md
  src/interpretune/testing/conformance/collections.py
  src/interpretune/testing/conformance/inputs.py
  src/interpretune/testing/conformance/payloads.py
  tests/core/test_conformance_harness.py
Labels: area: tests, area: docs

Ship the runner-flexibility demo: notebook, test, links and artifact (#55)
  docs/notebook_artifacts/runners/runner_flexibility_demo.ipynb
  docs/source/examples.md
  src/it_examples/notebooks/dev/runners/runner_flexibility_demo.ipynb
  src/it_examples/notebooks/publish/.notebook_hashes.json
  src/it_examples/notebooks/publish/runners/runner_flexibility_demo.ipynb
  src/it_examples/tests/test_notebooks.py
Labels: area: examples, area: notebooks, area: tests, area: docs, config

Add per-change GPU test selection, inert until the pipeline wires it
  tests/README.md
  tests/conftest.py
  tests/gpu_ci/areas.yaml
  tests/gpu_ci/select_gpu_tests.py
  tests/gpu_ci/test_gpu_selection.py
Labels: area: tests, area: docs, config

.github/labeler.yml:

# Interpretune Auto-Labeler Configuration
# Compatible with actions/labeler@v5
# Automatically applies labels based on changed files in PRs

# High-level module labels for interpretune core folders
"module: adapters":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/**'
    - '**/adapter*.py'

"module: analysis":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/analysis/**'

"module: base":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/base/**'

"module: config":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/config/**'
    - '**/config*.py'
    - '**/config*.yaml'
    - '**/config*.json'

"module: extensions":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/extensions/**'

# Specific extensions
"extension: debug_generation":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/debug_generation.py'
    - '**/debug_generation*.py'

"extension: memprofiler":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/memprofiler.py'
    - '**/memprofiler*.py'
    - '**/memory_profil*.py'

"extension: neuronpedia":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/extensions/neuronpedia.py'
    - '**/neuronpedia*.py'
    - '**/neuron_pedia*.py'

# Specific adapters
"adapter: circuit_tracer":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/circuit_tracer.py'
    - '**/circuit_tracer*.py'
    - '**/circuit-tracer*.py'

"adapter: sae_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/sae_lens.py'
    - '**/sae_lens*.py'
    - '**/sae-lens*.py'

"adapter: lightning":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/lightning.py'
    - '**/lightning*.py'

"adapter: transformer_lens":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/adapters/transformer_lens.py'
    - '**/transformer_lens*.py'
    - '**/transformer-lens*.py'

"adapter: core":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/core.py'

"adapter: registration":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/adapters/registration.py'

"module: runners":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/runners/**'
    - '**/runner*.py'

"module: utils":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/utils/**'
    - '**/util*.py'

# Special file: protocol.py
"module: protocol":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/protocol.py'

# Registry and session files
"module: registry":
- changed-files:
  - any-glob-to-any-file:
    - 'src/interpretune/registry.py'
    - 'src/interpretune/adapter_registry.py'
    - 'src/interpretune/module_registry.yaml'
    - '**/registry*.py'
    - '**/registry*.yaml'

"module: session":
- changed-files:
  - any-glob-to-any-file: 'src/interpretune/session.py'

# Examples and experiments
"area: examples":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/**'
    - 'examples/**'
    - '**/example*.py'

"area: experiments":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/experiments/**'

"area: notebooks":
- changed-files:
  - any-glob-to-any-file:
    - 'src/it_examples/notebooks/**'
    - '**/*.ipynb'

"area: patching":
- changed-files:
  - any-glob-to-any-file: 'src/it_examples/patching/**'

# Testing
"area: tests":
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**'
    - 'test/**'
    - '**/test_*.py'
    - '**/*_test.py'

# Documentation and configuration files
"area: docs":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - 'docs/**'
    - '**/*.txt'
    - 'README*'
    - 'CHANGELOG*'
    - 'CONTRIBUTING*'

"area: ci":
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
    - '.pre-commit-config.yaml'
    - '**/.github/**'

"area: build":
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'setup.py'
    - 'setup.cfg'
    - 'MANIFEST.in'
    - 'requirements.txt'
    - 'requirements/**'

"area: scripts":
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'
    - '**/*.sh'
    - '**/*.bat'

# Dependencies and environment
"dependencies":
- changed-files:
  - any-glob-to-any-file:
    - 'requirements.txt'
    - 'requirements/**'
    - 'pyproject.toml'
    - 'setup.py'
    - 'poetry.lock'
    - 'Pipfile*'

# Configuration files
"config":
- changed-files:
  - any-glob-to-any-file:
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.json'
    - '**/*.toml'
    - '**/*.cfg'
    - '**/*.ini'
    - '.env*'
